<div class="row">
    <div class="col-sm-offset-2 col-sm-8">

        <div class="row">
            <div class="col-sm-6">
                <label for="purchaseAmount" class="purchase-amount" translate>REFUND_CALCULATOR.VALUE</label>
            </div>
            <div class="col-sm-6">
                <label for="purchaseAmount" class="purchase-amount" translate>REFUND_CALCULATOR.ESTIMATED_REFUND_VALUE</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 input-container">
                <span class="sneaky-symbol">{{vm.currencySymbol}}</span>
                <input type="number" pattern="[0-9]*\.?[0-9]+" id="purchaseAmount"
                       ng-model="vm.purchaseAmount"
                       ng-class="{ inputHasValue: vm.purchaseAmount }"
                       ng-focus="vm.purchaseAmount = null"
                       placeholder="0"
                       />
            </div>
            <div class="col-sm-6">
                <span class="amount">
                    <span ng-show="vm.refundAmount.status === 'OK'">{{vm.refundAmount.totalRefund | currency:vm.refundAmount.currencySymbol}}</span>
                    <span ng-show="vm.refundAmount.status !== 'OK'" translate>MISC.NOT_AVAILABLE</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                 <span class="min-description">
                    <span class="min-amount" translate>REFUND_CALCULATOR.MINIMUM_AMOUNT</span>
                    : {{vm.minimumAmount | currency:vm.currencySymbol}}
                </span>
            </div>
        </div>


    </div>
</div>