﻿<ng-form name="myForm" class="standardForm">
    <div class="row" ng-if="!hiddenFields.Tourist.LastName">

        <label for="title"
               class="col-sm-offset-1 col-lg-offset-2 col-sm-3"
               style="font-weight: bold;font-size: larger;"
               ng-class="{ required: requiredFields.Tourist.Title || requiredFields.Tourist.LastName }"
               data-translate>
               NEWCUSTOMER.NAME_AND_TITLE
        </label>

        <div class="col-sm-2 col-lg-1">
            <div class="select-wrapper">
                <select ng-model="Tourist.Title" ng-class="{ inputHasValue: Tourist.Title }" name="title" id="title"
                        ng-required="requiredFields.Tourist.Title" ng-options="t.id as t.name for t in titles"
                        style="font-weight: bold;font-size: larger;"
                        
                        >
                    <option value="" data-translate>NEWCUSTOMER.TITLE_PLACEHOLDER</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <input type="text" name="firstName" id="firstName" data-ng-model="Tourist.FirstName"
                   ng-class="{ inputHasValue: Tourist.FirstName }" ng-required="requiredFields.Tourist.FirstName"
                   placeholder="{{'NEWCUSTOMER.FIRSTNAME_PLACEHOLDER' | translate}}">

            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.firstName.$valid || myForm.firstName.$untouched"
                  ng-include="'images/svg/validation.svg' " placeholder="{{'NEWCUSTOMER.FIRSTNAME_PLACEHOLDER' | translate}}"></span>
            <p class="help-block validationMessage" ng-show="myForm.firstname.$error.required && myForm.firstname.$touched"
               data-translate>VALIDATION.REQUIRED</p>
        </div>

        <div class="col-sm-2">
            <input type="text" name="lastName" id="lastName" data-ng-model="Tourist.LastName"
                   ng-class="{ inputHasValue: Tourist.LastName }" ng-required="requiredFields.Tourist.LastName"
                   placeholder="{{'NEWCUSTOMER.SURNAME_PLACEHOLDER' | translate}}">
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.lastName.$valid || myForm.lastName.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.lastName.$error.required && myForm.lastName.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>

    </div>

    <div class="row" ng-if="!hiddenFields.Tourist.Nationality">

        <label for="nationality"
               class="col-sm-offset-1 col-lg-offset-2 col-sm-3"
               ng-class="{ required: requiredFields.Tourist.Nationality }"
               style="font-weight: bold;font-size: larger;"
               data-translate>
               NEWCUSTOMER.NATIONALITY
        </label>

        <div class="col-sm-6 col-lg-5">
            <!--<ui-select name="issuingCountry" ng-model="Tourist.Nationality.Name"  ng-disabled="disabled"
                       theme="selectize" ng-required="requiredFields.Tourist.Nationality" on-select="onCountrySelected($item)">
                <ui-select-match placeholder="{{'NEWCUSTOMER.NATIONALITY_PLACEHOLDER' | translate}}">
                    <div class="dropdownWithIcon dropdownWithIconSelectedValue"
                         ng-class="$select.selected ? 'icon-flags-'+$select.selected.flag : ''"><span>{{$select.selected.name}}</span></div>
                </ui-select-match>
                <ui-select-choices repeat="country.name as country in countries | filter: {name: $select.search}">
                    <div class="dropdownWithIcon" ng-class="'icon-flags-'+country.flag">
                        <span ng-bind-html="country.name | highlight: $select.search"></span></div>
                </ui-select-choices>
            </ui-select>-->
            <div class="select-wrapper">
                <select name="nationality" ng-model="Tourist.Nationality" ng-disabled="disabled"
                        ng-required="requiredFields.Tourist.Nationality"
                        ng-options="country as country.Name for country in countries track by country.Iso3Digit"
                        ng-class="{ inputHasValue: Tourist.Nationality }">
                    <option value="" data-translate>NEWCUSTOMER.NATIONALITY_PLACEHOLDER</option>
                </select>
            </div>
            <p class="help-block validationMessage"
               ng-show="myForm.nationality.$error.required && myForm.nationality.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row" mu-validate-date="requiredFields.Tourist.DateOfBirth" data-ng-model="Tourist.DateOfBirth" data-under-age="Tourist.underAge" ng-if="!hiddenFields.Tourist.DateOfBirth">

        <label for="year"
               class="col-sm-offset-1 col-lg-offset-2 col-sm-3"
               ng-class="{ required: requiredFields.Tourist.DateOfBirth }"
               style="font-weight: bold;font-size: larger;"
               data-translate>
               NEWCUSTOMER.DOB
        </label>

        <div class="col-sm-2 col-lg-1">

            <div class="select-wrapper">

                <select name="day" id="day"
                        ng-options="day for day in dateDropdowns.days"
                        ng-model="Tourist.DateOfBirth_.day"
                        ng-class="{ inputHasValue: Tourist.DateOfBirth_.day }"
                        ng-required="requiredFields.Tourist.DateOfBirth"
                >
                    <option translate value="">NEWCUSTOMER.DAY_PLACEHOLDER</option>
                </select>

            </div>

            <p class="help-block validationMessage" ng-show="myForm.day.$error.required && myForm.day.$touched" data-translate>VALIDATION.REQUIRED</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.incompleteDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INCOMPLETE</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.invalidDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INVALID</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.underAgeDateOfBirth" data-translate>VALIDATION.DATE_ERROR_UNDER_AGE</p>

            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.futureDate" data-translate>VALIDATION.DATE_ERROR_FUTURE</p>
        </div>
        <div class="col-sm-2">
            <div class="select-wrapper">
                <select name="month" ng-options="month.id as month.name for month in dateDropdowns.months"
                        ng-model="Tourist.DateOfBirth_.month" ng-class="{ inputHasValue: Tourist.DateOfBirth_.month || Tourist.DateOfBirth_.month === 0}"
                        ng-required="requiredFields.Tourist.DateOfBirth">
                    <option translate value="">NEWCUSTOMER.MONTH_PLACEHOLDER</option>
                </select>
            </div>

            <p class="help-block validationMessage" ng-show="myForm.month.$error.required && myForm.month.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-2">
            <div class="select-wrapper">
                <select name="year" ng-options="year for year in dateDropdowns.years" ng-model="Tourist.DateOfBirth_.year"
                        ng-class="{ inputHasValue: Tourist.DateOfBirth_.year }" ng-required="requiredFields.Tourist.DateOfBirth">
                    <option translate value="">NEWCUSTOMER.YEAR_PLACEHOLDER</option>
                </select>
            </div>
            <p class="help-block validationMessage" ng-show="myForm.year.$error.required && myForm.year.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row" ng-if="showEmail && !hiddenFields.Tourist.Email">

        <label for="email"
               class="col-sm-offset-2 col-sm-5"
               ng-class="{ required: requiredFields.Tourist.Email }"
               style="font-weight: bold;font-size: larger;"
               data-translate>
               NEWCUSTOMER.EMAIL
        </label>

        <div class="col-sm-2">
            <input type="email" name="email" id="email" data-ng-model="Tourist.Email" ng-class="{ inputHasValue: Tourist.Email.length }"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                   ng-required="requiredFields.Tourist.Email" placeholder="{{'NEWCUSTOMER.EMAIL_PLACEHOLDER' | translate}}">
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.email.$valid || myForm.email.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.email.$error.required && myForm.email.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>

    </div>

    <!--Errors: <ul>
                    <li ng-repeat="(key, errors) in myForm.$error track by $index">
                        <strong>{{ key }}</strong> errors
                        <ul>
                            <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                        </ul>
                    </li>
    </ul>-->
</ng-form>
