﻿
<ng-form name="myForm" class="standardForm">

    <!-- Note: we assume that if a field is hidden / required on Tourist address then the same is true on AlternativeAddress -->
    <div class="row" ng-if="!hiddenFields.Tourist.Address.Country.Name">

        <label for="countryOfResidence"
               class="col-sm-offset-2 col-sm-3"
               ng-class="{ required: requiredFields.Tourist.Address.Country }"
               data-translate>
               NEWCUSTOMER.COUNTRY_OF_RESIDENCE
        </label>

        <div class="col-sm-5">
            <!--<ui-select name="countryOfResidence" ng-model="Address.Country.Name" ng-disabled="disabled"
                       theme="selectize" ng-required="requiredFields.Tourist.Address.Country.Name" on-select="onCountrySelected($item)">

                <ui-select-match placeholder="{{'NEWCUSTOMER.COUNTRY_OF_RESIDENCE_PLACEHOLDER' | translate}}">
                    <div class="dropdownWithIcon dropdownWithIconSelectedValue" ng-class="$select.selected ? 'icon-flags-'+$select.selected.flag : ''">
                        <span>{{$select.selected.name}}</span>
                    </div>
                </ui-select-match>

                <ui-select-choices repeat="country.name as country in countries | filter: {name: $select.search}">
                    <div class="dropdownWithIcon" ng-class="'icon-flags-'+country.flag">
                        <span ng-bind-html="country.name | highlight: $select.search"></span>
                    </div>
                </ui-select-choices>
            </ui-select>-->
            <div class="select-wrapper">
                <select
                    name="countryOfResidence"
                    ng-model="Address.Country" ng-disabled="disabled"
                    ng-required="requiredFields.Tourist.Address.Country"
                    ng-options="country as country.Name for country in countries track by country.Iso3Digit"
                    ng-class="{ inputHasValue: Address.Country }">
                        <option value="" data-translate>NEWCUSTOMER.COUNTRY_OF_RESIDENCE_PLACEHOLDER</option>
                </select>
            </div>

            <p class="help-block validationMessage" ng-show="myForm.countryOfResidence.$error.required && myForm.countryOfResidence.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row" ng-if="!hiddenFields.Tourist.Address.AddressLine1">

        <label for="street"
               class="col-sm-offset-2 col-sm-3"
               ng-class="{ required: requiredFields.Tourist.Address.AddressLine1 }"
               data-translate>
               NEWCUSTOMER.STREET_AND_HOUSE_NUMBER_PLACEHOLDER
        </label>

        <div class="col-sm-5">
            <input
                name="street"
                id="street"
                type="text"
                data-ng-model="Address.AddressLine1"
                ng-class="{ inputHasValue: Address.AddressLine1 }"
                ng-required="requiredFields.Tourist.Address.AddressLine1"
                placeholder="{{'NEWCUSTOMER.STREET_AND_HOUSE_NUMBER_PLACEHOLDER' | translate}}"
            />
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.street.$valid || myForm.street.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.street.$error.required && myForm.street.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row" ng-if="!hiddenFields.Tourist.Address.AddressLine2">

        <label for="address2"
               class="col-sm-offset-2 col-sm-3"
               data-translate></label>

        <div class="col-sm-5">
            <input
                name="address2" id="address2"
                type="text"
                data-ng-model="Address.AddressLine2"
                ng-required="requiredFields.Tourist.Address.AddressLine2"
                ng-class="{ inputHasValue: Address.AddressLine2 }"
            />
        </div>
    </div>

    <div class="row" ng-if="!hiddenFields.Tourist.Address.City">
        <div class="col-sm-offset-5 col-sm-5">
            <input name="city" id="city" type="text" data-ng-model="Address.City" ng-class="{ inputHasValue: Address.City }" ng-required="requiredFields.Tourist.Address.City" placeholder="{{'NEWCUSTOMER.CITY_PLACEHOLDER' | translate}}" />
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.city.$valid || myForm.city.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.city.$error.required && myForm.city.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row" ng-if="!hiddenFields.Tourist.Address.PostalCode">
        <div class="col-sm-offset-5 col-sm-5">
            <input
                type="text"
                name="zip" id="zip"
                data-ng-model="Address.PostalCode"
                ng-maxlength="10"
                ng-class="{ inputHasValue: Address.PostalCode }"
                ng-required="requiredFields.Tourist.Address.PostalCode"
                placeholder="{{'NEWCUSTOMER.ZIP_PLACEHOLDER' | translate}}"
            >
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.zip.$valid || myForm.zip.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.zip.$error.required && myForm.zip.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>


</ng-form>
<br class="clearBoth" />
