<div class="row headingRow">
    <div class="col-sm-4" data-translate>RECEIPTS.RECEIPT_NUMBER</div>
    <div class="col-sm-2" data-translate>RECEIPTS.DATE</div>
    <div class="col-sm-2 align-right" data-translate>RECEIPTS.AMOUNT</div>
    <div class="col-sm-offset-1 col-sm-3 align-center" ng-if="isReadonly" data-translate> REFUND.REFUND_TYPE</div>
    <div class="dummy-last-child"></div>
</div>

<div ng-repeat="receipt in receipts">
    <div class="row whiteBackground regularRow receipt">
        <div class="col-sm-4 receipt-number-container">
            <div class="receipt-number-inner">
                <span ng-if="$parent.addReceiptScenario !== 'SIMPLE2'">{{receipt.Number}}</span>
            </div>
        </div>

        <div class="col-sm-2">{{receipt.InvoiceDateTime | date: 'shortDate'}}</div> 
        <div class="col-sm-2 align-right">{{currencySymbol}}{{receipt.GrossAmount | number : 2}}</div>

        <div class="col-sm-offset-1 col-sm-1 svg-icon actionIcon" ng-include="'images/svg/edit.svg'" ng-click="editReceipt(receipt)" ng-if="!isReadonly"></div>
        <div class="col-sm-1 svg-icon actionIcon" ng-include="'images/svg/delete.svg'" ng-click="deleteReceipt(receipt)" ng-if="!isReadonly"></div>
        <div class="col-sm-1 svg-icon actionIcon expandCollapseButton" ng-click="receipt._isExpanded = !receipt._isExpanded" ng-if="receipt.LineItems.length" ng-include="'images/svg/'+(receipt._isExpanded ? 'close' : 'open')+'.svg'"></div>

<div class="col-sm-3 align-center" ng-if="isReadonly" style="text-align: center;" data-translate>{{receipt.RefundTypeDesc}}</div>
    </div>

    <div ng-if="receipt._isExpanded">
        <div class="row subHeadingRow">
            <div class="col-sm-4" data-translate>RECEIPTS.ITEM</div>
            <div class="col-sm-2" data-translate>RECEIPTS.QUANTITY</div>
            <div class="col-sm-2 align-right" ng-if="receipt.pricing==='total'" data-translate>RECEIPTS.TOTAL_VALUE</div>
            <div class="col-sm-2 align-right" ng-if="receipt.pricing==='unit'" data-translate>RECEIPTS.UNIT_PRICE</div>
            <div class="col-sm-offset-1 col-sm-3 align-center" data-translate>RECEIPTS.VAT</div>
            <div class="dummy-last-child"></div>
        </div>

        <div ng-repeat="item in receipt.LineItems" class="row receiptLine regularRow">
            <!-- items -->
            <div class="col-sm-4 resetLineHeight">



                <span class="itemName" ng-if="item.ProductDescription" ng-click="showfullTextDescription(item.ProductDescription,item.Description)">{{ item.ProductDescription | limitTo: 10 }}{{item.ProductDescription.length > 10 ? '....' : ''}}</span>
               <!--  <span class="itemName" ng-if="item.ProductDescription">{{item.ProductDescription}}</span>-->
                <span class="itemName" ng-if="!item.ProductDescription" translate>MISC.NOT_AVAILABLE</span>

                <br />
                
                
                <span class="itemDescription" ng-click="showfullTextDescription(item.ProductDescription,item.Description)">{{ item.Description | limitTo: 10 }}{{item.Description.length > 10 ? '....' : ''}}</span>
               <!--  <span class="itemDescription">{{item.Description}}</span>-->
            </div>
            <div class="col-sm-2">{{item.Quantity}}</div>
            <div class="col-sm-2 align-right" ng-if="receipt.pricing==='total'">{{currencySymbol}}{{item.GrossAmount | number : 2}}</div>
            <div class="col-sm-2 align-right" ng-if="receipt.pricing==='unit'">{{currencySymbol}}{{item.UnitPrice | number : 2}}</div>
            <div class="col-sm-offset-1 col-sm-3 align-center">{{item.VatRate}}%</div>
            <div class="dummy-last-child"></div>
        </div>

    </div>
    <div class="row spacerRow">&nbsp;</div>
</div>



