<div class="row">
    <!-- left hand column -->
    <div class="col-sm-5 col-sm-offset-1 leftColumn">
        <div class="row">
            <label class="col-sm-4" data-translate >NEWCUSTOMER.NAME_AND_TITLE</label>
            <label class="col-sm-6" style="font-weight: normal;">{{Tourist.FirstName}} {{Tourist.LastName}}</label>
            <div class="col-sm-2 svg-icon" ng-if="editShopper" ng-include="'images/svg/edit.svg'" ng-click="editCustomerDetails()"></div>
        </div>
        <div class="row">
            <label class="col-sm-4 nationality-label" data-translate >NEWCUSTOMER.NATIONALITY</label>
            <label class="col-sm-4" style="font-weight: normal;">{{Tourist.Nationality.Name}}</label>
            <div class="col-sm-2 flag" ng-class="'icon-flags-'+flag"></div>
        </div>
        <div class="row">
            <label class="col-sm-4" data-translate >NEWCUSTOMER.DOB</label>
            <label class="col-sm-8" style="font-weight: normal;">{{Tourist.DateOfBirth | date}}</label>
        </div>
        <div class="row">
            <label class="col-sm-4" data-translate >NEWCUSTOMER.EMAIL</label>
            <label class="col-sm-8" style="font-weight: normal;">{{Tourist.Email}}</label>
        </div>
        <div class="row">
            <label class="col-sm-4" data-translate >REFUND.PASSPORT_NO</label>
            <label class="col-sm-8" style="font-weight: normal;">{{Tourist.Passport.Number}}</label>
        </div>
        <div class="row" ng-show="Tourist.Passport.ExpirationDate">
            <label class="col-sm-4" data-translate >NEWCUSTOMER.PASSPORT_EXPIRY_DATE</label>
            <label class="col-sm-8" style="font-weight: normal;">{{Tourist.Passport.ExpirationDate | date: 'shortDate'}}</label>
        </div>
    </div>

    <!-- Right hand column -->
    <div class="col-sm-5 rightColumn">
        <div class="row">
            <label class="col-sm-4" data-translate >REFUND.ADDRESS_1</label>
            <label class="col-sm-6" style="font-weight: normal;">
                {{Tourist.Address.AddressLine1}}<br />
                <span ng-if="Tourist.Address.AddressLine2">{{Tourist.Address.AddressLine2}}<br /></span>
                {{Tourist.Address.City}}<br />
                {{Tourist.Address.PostalCode}}<br />
                {{Tourist.Address.State}}<br/>
                {{Tourist.Address.Country.Name}}
            </label>

            <div class="col-sm-2 svg-icon" ng-if="editShopper" ng-include="'images/svg/edit.svg'" ng-click="editCustomerAddress(true)"></div>
        </div>
        <div class="row">
            <label class="col-sm-4" data-translate >REFUND.ADDRESS_2</label>
            <label class="col-sm-6" style="font-weight: normal;">{{Tourist.AddressAdditional.AddressLine1}}<br/>
                <span ng-if="Tourist.AddressAdditional.AddressLine2">{{Tourist.AddressAdditional.AddressLine2}}<br /></span>
                {{Tourist.AddressAdditional.City}}<br/>
                {{Tourist.AddressAdditional.PostalCode}}<br/>
                {{Tourist.AddressAdditional.State}}<br/>
                {{Tourist.AddressAdditional.Country.Name}}
            </label>

            <div class="col-sm-2 svg-icon" ng-if="editShopper" ng-include="'images/svg/edit.svg'" ng-click="editCustomerAddress(false)"></div>
        </div>

    </div>
</div>
