﻿<!DOCTYPE html>

<html data-ng-app="merchantApp">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />

    <meta name="msapplication-tap-highlight" content="no" />

    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src * 'self' data: blob:; font-src *; connect-src https://apidev.fintrax.com:4856 https://api.fintrax.com https://fintrax.auth0.com 'self' * blob:;
    style-src 'self' 'unsafe-inline'; script-src http://cdn.carbonads.com https://www.google-analytics.com 'self' 'unsafe-inline' 'unsafe-eval' http://www.google-analytics.com/analytics.js https://netswipe.com/widget/nsmobileweb/plain-widget-sdk.js; frame-src gap://ready * file:;">

    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
    <title>Fintrax Merchant App</title>

    <!-- inject-vendor:css -->

    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!--Needed for angular ui-select with images-->
    <link rel="stylesheet" href="vendor/selectize.default.css">

    <link href="bower_components/angular-ui-select/dist/select.css" rel="stylesheet" />
    <link href="bower_components/ng-dialog/css/ngDialog.css" rel="stylesheet" />
    <link href="bower_components/ng-dialog/css/ngDialog-theme-plain.css" rel="stylesheet" />
    <link href="bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/flags.css" />
    <!--endinject-->

</head>
<body class="{{classOfPage + ' ' + locale}}">

    <div class="main-view blur" data-ui-view></div>

    <!-- loading spinner -->
    <div class="dimBackground" ng-if="loading"></div>

    <svg width='120px' class="spinner" ng-if="loading" height='120px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><defs><filter id="uil-ring-shadow" x="-100%" y="-100%" width="300%" height="300%"><feOffset result="offOut" in="SourceGraphic" dx="0" dy="0"></feOffset><feGaussianBlur result="blurOut" in="offOut" stdDeviation="0"></feGaussianBlur><feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend></filter></defs><path d="M10,50c0,0,0,0.5,0.1,1.4c0,0.5,0.1,1,0.2,1.7c0,0.3,0.1,0.7,0.1,1.1c0.1,0.4,0.1,0.8,0.2,1.2c0.2,0.8,0.3,1.8,0.5,2.8 c0.3,1,0.6,2.1,0.9,3.2c0.3,1.1,0.9,2.3,1.4,3.5c0.5,1.2,1.2,2.4,1.8,3.7c0.3,0.6,0.8,1.2,1.2,1.9c0.4,0.6,0.8,1.3,1.3,1.9 c1,1.2,1.9,2.6,3.1,3.7c2.2,2.5,5,4.7,7.9,6.7c3,2,6.5,3.4,10.1,4.6c3.6,1.1,7.5,1.5,11.2,1.6c4-0.1,7.7-0.6,11.3-1.6 c3.6-1.2,7-2.6,10-4.6c3-2,5.8-4.2,7.9-6.7c1.2-1.2,2.1-2.5,3.1-3.7c0.5-0.6,0.9-1.3,1.3-1.9c0.4-0.6,0.8-1.3,1.2-1.9 c0.6-1.3,1.3-2.5,1.8-3.7c0.5-1.2,1-2.4,1.4-3.5c0.3-1.1,0.6-2.2,0.9-3.2c0.2-1,0.4-1.9,0.5-2.8c0.1-0.4,0.1-0.8,0.2-1.2 c0-0.4,0.1-0.7,0.1-1.1c0.1-0.7,0.1-1.2,0.2-1.7C90,50.5,90,50,90,50s0,0.5,0,1.4c0,0.5,0,1,0,1.7c0,0.3,0,0.7,0,1.1 c0,0.4-0.1,0.8-0.1,1.2c-0.1,0.9-0.2,1.8-0.4,2.8c-0.2,1-0.5,2.1-0.7,3.3c-0.3,1.2-0.8,2.4-1.2,3.7c-0.2,0.7-0.5,1.3-0.8,1.9 c-0.3,0.7-0.6,1.3-0.9,2c-0.3,0.7-0.7,1.3-1.1,2c-0.4,0.7-0.7,1.4-1.2,2c-1,1.3-1.9,2.7-3.1,4c-2.2,2.7-5,5-8.1,7.1 c-0.8,0.5-1.6,1-2.4,1.5c-0.8,0.5-1.7,0.9-2.6,1.3L66,87.7l-1.4,0.5c-0.9,0.3-1.8,0.7-2.8,1c-3.8,1.1-7.9,1.7-11.8,1.8L47,90.8 c-1,0-2-0.2-3-0.3l-1.5-0.2l-0.7-0.1L41.1,90c-1-0.3-1.9-0.5-2.9-0.7c-0.9-0.3-1.9-0.7-2.8-1L34,87.7l-1.3-0.6 c-0.9-0.4-1.8-0.8-2.6-1.3c-0.8-0.5-1.6-1-2.4-1.5c-3.1-2.1-5.9-4.5-8.1-7.1c-1.2-1.2-2.1-2.7-3.1-4c-0.5-0.6-0.8-1.4-1.2-2 c-0.4-0.7-0.8-1.3-1.1-2c-0.3-0.7-0.6-1.3-0.9-2c-0.3-0.7-0.6-1.3-0.8-1.9c-0.4-1.3-0.9-2.5-1.2-3.7c-0.3-1.2-0.5-2.3-0.7-3.3 c-0.2-1-0.3-2-0.4-2.8c-0.1-0.4-0.1-0.8-0.1-1.2c0-0.4,0-0.7,0-1.1c0-0.7,0-1.2,0-1.7C10,50.5,10,50,10,50z" fill="#ec6607" filter="url(#uil-ring-shadow)"></path></svg>

    <div class="loadingMessage" ng-if="loading" data-translate="MISC.LOADING">Loading...</div>

    <script src="cordova.js"></script>


    <!-- @if BUILD_TYPE='live' -->
        <script src="config/live.js"></script>
    <!-- @endif -->

    <!-- @if BUILD_TYPE='dev' -->
        <script src="config/dev.js"></script>
    <!-- @endif -->

    <!-- @if BUILD_TYPE='dev-fintrax' -->
    <script src="config/dev-fintrax.js"></script>
    <!-- @endif -->

    <!-- @if BUILD_TYPE='live-fintrax' -->
    <script src="config/live-fintrax.js"></script>
    <!-- @endif -->

    <!-- @if BUILD_TYPE='preprod-fintrax' -->
    <script src="config/preprod-fintrax.js"></script>
    <!-- @endif -->

    <!-- @if BUILD_TYPE='app-store' -->
    <script src="config/app-store.js"></script>
    <!-- @endif -->

    <!-- @ifndef BUILD_TYPE -->
        <script src="config/dev.js"></script>
    <!-- @endif -->


    <!-- inject-vendor:js -->
    <script src="vendor/winstore-jscompat.js"></script> <!-- needed for Windows 8 to work with Angular / JQuery -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script> <!-- //To remove 300ms delay - call FastClick.attach(document.body); -->

    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>

    <script src="bower_components/auth0-js/build/auth0.js"></script>
<!--     <script src="bower_components/auth0-angular/build/auth0-angular.js"></script>  -->
    <script src="bower_components/angular-auth0/dist/angular-auth0.js"></script>

    <!-- See: https://github.com/angular-ui/ui-select -->
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

    <!-- See: http://www.ng-newsletter.com/posts/angular-translate.html -->
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/pouchdb/dist/pouchdb.js"></script>
    <script src="bower_components/angular-pouchdb/angular-pouchdb.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/cryptojslib/rollups/aes.js"></script>
    <script src="bower_components/cryptojslib/rollups/hmac-sha1.js"></script>
    <script src="bower_components/cryptojslib/components/enc-base64-min.js"></script>
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="vendor/ptfvoucherengine.min.js" charset="UTF-8"></script>
    <script src="vendor/pdf.js"></script>
    <script src="vendor/pdf.worker.js"></script>
    <script src="vendor/msyh.ttf"></script>
    <!-- endinject -->

    <script type="text/javascript">

        //load in the correct locale
        (function(){
            var locale = (window.navigator.userLanguage || window.navigator.language).toLowerCase();
            var elem = document.createElement('script');
            elem.setAttribute('src', 'bower_components/angular-i18n/angular-locale_'+locale+'.js');
            document.body.appendChild(elem);
        }())
    </script>

    <!-- inject:js -->
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/app.config.translate.js"></script>
    <script type="text/javascript" src="app/app.constantstranslator.service.js"></script>

    <script type="text/javascript" src="app/core/core.module.js"></script>
    <script type="text/javascript" src="app/core/constants/merchantAppConfig.js"></script>
    <script type="text/javascript" src="app/core/constants/voucherStatus.constants.js"></script>
    <script type="text/javascript" src="app/core/constants/voucherStatus.constants.js"></script>
    <script type="text/javascript" src="app/core/constants/layoutType.constants.js"></script>
    <script type="text/javascript" src="app/core/services/navigationService.js"></script>
    <script type="text/javascript" src="app/core/services/commandService.js"></script>
    <script type="text/javascript" src="app/core/services/schedulerService.js"></script>
    <script type="text/javascript" src="app/core/services/notificationService.js"></script>
    <script type="text/javascript" src="app/core/services/offlineQueue.js"></script>
    <script type="text/javascript" src="app/core/services/connectivityStatusService.js"></script>
    <script type="text/javascript" src="app/core/services/refundCalculationService.js"></script>
    <script type="text/javascript" src="app/core/services/translatedToastr.js"></script>
    <script type="text/javascript" src="app/core/services/printService.js"></script>
    <script type="text/javascript" src="app/core/services/pdfWranglerService.js"></script>
    <script type="text/javascript" src="app/core/services/manateeBarcode.js"></script>
    <script type="text/javascript" src="app/core/services/localeService.js"></script>
    <script type="text/javascript" src="app/core/services/blinkIdPassportScan.js"></script>
    <script type="text/javascript" src="app/core/services/diacriticsService.js"></script>
    <script type="text/javascript" src="app/core/services/contentParserService.js"></script>
    <script type="text/javascript" src="app/core/services/confirmExitVoucherService.js"></script>

    <script type="text/javascript" src="app/core/directives/refundAmount.js"></script>
    <script type="text/javascript" src="app/core/directives/totalAmount.js"></script>
    
    <script type="text/javascript" src="app/core/filters/voucherStatusLookup.js"></script>

    <script type="text/javascript" src="app/core/core.config.route.js"></script>
    <script type="text/javascript" src="app/core/controllers/navigation.js"></script>

    <script type="text/javascript" src="app/createVoucher/createVoucher.module.js"></script>
    <script type="text/javascript" src="app/createVoucher/createVoucher.config.route.js"></script>
    <script type="text/javascript" src="app/createVoucher/values/newVoucherValue.js"></script>
    <script type="text/javascript" src="app/createVoucher/directives/editCustomerAddressDirective.js"></script>
    <script type="text/javascript" src="app/createVoucher/directives/editCustomerDetailsDirective.js"></script>
    <script type="text/javascript" src="app/createVoucher/directives/receiptListDirective.js"></script>
    <script type="text/javascript" src="app/createVoucher/constants/titleConstants.js"></script>
    <script type="text/javascript" src="app/createVoucher/constants/fieldConstants.js"></script>
    <script type="text/javascript" src="app/createVoucher/services/utilsService.js"></script>
    <script type="text/javascript" src="app/createVoucher/directives/shopperDetailsDirective.js"></script>
    <script type="text/javascript" src="app/createVoucher/controller/receiptNumberLookupDialog.js"></script>

    <script type="text/javascript" src="app/tourist/tourist.module.js"></script>
    <script type="text/javascript" src="app/tourist/tourist.config.route.js"></script>
    <script type="text/javascript" src="app/tourist/controllers/passportscan.js"></script>
    <script type="text/javascript" src="app/tourist/controllers/passportdetails.js"></script>
    <script type="text/javascript" src="app/tourist/controllers/touristaddress.js"></script>
    <script type="text/javascript" src="app/tourist/controllers/createaccountDialog.js"></script>
    <script type="text/javascript" src="app/tourist/directives/validateDate.directive.js"></script>
    <script type="text/javascript" src="app/tourist/constants/dateDropdownConstants.js"></script>
    <script type="text/javascript" src="app/tourist/controllers/shopperDetailsExisting.js"></script>
    <script type="text/javascript" src="app/tourist/controllers/premierPass.js"></script>

    <script type="text/javascript" src="app/data/data.module.js"></script>
    <script type="text/javascript" src="app/data/authenticationService.js"></script>
    <script type="text/javascript" src="app/data/cacheService.js"></script>
    <script type="text/javascript" src="app/data/dataService.js"></script>
    <script type="text/javascript" src="app/data/fintraxApiService.js"></script>
    <script type="text/javascript" src="app/data/constants/cacheConstants.js"></script>
    <script type="text/javascript" src="app/data/merchantConfigService.js"></script>
    <script type="text/javascript" src="app/data/voucherListService.js"></script>
    <script type="text/javascript" src="app/data/createTouristService.js"></script>
    <script type="text/javascript" src="app/data/createVoucherService.js"></script>
    <script type="text/javascript" src="app/data/createVoucherOfflineService.js"></script>
    <script type="text/javascript" src="app/data/voucherErrorHandler.js"></script>
    <script type="text/javascript" src="app/data/fastfillManager.js"></script>
    <script type="text/javascript" src="app/data/values/refundTypesValue.js"></script>

    <script type="text/javascript" src="app/login/login.module.js"></script>
    <script type="text/javascript" src="app/login/login.js"></script>
    <script type="text/javascript" src="app/login/config.route.js"></script>


    <script type="text/javascript" src="app/reset/reset.module.js"></script>

    <script type="text/javascript" src="app/reset/config.route.js"></script>
    
        <script type="text/javascript" src="app/reset/reset.js"></script>


    <script type="text/javascript" src="app/dashboards/dashboards.module.js"></script>
    <script type="text/javascript" src="app/dashboards/dashboards.config.route.js"></script>
    <script type="text/javascript" src="app/dashboards/controllers/homeDashboard.js"></script>
    <script type="text/javascript" src="app/dashboards/controllers/voucherDashboard.js"></script>
    <script type="text/javascript" src="app/dashboards/controllers/voucherFlexibleDashboard.js"></script>
    <script type="text/javascript" src="app/dashboards/controllers/reportsDashboard.js"></script>
    <script type="text/javascript" src="app/dashboards/controllers/educationDashboard.js"></script>
    <script type="text/javascript" src="app/dashboards/controllers/settingsDialogController.js"></script>

    <script type="text/javascript" src="app/receiptlist/receiptlist.module.js"></script>
    <script type="text/javascript" src="app/receiptlist/receiptlist.config.route.js"></script>
    <script type="text/javascript" src="app/receiptlist/controllers/advancedReceipt.js"></script>
    <script type="text/javascript" src="app/receiptlist/values/advancedReceiptValue.js"></script>
    <script type="text/javascript" src="app/receiptlist/controllers/receiptlist.js"></script>
    <script type="text/javascript" src="app/receiptlist/constants/paymentMethodConstants.js"></script>

    <script type="text/javascript" src="app/refund/refund.module.js"></script>
    <script type="text/javascript" src="app/refund/refund.config.route.js"></script>
    <script type="text/javascript" src="app/refund/controllers/refundTypes.js"></script>
    <script type="text/javascript" src="app/refund/controllers/refundCard.js"></script>
    <script type="text/javascript" src="app/refund/controllers/refundAlternativeAddress.js"></script>
    <script type="text/javascript" src="app/refund/controllers/refundReviewTabs.js"></script>
    <script type="text/javascript" src="app/refund/controllers/refundReviewPurchase.js"></script>
    <script type="text/javascript" src="app/refund/controllers/refundReviewShopperDetails.js"></script>
    <script type="text/javascript" src="app/refund/controllers/editCustomer.js"></script>
    <script type="text/javascript" src="app/refund/controllers/editReceiptList.js"></script>
    <script type="text/javascript" src="app/refund/services/jumioAuthorisationTokenService.js"></script>
    <script type="text/javascript" src="app/refund/services/creditCardValidationService.js"></script>

    <script type="text/javascript" src="app/signature/signature.module.js"></script>
    <script type="text/javascript" src="app/signature/signature.config.route.js"></script>
    <script type="text/javascript" src="app/signature/controllers/customerSignature.js"></script>
    <script type="text/javascript" src="app/signature/directives/signatureDirective.js"></script>

    <script type="text/javascript" src="app/print/print.module.js"></script>
    <script type="text/javascript" src="app/print/print.config.route.js"></script>
    <script type="text/javascript" src="app/print/controllers/printVoucher.js"></script>

    <script type="text/javascript" src="app/reports/reports.module.js"></script>
    <script type="text/javascript" src="app/reports/reports.config.route.js"></script>
    <script type="text/javascript" src="app/reports/controllers/customReport.js"></script>

    <script type="text/javascript" src="app/calculator/calculator.module.js"></script>
    <script type="text/javascript" src="app/calculator/calculator.config.route.js"></script>
    <script type="text/javascript" src="app/calculator/refundCalculator.js"></script>

    <script type="text/javascript" src="app/education/education.module.js"></script>
    <script type="text/javascript" src="app/education/education.config.route.js"></script>
    <script type="text/javascript" src="app/education/controllers/faqs.js"></script>
    <script type="text/javascript" src="app/education/controllers/phrasebook.js"></script>
    <script type="text/javascript" src="app/education/controllers/walkthrough.js"></script>
    <script type="text/javascript" src="app/education/constants/walkthroughConstants.js"></script>
    <!-- endinject -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        if(window.config.googleAnalytics && window.config.googleAnalytics.key) {
            ga('create', window.config.googleAnalytics.key, {'cookieDomain': 'none'});
        }


    </script>
</body>
</html>
