<div class="login inner-app">

    <div>
        <div class="container-fluid login-container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="slanty-box login-box">
                        <div class="unskew">
                            <div ng-include="'images/svg/logo.svg'" class="svg-icon logo"></div>

                            <ng-form name="loginForm" novalidate class="css-form">
                                <input type="email" placeholder="{{'LOGIN.USERNAME_PLACEHOLDER' | translate}}"
                                       ng-model="user.username" ng-class="{ inputHasValue: user.username }" required />

                                <input type="password" placeholder="{{'LOGIN.PASSWORD_PLACEHOLDER' | translate}}"
                                       ng-model="user.password" ng-class="{ inputHasValue: user.password }" required />
                                <input type="submit" ng-click="login.login(user)" class="button"
                                       value="{{'LOGIN.LOGIN' | translate}}" ng-disabled="loginForm.$invalid" />
                                        <input type="submit" ng-click="login.reset()" class="button"
                                       value="{{'RESET.RESET' | translate}}" />
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
