<div class="row tabsView">
    <div class="col-sm-offset-3 col-sm-2">
        <div class="tabHeader" data-ui-sref="{{ vm.tab1URL }}" ui-sref-active="tabActive" translate>RECEIPTS.PURCHASE_DETAILS</div>
    </div>
    <div class="col-sm-offset-2 col-sm-2">
        <div class="tabHeader" data-ui-sref='{{ vm.tab2URL }}' ui-sref-active="tabActive" translate>NEWCUSTOMER.CUSTOMER_DETAILS_TITLE</div>
    </div>
</div>
<div data-ui-view class="tabContent"></div>
