<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>REFUND.BANK_TRANSFER</h2>
        <div class="row button-row">
            <button data-ng-click="closeThisDialog()" class="col-xs-3 pull-left button" data-translate>COMMANDS.CANCEL</button>
            <button data-ng-click="closeThisDialog('navigation.refundReview.purchaseDetails')"
                    data-ng-disabled="popupForm.$invalid" class="col-xs-3 pull-right button" data-translate>COMMANDS.CONFIRM</button>
        </div>
    </div>
</nav>

<ng-form name="popupForm" class="popupContent standardForm">
    <div class="row">
        <label for="iban" class="col-sm-4" data-translate>REFUND.IBAN</label>
        <div class="col-sm-8">
            <input name="iban" id="iban" type="text" data-ng-model="ngDialogData.voucher.RefundOption.Iban" ng-class="{ inputHasValue: ngDialogData.voucher.RefundOption.Iban }" required placeholder="{{'REFUND.IBAN_PLACEHOLDER' | translate}}" />
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="popupForm.iban.$valid || popupForm.iban.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="popupForm.iban.$error.required && popupForm.iban.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row">
        <label for="bic" class="col-sm-4" data-translate>REFUND.BIC</label>
        <div class="col-sm-8">
            <input name="bic" id="bic" type="text" data-ng-model="ngDialogData.voucher.RefundOption.Bic" ng-class="{ inputHasValue: ngDialogData.voucher.RefundOption.Bic }" required placeholder="{{'REFUND.BIC_PLACEHOLDER' | translate}}" />
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="popupForm.bic.$valid || popupForm.bic.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="popupForm.bic.$error.required && popupForm.bic.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>
</ng-form>

