<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>REFUND.ALIPAY</h2>
        <div class="row button-row">
            <button data-ng-click="closeThisDialog()" class="col-xs-3 pull-left button" data-translate>COMMANDS.CANCEL</button>
            <button data-ng-click="closeThisDialog('navigation.refundReview.purchaseDetails')"
                    data-ng-disabled="popupForm.alipayid.$invalid" class="col-xs-3 pull-right button" data-translate>COMMANDS.CONFIRM</button>
        </div>
    </div>
</nav>

<ng-form name="popupForm" class="popupContent alipay-popup">
    <div class="row">
        <label for="alipayid" class="col-sm-4" data-translate>REFUND.ALIPAY_ID</label>
        <div class="col-sm-8">

            <input 
                name="alipayid"
                id="alipayid"
                type="number"
                ng-model="ngDialogData.voucher.RefundOption.AliPayMobileNo"
                ng-class="{ inputHasValue: ngDialogData.voucher.RefundOption.AliPayMobileNo }"
                ng-pattern="/^1[0-9]{10}$/m"
                pattern="[0-9]"
                required
                placeholder="{{'REFUND.ALIPAY_ID_PLACEHOLDER' | translate}}"
                maxlength="11"
            />

            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="popupForm.alipayid.$valid || popupForm.alipayid.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="popupForm.alipayid.$error.required && popupForm.alipayid.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>
</ng-form>

