<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>REFUND.DISCLAIMER</h2>
        <div class="row button-row">
            <button data-ng-click="closeThisDialog()" class="col-xs-3 pull-left button" data-translate>COMMANDS.CANCEL</button>
            <button data-ng-click="closeThisDialog('navigation.refundToposCard')" class="col-xs-3 pull-right button" data-translate>COMMANDS.CONFIRM</button>
        </div>
    </div>
</nav>

<div class="popupContent">
    <div class="row">
        <div class="col-sm-12" data-translate>
            REFUND.TOPOS_DISCLAIMER
        </div>
    </div>
</div>

