
<ng-form name="myForm" class="standardForm" novalidate>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 centerText">
            <h2 data-translate>REFUND.CARD_DETAILS_TITLE</h2>
            <span data-translate>REFUND.CARD_SCAN_BLURB</span>

            <button ng-click="vm.scanCreditCard()" class="button camera-button" ng-if="vm.cardScanEnabled">
                <div class="svg-icon" ng-include="'images/svg/camera.svg'"></div>
            </button>

        </div>
    </div>
    <div class="row" ng-if="vm.cardScanEnabled">
        <div class="col-xs-offset-2 col-xs-8 centerText">
            <hr />
            <span class="or defaultBackground">Or</span>
        </div>
    </div>

    <div class="row">

        <label for="cardNumber" class="col-sm-offset-2 col-sm-3 required" data-translate>REFUND.BANK_CARD_NUMBER</label>

        <div class="col-sm-4">

            <input type="text" pattern="[0-9]*" ng-pattern="/^[0-9]*$/" autocomplete="off" id="cardNumber"
                   name="cardNumber" ng-model="vm.voucher.RefundOption.CardDetails.CardNumber"
                   required placeholder="{{'REFUND.CARD_NUMBER_OR_SCAN' | translate}}" ng-if="!vm.voucher._maskCardNumber" />

            <span class="fake-textbox" ng-if="vm.voucher._maskCardNumber" ng-click="vm.voucher._maskCardNumber = false">{{vm.maskedCard()}}</span>

            <span class="form-control-feedback validationIcon" aria-hidden="true"
                  ng-hide="myForm.cardNumber.$valid || myForm.cardNumber.$untouched || vm.voucher._maskCardNumber"
                  ng-include="'images/svg/validation.svg' "></span>

            <p class="help-block validationMessage" ng-show="myForm.cardNumber.$error.required && myForm.cardNumber.$touched"
               data-translate>VALIDATION.REQUIRED</p>

            <p class="help-block validationMessage"
               ng-show="myForm.cardNumber.$error.pattern" data-translate>VALIDATION.NOT_A_NUMBER</p>

            <p class="help-block validationMessage"
               ng-show="myForm.cardNumber.$error.unrecognisedCardType && !myForm.cardNumber.$error.required && !myForm.cardNumber.$error.pattern"
               data-translate>VALIDATION.UNRECOGNISED_CARD_TYPE</p>

               <p class="help-block validationMessage"
                  ng-show="!myForm.cardNumber.$error.cardLength && !myForm.cardNumber.$error.unrecognisedCardType && myForm.cardNumber.$error.luhnCheck && !myForm.cardNumber.$error.required && !myForm.cardNumber.$error.pattern"
                  data-translate>VALIDATION.INVALID_CARD_NUMBER</p>

            <p class="help-block validationMessage"
               ng-show="myForm.cardNumber.$error.cardLength && !myForm.cardNumber.$error.required && !myForm.cardNumber.$error.pattern"
               translate-values="{ digits: vm.lengthDesc }" data-translate>VALIDATION.INVALID_LENGTH</p>
        </div>
        <div class="col-sm-1" ng-if="vm.cardType"><img ng-src="images/creditcards/{{vm.cardType.name}}.png" /></div>
    </div>
    <div class="row" ng-if="vm.isTopos">

        <label for="month" class="col-sm-offset-2 col-sm-3 required" data-translate>REFUND.EXPIRY_DATE</label>
        
        <div class="col-sm-2">

            <div class="select-wrapper">
                <select name="month" 
                        ng-options="month.id as month.name for month in vm.dateDropdowns.months"
                        ng-model="vm.voucher.RefundOption.CardDetails.CardExpiryDateMonth"
                        ng-change="vm.setExpireyDate()"
                        required>
                </select>
            </div>

            <p class="help-block validationMessage" ng-show="myForm.month.$error.required && myForm.month.$touched" data-translate>VALIDATION.REQUIRED</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.expiresWithin3Months" data-translate>VALIDATION.EXPIRES_WITHIN_3_MONTHS</p>
        </div>

        <div class="col-sm-2">

            <div class="select-wrapper">
                <select name="year"
                        ng-options="year for year in vm.years"
                        ng-model="vm.voucher.RefundOption.CardDetails.CardExpiryDateYear"
                        ng-change="vm.setExpireyDate()"
                        required>
                </select>
            </div>

            <p class="help-block validationMessage" ng-show="myForm.year.$error.required && myForm.year.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>
    <div class="row" ng-if="vm.showRefundOptionsDropdown">
        <label for="refundOptions" class="col-sm-offset-2 col-sm-3" data-translate>REFUND.REFUND_CARD_TYPE</label>
        <div class="col-sm-4">
            <div class="select-wrapper"><select name="refundOptions" ng-options="ro.RefundCode as ro.RefundCodeDescription for ro in vm.refundOptions"
                                                ng-model="vm.voucher.RefundOption.RefundOptionCode" required></select></div>
            <p class="help-block validationMessage" ng-show="myForm.refundOptions.$error.required && myForm.refundOptions.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>
</ng-form>
