﻿<ng-form name="myForm" class="row refund-type-form">
    <div class="container-fluid">
        <div data-ng-repeat="refundType in vm.refundTypes"
             ng-if="refundType.visible && !refundType.disabled"
             class="row rowMargin">

            <label for="refund{{$index}}" class="col-sm-offset-1 col-sm-8 row">
                <h3 class="col-sm-4" data-translate="{{refundType.translationKey}}"></h3>
                <div class="col-sm-8" data-translate="{{refundType.description}}"></div>
            </label>
            <div class="col-sm-1 radioContainer">
                <input type="radio" name="refund" id="refund{{$index}}" ng-model="vm.selectedRefundTypeId"
                       data-ng-disabled="refundType.disabled" value="{{refundType.id}}" required />
                <label for="refund{{$index}}"><span><span></span></span></label>
            </div>

        </div>
    </div>
</ng-form>
