<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>REFUND.CONFIRM_ADDRESS_TITLE</h2>
        <div class="row button-row">
            <button
                data-ng-click="closeThisDialog()"
                class="col-xs-3 pull-left button"
                data-translate
            >COMMANDS.CANCEL</button>
            <button
                data-ng-click="closeThisDialog('navigation.refundReview.purchaseDetails')"
                data-ng-disabled="popupForm.$invalid"
                class="col-xs-3 pull-right button"
                data-translate
            >COMMANDS.CONFIRM</button>
        </div>
    </div>
</nav>


<ng-form name="popupForm" class="popupContent standardForm">
    <div class="row">
        <label for="address" class="col-sm-4" data-translate>REFUND.REFUND_CHEQUE_TYPE</label>
        <div class="col-sm-8">
            <div class="select-wrapper">
                <select ng-options="ro.RefundCode as ro.RefundCodeDescription for ro in ngDialogData.merchantConfigData.RefundOptions | filter:{RefundCodeDescription:'CHEQUE'}"
                                                ng-model="ngDialogData.voucher.RefundOption._RefundOptionCode" required></select>
            </div>
        </div>
    </div>
    <div class="row">
        <label for="address" class="col-sm-4" data-translate>REFUND.ADDRESS_1</label>
        <div class="col-sm-8">
        {{ngDialogData.voucher.Tourist.Address.AddressLine1}}<br />
        <span ng-if="ngDialogData.voucher.Tourist.Address.AddressLine2">{{ngDialogData.voucher.Tourist.Address.AddressLine2}}<br /><span>
        {{ngDialogData.voucher.Tourist.Address.City}}<br />
        {{ngDialogData.voucher.Tourist.Address.PostalCode}}<br />
        {{ngDialogData.voucher.Tourist.Address.State}}</div>
    </div>
    <div class="row">
        <div class="col-sm-12 centerText">
            <hr />
            <span class="or whiteBackground">Or</span>
        </div>
    </div>
    <div class="row centerText">
        <button data-ng-click="closeThisDialog('navigation.refundAlternativeAddress')" data-ng-disabled="popupForm.$invalid" class="button padded-button" data-translate>COMMANDS.PAY_TO_ALTERNATIVE_ADDRESS</button>
    </div>
</ng-form>
