<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>REFUND.CTRIP</h2>
        <div class="row button-row">
            <button data-ng-click="closeThisDialog()" class="col-xs-3 pull-left button" data-translate>COMMANDS.CANCEL</button>
            <button data-ng-click="closeThisDialog('navigation.refundReview.purchaseDetails')"
                    data-ng-disabled="popupForm.$invalid" class="col-xs-3 pull-right button" data-translate>COMMANDS.CONFIRM</button>
        </div>
    </div>
</nav>

<ng-form name="popupForm" class="popupContent standardForm">
    <div class="row">
        <label for="iban" class="col-sm-3" data-translate>PREMIER_PASS.PASS_NUMBER</label>
        <div class="col-sm-5">
            <input name="iban" id="iban" type="text" data-ng-model="ngDialogData.voucher.Tourist.PremierPassId" ng-class="{ inputHasValue: ngDialogData.voucher.RefundOption.ctrip }" required placeholder="{{'PREMIER_PASS.ENTER_NUMBER' | translate}}" />
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="popupForm.iban.$valid || popupForm.iban.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="popupForm.iban.$error.required && popupForm.iban.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        
        <div class="col-sm-4">
           <button data-ng-click="ngDialogData.model.premierPassScan()" class="col-sm-12 pull-left button" data-translate>COMMANDS.SCAN_RECEIPT</button> 
        </div>
        
    </div>
    
      
   </ng-form>

