﻿<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>NEWCUSTOMER.CREATE_ACCOUNT_TITLE</h2>
        <div class="row button-row">

            <button data-ng-click="closeThisDialog()" class="col-xs-3 pull-left button closeBtn" data-translate>COMMANDS.CANCEL</button>
            <button data-ng-click="closeThisDialog(true)"
                    data-ng-disabled="ngDialogData.customer.createAccount && popupForm.email.$invalid"
                    class="col-xs-3 pull-right button" data-translate>
                COMMANDS.CONFIRM
            </button>
        </div>
    </div>
</nav>

<ng-form name="popupForm" class="popupContent standardForm">
    <div class="row">

        <div class="col-sm-4">
            <label for="createAccount" data-translate>NEWCUSTOMER.CREATE_PTF_ACCOUNT</label>
        </div>
        <div class="col-sm-8">
            <input type="checkbox" name="createAccount" id="createAccount" ng-model="ngDialogData.customer.createAccount">
            <label for="createAccount"></label>
        </div>


    </div>

    <div class="row">
        <label for="email" class="col-sm-4" data-translate>NEWCUSTOMER.EMAIL</label>
        <div class="col-sm-8">
            <input name="email" id="email" type="email" data-ng-model="ngDialogData.customer.Email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                   ng-class="{ inputHasValue: ngDialogData.customer.Email }"
                   data-ng-disabled="!ngDialogData.customer.createAccount" required
                   placeholder=" {{'NEWCUSTOMER.EMAIL_PLACEHOLDER' | translate}} " />
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="popupForm.email.$valid || popupForm.email.$untouched || ngDialogData.customer.createAccount===false" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="popupForm.email.$error.required && popupForm.email.$touched && ngDialogData.customer.createAccount" data-translate>VALIDATION.REQUIRED</p>
            <p class="help-block validationMessage" ng-show="popupForm.email.$error.email && popupForm.email.$touched && ngDialogData.customer.createAccount" data-translate>VALIDATION.EMAIL_INVALID</p>
        </div>
    </div>
</ng-form>

