﻿<ng-form name="myForm" class="standardForm">

    <div class="row" ng-if="vm.passportScanEnabled">
        <div class="col-xs-offset-2 col-xs-8">

            <button ng-click="vm.scanPassport()" class="button camera-button">
                <div class="svg-icon" ng-include="'images/svg/camera.svg'"></div>
            </button>

        </div>
    </div>

    <div class="row">

        <label for="passportNumber"
               class="col-sm-offset-2 col-sm-3"
               ng-class="{ required: vm.requiredFields.Tourist.Passport.Number }"
               data-translate>
               NEWCUSTOMER.PASSPORTNUMBER
        </label>

        <div class="col-sm-5">
            <input type="text"
                   data-ng-model="vm.customer.Passport.Number"
                   ng-class="{ inputHasValue: vm.customer.Passport.Number }"
                   name="passportNumber"
                   id="passportNumber"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   ng-change="vm.checkpassportNumberCharacters()"
                   placeholder="{{'NEWCUSTOMER.PASSPORTNUMBER_PLACEHOLDER' | translate}}"
                   ng-required="vm.requiredFields.Tourist.Passport.Number" />
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.passportNumber.$valid || myForm.passportNumber.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.passportNumber.$error.required && myForm.passportNumber.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>

    </div>

    <div class="row">

        <label for="country-of-issue"
        class="col-sm-offset-2 col-sm-3"
        ng-class="{ required: vm.requiredFields.Tourist.Passport.IssuingCountry }"
        translate>NEWCUSTOMER.COUNTRY_OF_ISSUE</label>

        <div class="col-sm-5">

            <div class="select-wrapper">
                <select
                    name="countryOfIssue"
                    ng-model="vm.customer.Passport.IssuingCountry"
                    ng-disabled="disabled"
                    ng-required="vm.requiredFields.Tourist.Passport.IssuingCountry"
                    ng-options="country as country.Name for country in vm.countries track by country.Iso3Digit"
                    ng-class="{ inputHasValue: vm.customer.Passport.IssuingCountry }">
                        <option value="" data-translate>NEWCUSTOMER.COUNTRY_OF_ISSUE</option>
                </select>
            </div>
            <p class="help-block validationMessage" ng-show="myForm.countryOfIssue.$error.required && myForm.countryOfIssue.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>

    </div>

    <div class="row" data-ng-model="vm.customer.Passport.ExpirationDate" mu-validate-date="requiredFields.Passport.ExpirationDate" future-date>

        <label for="year"
               class="col-sm-offset-2 col-sm-3"
               ng-class="{ required: vm.requiredFields.Tourist.Passport.ExpirationDate }"
               data-translate>
               NEWCUSTOMER.PASSPORT_EXPIRY_DATE
        </label>

        <div class="col-sm-2 col-lg-1">
            <div class="select-wrapper">
                <select name="day" id="day" ng-options="day for day in vm.dateDropdowns.days" ng-model="vm.customer.Passport.ExpirationDate_.day"
                        ng-class="{ inputHasValue: vm.customer.Passport.ExpirationDate_.day }"
                        ng-required="vm.requiredFields.Tourist.Passport.ExpirationDate">
                    <option translate value="">NEWCUSTOMER.DAY_PLACEHOLDER</option>
                </select>
            </div>

            <p class="help-block validationMessage" ng-show="myForm.day.$error.required && myForm.day.$touched" data-translate>VALIDATION.REQUIRED</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.incompleteDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INCOMPLETE</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.invalidDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INVALID</p>
        </div>

        <div class="col-sm-2">
            <div class="select-wrapper">
                <select name="month" ng-options="month.id as month.name for month in vm.dateDropdowns.months"
                        ng-model="vm.customer.Passport.ExpirationDate_.month" ng-class="{ inputHasValue: vm.customer.Passport.ExpirationDate_.month || vm.customer.Passport.ExpirationDate_.month === 0}"
                        ng-required="vm.requiredFields.Tourist.Passport.ExpirationDate">
                    <option translate value="">NEWCUSTOMER.MONTH_PLACEHOLDER</option>
                </select>
            </div>

            <p class="help-block validationMessage" ng-show="myForm.month.$error.required && myForm.month.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>

        <div class="col-sm-2">
            <div class="select-wrapper">
                <select name="year" ng-options="year for year in vm.dateDropdowns.futureYears" ng-model="vm.customer.Passport.ExpirationDate_.year"
                        ng-class="{ inputHasValue: vm.customer.Passport.ExpirationDate_.year }" ng-required="vm.requiredFields.Tourist.Tourist.Passport.ExpirationDate">
                    <option translate value="">NEWCUSTOMER.YEAR_PLACEHOLDER</option>
                </select>
            </div>
            <p class="help-block validationMessage" ng-show="myForm.year.$error.required && myForm.year.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>

    </div>
</ng-form>
