<div class="row">
    <div class="col-xs-offset-2 col-xs-8 centerText intro">
        <h3 data-translate>PREMIER_PASS.SUBTITLE</h3>
        <span class="blurb" data-translate>PREMIER_PASS.BLURB</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-8">

        <button ng-click="vm.premierPassScan()" class="button camera-button">
            <div class="svg-icon" ng-include="'images/svg/camera.svg'"></div>
        </button>

    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-8 centerText">
        <hr />
        <span class="or">or</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-3">
        <label for="passnumber" data-translate>PREMIER_PASS.PASS_NUMBER</label>
    </div>

    <div class="col-xs-5">
        <input type="text" pattern="\d*" id="passnumber" ng-model="vm.premierPassNumber"
               ng-class="{ inputHasValue: vm.premierPassNumber }" required
               placeholder="{{'PREMIER_PASS.ENTER_NUMBER' | translate}}"/>
    </div>
</div>
