<div class="login inner-app">

    <div>
        <div class="container-fluid login-container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="slanty-box login-box">
                        <div class="unskew">
                            <div ng-include="'images/svg/logo.svg'" class="svg-icon logo"></div>

                            <ng-form name="resetForm" novalidate class="css-form">
                                <input type="email" placeholder="{{'RESET.RESET_ACTION' | translate}}"
                                       ng-model="user.email" ng-class="{ inputHasValue: user.email }" required />

                                
                                <input type="submit" ng-click="reset.reset(user)" class="button"
                                       value="{{'RESET.RESET' | translate}}" ng-disabled="resetForm.$invalid" />
                                       
                                 <input type="submit" ng-click="reset.cancel()" class="button"
                                       value="{{'COMMANDS.CANCEL' | translate}}"  />      
                                       
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
