.add-receipt {
    .home-button-container {
        display: none;
    }

    .itemHeading {
        font: $biggerFont;
        color: $primaryColor;
        text-transform: capitalize;
        padding-top: 15px;
    }

     .narrowRow {
        margin-bottom: 15px !important;
    }

  .add-receipt-button-col{
    padding-bottom: 30px;

    //fixes iOS 8 bug where content would be hidden after programattic scrolling
    transform: translate3d(0, 0, 0);
  }

  main.container-fluid {
    padding:40px 10px 0 10px;
  }

  .line-item {
      //fixes iOS 8 bug where content would be hidden after programattic scrolling
      transform: translate3d(0, 0, 0);
  }


}
