.education-dashboard {

    main.container-fluid {
        padding: 105px 20px 0 20px;
    }

    .slanty-box {
        height: 428px;

        .svg-icon {
            padding-top: 62px;
        }

        &.faqs {
            .svg-icon {
                padding-top: 94px;
            }

            h2 {
                padding-top: 42px;
            }
        }

        h2 {
            padding-top: 18px;
        }

        .subtitle {
            padding-top: 12px;
        }
    }
 

    .home-button-container {
        display: none;
    }
}
