.education {

    &.faqs.inner-app {
      flex:1;
    }

    &.phrasebook {
        main.container-fluid {
            padding: 0;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }

    .home-button-container {
        display: none;
    }


    .language-selection {
        background-color: white;
        text-align: center;
        padding: 8px 0;
        flex: 0 0 65px;
    }

    .phrasebook-inner {
        padding: 10px 20px 0 20px;
        flex:1 0 0;
        display: flex;
    }

    .form-row {
        text-align: center;
        margin: 20px 0;


        select {
            width: 20%;
        }
    }

    .phrase-row {
        text-align: center;
        padding: 13px 0 0 0;

        select {
            width: 22%;
        }
    }

    .phrase-container{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 20px;
    }

    .right-container{
        display: flex;
        flex-direction: column;
        margin: 10px 0 20px 0;

    }


    .listCategory, .listFAQ, .listPhrases {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: 20px;
            background: #ffffff;
            border-bottom: 1px solid $fieldOutlinesColor;
        }
    }

    .translated {
        color: #ffffff;
        padding: 20px;
        background: $secondaryColor;
        text-align: left;
        flex:1;

        h4 {
            margin: 0;
            font-size: 1em;
        }

        .translated-text {
            font-size: 1.5em;
        }
    }

    .education-options {

        .languageWrapper {
            width: 20%;
            display: inline-block;
        }


        .swaplan-icon {
            height: 50px;
            padding: 10px;
            display: inline-block;
            vertical-align: bottom;
        }
    }



    .listPhrases {
        text-align: left;

        li {
            background: $backgroundColor;
            border-bottom: 0;
            padding: 10px 0;

            a {
                color: $tertiaryColor;
                display: inline-block;
                position: relative;
                width: 100%;
                border: 2px solid #ffffff;
                background: #ffffff;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
                box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
                text-decoration: none;

                &:hover, &:focus {
                    text-decoration: none;
                }

                .phraseText {
                    display: inline-block;
                    padding: 0px 30px;
                }

                .svg-icon {
                    display: inline-block;
                    position: absolute;
                    top: 20px;
                    left: 20px;

                    &.close-quote {
                        left: auto;
                        right: 20px;
                    }

                    svg * {
                        fill: $backgroundColor;
                    }
                }

                &.active {
                    .svg-icon {
                        svg * {
                            fill: $primaryColor;
                        }
                    }

                    border: 2px solid $orange;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
    }

    .listCategory {
        li {
            padding: 0px;
        }

        a {
            text-underline: none;
            display: block;
            background: #ffffff;
            padding: 20px;

            &.active {
                color: $orange;
                text-decoration: none;
            }

            &:focus {
                text-decoration: none;
            }
        }
    }

    &.faqs {

        main.container-fluid {
            padding: 0;
            display: flex;
            flex-direction: column;
            overflow: visible;
        }

        .faqs-container{
            display: flex;
        }

        .faq-column {
            flex:1;
            padding:0 10px 0 10px;

            &.answers {
                display: flex;
                flex-direction: column;
            }
        }

        .listFAQ {
            flex:1;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            padding-top: 30px;
            h4 {
                color: $orange;
            }
        }

        .no-faqs {
            text-align: center;
        }

        .listCategory{
            padding-top: 30px;
        }

    }


}
