.home {

    .home-button-container {
        display: none;
    }

    main.container-fluid {
        padding: 70px 10px 0 10px;
    }

    .slanty-box {
        height: 255px;
        transform: perspective(420px) skewY(-2deg);

        .unskew {
            transform: perspective(420px) skewY(2deg);
        }

        .svg-icon {
            padding-top: 50px;
        }

        &.education, &.calculator {
            .svg-icon {
                padding-top: 37px;
            }
        }

        h2 {
            padding-top: 7px;
        }
    }

    .home-row {
        margin-top: 20px;
    }



    nav .settings-button {
        display: block;
        width: 29px;
        height: 31px;
        float: right;

        .svg-icon {
            position: relative;

            svg * {
                fill: white;
            }
        }
    }



}
