//smaller font for german because Steuerfreistellungsformular erstellen!
.de-de, .de-at, .de, .de-li, .de-lu, .de-ch {
    h2 {
        font-size:1.5em;
    }

    .nationality-label {
        margin-right:40px;
    }

    &.reports-voucher-details {

        footer .buttonPadding {
            width:30%;

            button span {
                white-space: nowrap;
            }
        }
    }

    .ngdialog h2.pageTitle {
        font-size: 1.2em;
    }
}

.it-it, .it {

    .ngdialog .walkthrough .button-row button {

        font-size:1em;
    }

}
