

.login {

    .background {
        position: fixed;
        top: 0;
        height: 100%;
        width: 50%;
    }

    .background_left {
        background: url(../images/svg/loginbg_left.svg) top left no-repeat;
        background-size: contain;
    }

    .background_right {
        right: 0;
        background: url(../images/svg/loginbg_right.svg) top right no-repeat;
        background-size: contain;
    }

    .slanty-box {
        transform: perspective(420px) skewY(-2deg);

        .unskew {
            transform: perspective(420px) skewY(2deg);
        }
    }

    .login-box {
        background-color: white;
        padding: 50px 17.6666666% 50px 17.666666%;
        height: 455px;
        top: -20px;

        .button {
            margin-top: 35px;
            padding: 0 50px 0 50px;
        }

        .logo {
            position: relative;
            top: -5px;

            svg * {
              fill:$dark-grey;
            }
        }

        .css-form {
            margin-top: 42px;
        }

        .css-form input[type=email], input[type=text] {
            margin-bottom: 25px;
        }
    }

    .debug-content {
        display: none;
    }

    .login-container {
        margin-top: 40px;
    }
}
