.fonth1Mobile {
    padding-top: 0!important;
    font: .875em open_sanssemibold!important;
    margin: 0
}
.rowmobile {
    margin-top: -85px!important
}
h2,
h4 {
    margin: 0
}
.slantymobile {
    height: 180px!important
}
.iconmobile {
    padding-top: 10px!important
}
.textmargin {

margin-top: 10px !important;

}
