.premier-pass {

  h3 {
    margin:0;
  }

  .blurb {
    font:$smallerFont;
    color:$hintTextColor;
  }

  .camera-button {
    margin:75px 0 20px 0;
  }

  label {
    height:50px;
    line-height:50px;
    text-transform: uppercase;
  }
}