.receiptList {

    .headingRow {
        font-size:15px;
        background-color: $tertiaryColor;
        color: white;
        line-height: 56px;
        text-transform: uppercase;
        font-family:'open_sanssemibold';
        & > div{
            text-align:center;
            &:first-child,&.align-left{
                text-align:left;
            }
            &:last-child,&.align-right{
                text-align:right;
            }
        }
    }



    .subHeadingRow {
        background-color: $backgroundColor;
        color: $tertiaryColor;
        line-height: 50px;
        text-transform: uppercase;
        border:{
            top:solid 1px #ebebed;
            bottom:solid 2px #ebebed;
        }
        & > div{
            text-align:center;
            &:first-child,&.align-left{
                text-align:left;
            }
            &:last-child,&.align-right{
                text-align:right;
            }
        }
    }

    .regularRow {
        border:solid 1px #f0f0f2;
        border-top:none;
        font-size:20px;
        line-height: 85px;
        vertical-align: middle;
        & > div{
            text-align:center;
            &:first-child,&.align-left{
                text-align:left;
            }
            &:last-child,&.align-right{
                text-align:right;
            }
        }
        &.receipt{
            font-family:'open_sanssemibold';
        }
    }

    .receiptLine{
        border-bottom:solid 2px #ebebed;
        padding-bottom: 10px;
        &:last-child{
            border:none;
        }
    }

    .spacerRow {
        background-color: $backgroundColor;
        line-height: 19px;
        border-bottom:solid 1px #f0f0f2;
    }

    .actionIcon {
        text-align: right;
        cursor: pointer;
    }

    .whiteBackground {
        background-color: white;
    }

    .resetLineHeight {
        line-height: 0;
        padding-top: 11px;
    }

    .itemName {
        font: $bodyFont;
        line-height: 40px;
    }

    .itemDescription {
        font: $smallFont;
        word-break: break-all;
    }


    form .row, ng-form .row {
        margin-bottom: 50px;
    }


    .actionIcon {
        svg * {
            fill: $secondaryColor;
        }
    }

    footer {
        display: block;
    }


    .expandCollapseButton {
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }

    main.container-fluid {
        padding:38px 74px;
    }

    //css is different if it's in a tabbed view
   &.refund-review {

     main.container-fluid {
       padding:28px 10px 28px 10px;
     }

     .tabContent {
       padding: 28px 74px;
     }

   }

  .receipt-number-container{

    height:86px;
    padding:5px 0 5px 10px;

    .receipt-number-inner {
      word-break: break-all;
      line-height: 22px;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }

  }
}
