.refundTypes {

    .radioContainer {
        text-align: right;
        padding-top: 5px;
    }

    .rowMargin {
        margin-bottom: 25px;
    }

    .hideOffTopOfScreen {
        position: absolute;
        top: -99999px;
    }

    main.container-fluid {
      display: flex;
    }

    .refund-type-form{
      flex:1;
    }

}
