.refund-calculator {

  label.purchase-amount {
    text-transform: uppercase;
    line-height: 50px;
  }

  #purchaseAmount {
    padding-left:20px;
  }

  .input-container {
    position: relative;
  }

  .sneaky-symbol {
    position: absolute;
    left:20px;
    line-height: 50px;
  }

  .refundRow {
    background: #ffffff;

    line-height: 50px;

    &.refundTitle {
      padding:10px 0 20px 0;
      margin-top:15px;
      text-transform: uppercase;
      color:$mid-dark-grey;
    }
  }

  .min-description {
    padding-top:15px;
    display: inline-block;
   }

  main.container-fluid {
    padding-top:48px;
  }

  .amount {
    color: $dark-blue;
    font-size: 35px;
    display: inline-block;

  }

  .home-button-container {
    display: none;
  }


  .min-amount {
    font:$italicFont;
  }

}