.refundReview {

    footer {
        display: block;
    }

    .leftColumn .row {
        min-height: 50px;
        margin-bottom: 25px;
    }

    .rightColumn .row {
        margin-bottom: 50px;
    }

    .flag {
        height: 36px;
    }

  main.container-fluid {
    padding-top:28px;
  }

}
