.reports {

  .home-button-container {
    display: none;
  }


  main {
    background: #ffffff;
    padding-top:0;
  }

  .filter-container {
    padding:10px 30px 10px 30px;
  }


  table {
    width: 100%;

    thead {
      background: $backgroundColor;

      tr {
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        th {
          &:first-child,&.left-justify{
            padding-left:20px;
            text-align: left;
          }
          &.right-justify{
            text-align:right;
            padding-right:20px;
          }
          color: $tertiaryColor;
          text-transform: uppercase;

          &.sort {

            &:after {
              content: '^';
              display: inline-block;
              padding:0 0 0 5px;
            }

            &.ascend {

              &:after {
                transform: rotate(0.5turn);
                padding:0 5px 0 0;
              }

            }
          }
        }

      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $borderColor;
        cursor: pointer;
        &:hover {
          background: $backgroundColor;
        }
        td {
          color: $generalTextColor;
          text-align: center;
          &:first-child,&.left-justify{
            padding-left:20px;
            text-align: left;
          }
          &.right-justify{
            text-align:right;
            padding-right:20px;
          }
        }
      }
    }

    th, td {
      padding: 20px;

    }
  }

  &.search-on {
    .svg-icon.search {
      svg * {
        fill: $primaryColor;
      }
    }
  }

  &.filter-on {
    .svg-icon.filter {
      svg * {
        fill: $primaryColor;
      }
    }
  }

  &.search-on.filter-on {
    .filter-row {
      padding-top:10px;
    }
  }

  .name-col {
    text-align: left;
  }

  .voucher-no-col {
    text-align: left;
  }

  .amount-col {
    text-align: right;
  }

}

.reports-voucher-details {

  .home-button-container {
    display: none;
  }

}

