.signature {

    .canvasContainer {
        display: block;        
        position: absolute;
        top: 180px;
        left: 0;
        right: 0;
    }

    canvas {
        cursor: crosshair;        
        border: 2px solid $fieldOutlinesColor;
        border-radius: 3px;
        background-color: white;
    }
}
