.voucher-dashboard {

    main.container-fluid {
        padding: 105px 20px 0 20px;
    }

    .slanty-box {
        height: 428px;
        .svg-icon {
            padding-top: 72px;
        }

        .subtitle {
            padding-top: 12px;
        }
    }
   
    .home-button-container {
        display: none;
    }
}
