.walkthrough {

  main {
    overflow: hidden;
    display: flex;
  }

  .walkthrough-inner {
    flex:1;
    display: flex;
    flex-direction: column;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    flex:1;
    z-index: z(internal-overlay);
  }

  nav {
    background-color: transparent;
    z-index: z(internal-overlay);

    .status-bar {
      background-color: transparent;

      .content {
        display: none;
      }
    }

    .home-button-container {
      display: none;
    }

    .button-left-side {

      width:25%;

      button {
        background-color: transparent;
        color:$generalTextColor;

        &:hover:enabled, &:active:enabled, &:focus {
          background-color: transparent;
        }
      }
    }

    .button-right-side {
        width:25%;
    }

    h1 {
      display: block;
      color:#3c3c3b !important;
    }

    .button-row {
        margin-top: -35px;
    }
  }

  .background {
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
  }

  .carousel {

    .image-container {
      flex:0 0 730px;
      position: relative;

      img {
        position: absolute;
        width:730px;
        height:525px;
      }

      /*
      //TODO make this look good, if we have time
      .ng-hide-add {
        @extend .animated;
        @extend .slideInLeft;
      }

      .ng-hide-remove {
        @extend .animated;
        @extend .slideOutRight;
      }
      */
    }

    .button-container {
      flex:1;
      text-align: center;
      padding-top:230px;
    }

    button {
      @extend .button;
      @extend .secondary;
      width:35px;
      height:35px;

    }

  }

  .dibbles {
    margin:0;
    padding:0;
    display: inline-block;

    li {

      color:$mid-dark-grey;
      float:left;
      list-style-position: inside;
      width: 18px;
      font-size: 19px;

      &.selected {
        color:$dark-orange;
        list-style-type: circle;
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font:$biggestFont;
  }

  h2 {
    color:$mid-dark-grey;
    font:$bodyFont;
    width:430px;
    margin:0 auto;
    height:70px;
  }

  .slanty-lower-section {

    //tis is so the slant doesn't show at the sides!
    width:101%;
    z-index: z(internal-overlay);
    bottom: -30px;
    position: relative;
    flex:0 0 220px;
    transform:rotate(-2deg);
    background-color: white;
    box-shadow: 0px -1px 1px $light-grey-2;

    .slanty-inner {
      transform:rotate(2deg);
      text-align: center;
      padding-top:40px;
    }
  }

  .backwards {

    .carousel {

      .image-container {

        //TODO make this look good, if we have time
        /*
        .ng-hide-add {
          @extend .slideInRight;
        }

        .ng-hide-remove {
          @extend .slideOutLeft;
        }
        */

      }
    }

  }

}
