<div class="filter-container"  ng-show="vm.showSearch || vm.showFilter">
    <div class="row" ng-show="vm.showSearch">

        <div class="col-xs-offset-2 col-xs-8">
            <input type="text" ng-model="vm.searchTerm" ng-class="{ inputHasValue: vm.searchTerm }"
               placeholder="{{'REPORTS.SEARCH_BY' | translate}}"/>
        </div>
        <div class="col-xs-2 button-col">

            <button class="quaternary button clear" ng-click="vm.searchTerm=''">
                <span class="ng-scope" translate>COMMANDS.CLEAR</span>
            </button>

        </div>
    </div>

    <div class="row filter-row" ng-show="vm.showFilter">
        <div class="col-xs-offset-2 col-xs-4">
            <select ng-options="country.Iso3Digit as country.Name for country in vm.countryList track by country.Iso3Digit" ng-model="vm.countryFilter"
                    ng-class="{ inputHasValue: vm.countryFilter }">
                <option value="" translate>REPORTS.COUNTRY_FILTER</option>
            </select>
            </div>
        <div class="col-xs-4">
            <select ng-options="s.statusId as s.name for s in vm.statusList" ng-model="vm.statusFilter"
                    ng-class="{ inputHasValue: vm.statusFilter }">
                <option value="" translate>REPORTS.STATUS_FILTER</option>

            </select>
        </div>

        <div class="button-col col-xs-2">
             <button class="quaternary button clear" ng-click="vm.statusFilter=null; vm.countryFilter=null">
                 <span class="ng-scope" translate>COMMANDS.CLEAR</span>
             </button>
        </div>
    </div>
</div>

<div id="reports-container">

    <table>
        <thead>
            <tr>
                <th translate class="name-col">REPORTS.NAME</th>
                <th ng-click="vm.dateDescending=!vm.dateDescending" class="date-col sort"
                    ng-class="{ 'ascend': !vm.dateDescending }" translate>REPORTS.DATE</th>
                <th translate class="left-justify voucher-no-col">REPORTS.VOUCHER_NUMBER</th>
                <th translate>REPORTS.COUNTRY</th>
                <th translate class="right-justify amount-col">REPORTS.GROSS_AMOUNT</th>

                <th translate>REPORTS.STATUS</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-click="vm.viewVoucher(voucher.Barcode1, voucher.VoucherStatus);" ng-repeat="voucher in vm.reportItems
            | filter: vm.searchFilter | orderBy:['PurchaseDate','Number']:vm.dateDescending track by $index">

                <td class="name-col">{{voucher.Tourist.FirstName}} {{voucher.Tourist.LastName}}</td>
                <td class="date-col">{{voucher.PurchaseDate || voucher.SalesDate | date}}</td>

                <td class="left-justify voucher-no-col">{{voucher.Number || voucher.VoucherNumber}}</td>
                <td>{{voucher.Tourist.Address.Country.Name }}</td>

                <td class="right-justify amount-col">{{vm.currencySymbol}}

                    {{voucher.PurchaseAmount || voucher.AmountIncludingVat | number : 2}}

                </td>

                <td>{{voucher.VoucherStatus || -1 | voucherStatusLookup}}</td>
            </tr>
        </tbody>
    </table>
</div>
