﻿<!-- this template is used by SIMPLE3, ADVANCED1 & ADVANCED2 addReceiptScenarios -->


<div class="subheadings">
    <h3 data-translate>RECEIPTS.SUB_HEADING</h3>
    <h4 data-translate>RECEIPTS.SUB_HEADING_DESCRIPTION</h4>
</div>

<ng-form name="myForm" class="standardForm">

    <div class="row" ng-if="addReceiptScenario === vm.addReceiptScenarios.simple3 || vm.addReceiptScenario === vm.addReceiptScenarios.advanced2">
        <label for="receiptNumber" class="col-sm-offset-2 col-sm-3" ng-class="{ required: requiredFields.Invoices.Number }" data-translate>RECEIPTS.RECEIPT_NUMBER</label>
        <div class="col-sm-3">
            <input type="text" name="receiptNumber" id="receiptNumber" data-ng-model="vm.receipt.Number"
                   pattern="[a-zA-Z0-9]+"
                   ng-class="{ inputHasValue: vm.receipt.Number }"
                   ng-required="requiredFields.Invoices.Number"
                   placeholder="{{'RECEIPTS.RECEIPT_NUMBER_PLACEHOLDER' | translate}}">
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.receiptNumber.$valid || myForm.receiptNumber.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.receiptNumber.$error.required && myForm.receiptNumber.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-2">
            <button data-ng-click="vm.scanReceipt()" class="button fullWidthButton" data-translate>COMMANDS.SCAN_RECEIPT</button>
        </div>
    </div>

    <div class="row" ng-if="vm.addReceiptScenario === vm.addReceiptScenarios.advanced1">
        <label for="receiptNumber" class="col-sm-offset-2 col-sm-3" ng-class="{ required: requiredFields.Invoices.Number }" data-translate>RECEIPTS.RECEIPT_NUMBER</label>
        <div class="col-sm-5">
            <input type="text" name="receiptNumber" id="receiptNumber" data-ng-model="vm.receipt.Number"
                   pattern="[a-zA-Z0-9]+"
                   ng-class="{ inputHasValue: vm.receipt.Number }"
                   ng-required="requiredFields.Invoices.Number"
                   placeholder="{{'RECEIPTS.RECEIPT_NUMBER_PLACEHOLDER' | translate}}">
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.receiptNumber.$valid || myForm.receiptNumber.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.receiptNumber.$error.required && myForm.receiptNumber.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-2">
            <button ng-show="!vm.receipt.Number" data-ng-click="vm.scanAndLookupReceipt()" class="button fullWidthButton" data-translate>COMMANDS.SCAN_RECEIPT</button>
            <button ng-show="vm.receipt.Number" data-ng-click="vm.lookupReceipt()" class="button fullWidthButton" data-translate>COMMANDS.LOOK_UP</button>
        </div>
    </div>

    <div class="row" mu-validate-date="true" data-ng-model="vm.receipt.InvoiceDateTime">
        <label for="day" class="col-sm-offset-2 col-sm-3 required" data-translate>RECEIPTS.DATE</label>
        <div class="col-sm-2">
            <div class="select-wrapper"><select name="day" id="day" ng-options="day for day in dateDropdowns.days"
                                                ng-model="vm.receipt.InvoiceDateTime_.day"
                                                ng-class="{ inputHasValue: vm.receipt.InvoiceDateTime_.day && !vm.isPartiallyReadOnly }"
                    data-ng-disabled="vm.isPartiallyReadOnly" required></select></div>
            <p class="help-block validationMessage" ng-show="myForm.day.$error.required && myForm.day.$touched" data-translate>VALIDATION.REQUIRED</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.incompleteDate" data-translate>VALIDATION.DATE_ERROR_INCOMPLETE</p> <!--&& myForm.day.$touched && myForm.month.$touched && myForm.year.$touched -->
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.invalidDate" data-translate>VALIDATION.DATE_ERROR_INVALID</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.futureDate" data-translate>VALIDATION.DATE_ERROR_FUTURE</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="vm.dateTooFarInPast && !myForm.$error.futureDate && !myForm.$error.invalidDate && !myForm.$error.incompleteDate" data-translate>VALIDATION.DATE_ERROR_OLD</p>
        </div>
        <div class="col-sm-2">
            <div class="select-wrapper"><select name="month" ng-options="month.id as month.name for month in dateDropdowns.months"
                                                ng-model="vm.receipt.InvoiceDateTime_.month"
                                                ng-disabled="vm.isPartiallyReadOnly" required
                                                ng-class="{ inputHasValue: vm.receipt.InvoiceDateTime_.month && !vm.isPartiallyReadOnly  }"></select></div>
            <p class="help-block validationMessage" ng-show="myForm.month.$error.required && myForm.month.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-2">
            <div class="select-wrapper"><select name="year" ng-options="year for year in dateDropdowns.years"
                                                ng-model="vm.receipt.InvoiceDateTime_.year"
                                                ng-disabled="vm.isPartiallyReadOnly" required
                                                ng-class="{ inputHasValue: vm.receipt.InvoiceDateTime_.month && !vm.isPartiallyReadOnly }"></select></div>
            <p class="help-block validationMessage" ng-show="myForm.year.$error.required && myForm.year.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row" ng-if="!hiddenFields.Invoices.PaymentDetails">
        <label class="col-sm-offset-2 col-sm-3"
        ng-class="{ required: requiredFields.Invoices.PaymentDetails }"
        for="description" data-translate>RECEIPTS.PAYMENT_METHOD</label>
        <div class="col-sm-5">
            <div class="select-wrapper"><select ng-model="vm.receipt.PaymentMethodDetails[0].Method" name="paymentMethod"
                    id="paymentMethod" ng-required="requiredFields.Invoices.PaymentDetails"
                    ng-class="{ inputHasValue: vm.receipt.PaymentMethodDetails[0].Method && !vm.isPartiallyReadOnly }"
                    ng-options="pm.id as pm.name for pm in vm.paymentMethods" data-ng-disabled="vm.isPartiallyReadOnly">
                <option value="" translate>DROPDOWNS.PLEASE_SELECT</option>
            </select></div>
            <p class="help-block validationMessage" ng-show="myForm.paymentMethod.$error.required && myForm.paymentMethod.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-3" ng-if="vm.receipt.PaymentMethodDetails[0].Method === vm.paymentMethodKeys.other">

            <input type="text" name="paymentMethodOther" id="paymentMethodOther" data-ng-model="vm.receipt.PaymentMethodDetails[0].PaymentMethodOtherName"
                   required data-ng-disabled="vm.isPartiallyReadOnly" placeholder="{{'RECEIPTS.PAYMENT_OTHER' | translate}}"
                   ng-class="{ inputHasValue: vm.receipt.PaymentMethodDetails[0].PaymentMethodOtherName && !vm.isPartiallyReadOnly }">

            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.paymentMethodOther.$valid || myForm.paymentMethodOther.$untouched"
                  ng-include="'images/svg/validation.svg'"></span>

            <p class="help-block validationMessage" ng-show="myForm.paymentMethodOther.$error.required && myForm.paymentMethodOther.$touched" data-translate>
                VALIDATION.REQUIRED</p>
        </div>
    </div>
</ng-form>

<ng-form name="itemsForm" class="standardForm">

    <div ng-repeat="item in vm.receipt.LineItems" class="line-item">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-3 itemHeading">
                <span data-translate>RECEIPTS.ITEM</span> <span class="smallSlantyBox">{{$index+1}}</span>
            </div>
            <div class="col-sm-offset-4 col-sm-1 svg-icon actionIcon" ng-include="'images/svg/delete.svg'" ng-click="vm.removeItem($index)"></div>
        </div>

        <ng-form name="itemForm">

            <div class="row" ng-if="vm.addReceiptScenario !== vm.addReceiptScenarios.advanced1">
                <label class="col-sm-offset-2 col-sm-3 required" for="itemtype" data-translate>RECEIPTS.ITEM_TYPE</label>
                <div class="col-sm-4">
                    <div class="select-wrapper">
                        <select
                            name="itemtype"
                            id="itemtype"
                            ng-model="item._itemtype"
                            ng-options="prod as prod.ProductDescription for prod in vm.products track by prod.ProductCode"
                            required data-ng-disabled="vm.isPartiallyReadOnly"
                            ng-class="{ inputHasValue: item._itemtype && !vm.isPartiallyReadOnly }"
                            ng-change="vm.updateLineItemValue()"
                        >
                                <option value="" translate=>DROPDOWNS.PLEASE_SELECT</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <label ng-if="item._itemtype">VAT {{item._itemtype.VatRate}}%</label>
                </div>
            </div>

            <div class="row" ng-if="vm.addReceiptScenario === vm.addReceiptScenarios.advanced1">
                <label class="col-sm-offset-2 col-sm-3" for="itemtype" data-translate>RECEIPTS.ITEM_TYPE</label>
                <div class="col-sm-4">
                    <label ng-if="item.ProductDescription">{{item.ProductDescription}}</label>
                    <label ng-if="!item.ProductDescription" translate>MISC.NOT_AVAILABLE</label>
                </div>
                <div class="col-sm-1">
                    <label>VAT {{item.VatRate}}%</label>
                </div>
            </div>


            <div class="row" ng-if="vm.receipt.pricing ==='total'">
                <label class="col-sm-offset-2 col-sm-3 required" for="totalValue" data-translate>RECEIPTS.TOTAL_VALUE</label>
                <div class="col-sm-2">
                    <input type="number" pattern="[0-9]*\.?[0-9]+" min="0" name="totalValue" id="totalValue" data-ng-model="item.GrossAmount"
                           ng-class="{ inputHasValue: item.GrossAmount && !vm.isPartiallyReadOnly }"
                           required data-ng-disabled="vm.isPartiallyReadOnly" placeholder="{{'RECEIPTS.VALUE' | translate}}"
                           ng-change="vm.updateLineItemValue()">

                    <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="itemForm.totalValue.$valid || itemForm.totalValue.$untouched" ng-include="'images/svg/validation.svg' "></span>
                    <p class="help-block validationMessage" ng-show="itemForm.totalValue.$error.required && itemForm.totalValue.$touched" data-translate>VALIDATION.REQUIRED</p>
                </div>

                <div class="col-sm-2" ng-if="vm.addReceiptScenario !== vm.addReceiptScenarios.simple3">
                    <input type="number" min="0" name="quantity" pattern="\d*" id="quantity" class="text" data-ng-model="item.Quantity"
                           required data-ng-disabled="vm.isPartiallyReadOnly" placeholder="{{'RECEIPTS.QUANTITY' | translate}}"
                           ng-class="{ inputHasValue: item.Quantity && !vm.isPartiallyReadOnly }">
                    <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="itemForm.quantity.$valid || itemForm.quantity.$untouched" ng-include="'images/svg/validation.svg' "></span>
                    <p class="help-block validationMessage" ng-show="itemForm.quantity.$error.required && itemForm.quantity.$touched" data-translate>VALIDATION.REQUIRED</p>
                </div>
            </div>

            <div class="row" ng-if="vm.receipt.pricing==='unit'">
                <label class="col-sm-offset-2 col-sm-3 required" for="unitPrice">
                    <span data-translate>RECEIPTS.UNIT_PRICE</span> / <span data-translate>RECEIPTS.QUANTITY</span>
                </label>
                <div class="col-sm-2">
                    <input type="number" pattern="[0-9]*\.?[0-9]+" min="0" name="unitPrice" id="unitPrice" data-ng-model="item.UnitPrice"
                           data-ng-disabled="vm.isPartiallyReadOnly" required
                           ng-class="{ inputHasValue: item.UnitPrice && !vm.isPartiallyReadOnly }" placeholder="{{'RECEIPTS.UNIT_PRICE' | translate}}">
                    <span class="form-control-feedback validationIcon" aria-hidden="true"
                          ng-hide="itemForm.unitPrice.$valid || itemForm.unitPrice.$untouched" ng-include="'images/svg/validation.svg' "></span>
                    <p class="help-block validationMessage" ng-show="itemForm.unitPrice.$error.required && itemForm.unitPrice.$touched" data-translate>VALIDATION.REQUIRED</p>
                </div>

                <div class="col-sm-2" ng-if="vm.addReceiptScenario !== vm.addReceiptScenarios.simple3">
                    <input type="number" pattern="\d*" min="0" name="quantity" id="quantity" class="text" placeholder="{{'RECEIPTS.QUANTITY' | translate}}"
                           data-ng-model="item.Quantity" data-ng-disabled="vm.isPartiallyReadOnly" required
                           ng-class="{ inputHasValue: item.Quantity && !vm.isPartiallyReadOnly }">
                    <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="itemForm.quantity.$valid || itemForm.quantity.$untouched" ng-include="'images/svg/validation.svg' "></span>
                    <p class="help-block validationMessage" ng-show="itemForm.quantity.$error.required && itemForm.quantity.$touched" data-translate>VALIDATION.REQUIRED</p>
                </div>
            </div>


            <div class="row" ng-if="!hiddenFields.Invoices.LineItems.Description">
                <label class="col-sm-offset-2 col-sm-3"
                ng-class="{ required: requiredFields.Invoices.LineItems.Description }"
                for="description" data-translate>RECEIPTS.DESCRIPTION</label>
                <div class="col-sm-5">
                    <input ng-required="requiredFields.Invoices.LineItems.Description" type="text" name="description" id="description" data-ng-model="item.Description"
                           ng-class="{ inputHasValue: item.Description && !vm.isPartiallyReadOnly }"
                           placeholder="{{'RECEIPTS.DESCRIPTION_PLACEHOLDER' | translate}}">
                    <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="itemForm.description.$valid || itemForm.description.$untouched" ng-include="'images/svg/validation.svg' "></span>
                    <p class="help-block validationMessage" ng-show="itemForm.description.$error.required && itemForm.description.$touched" data-translate>VALIDATION.REQUIRED</p>
                </div>
            </div>

        </ng-form>

    </div>
</ng-form>

<!-- advanced1 receipt scenario, you can't manually add receipts -->
<div class="row" ng-if="!vm.isPartiallyReadOnly">
    <div class="col-sm-offset-5 add-receipt-button-col">
        <button data-ng-click="vm.addItem()" class="button secondary padded-button"
                ng-disabled="myForm.$invalid || vm.isPartiallyReadOnly || vm.dateTooFarInPast">

            <span ng-if="vm.receipt.LineItems.length === 0" translate>RECEIPTS.ADD_ITEM</span>
            <span ng-if="vm.receipt.LineItems.length > 0" translate>RECEIPTS.ADD_ANOTHER_ITEM</span>
        </button>
    </div>
</div>
