<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>RECEIPTS.ADD_RECEIPT</h2>
        <div class="row button-row">
            <button data-ng-click="closeThisDialog()" class="col-xs-2 pull-left button" data-translate>COMMANDS.CANCEL</button>
            <button data-ng-click="closeThisDialog(ngDialogData.receiptNumber)" data-ng-disabled="popupForm.receiptNumber.$invalid" class="col-xs-2 pull-right button" data-translate>COMMANDS.CONFIRM</button>
        </div>
    </div>
</nav>

<ng-form name="popupForm" class="popupContent shortForm">
    <div class="row">
        <label for="receiptnumber" class="col-sm-4" data-translate>RECEIPTS.RECEIPT_NUMBER</label>
        <div class="col-sm-8">
            <input type="text" name="receiptNumber" id="receiptNumber" data-ng-model="ngDialogData.receiptNumber" ng-class="{ inputHasValue: ngDialogData.receiptNumber }" required placeholder="{{'RECEIPTS.RECEIPT_NUMBER_PLACEHOLDER' | translate}}">
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="popupForm.receiptNumber.$valid || popupForm.receiptNumber.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="popupForm.receiptNumber.$error.required && popupForm.receiptNumber.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>
    <div class="row noMargin">
        <div class="col-sm-12 centerText">
            <hr />
            <span class="or whiteBackground">Or</span>
        </div>
    </div>
    <div class="row">
        <button data-ng-click="scanReceipt()" class="col-sm-offset-3 col-xs-6 button" data-translate>COMMANDS.SCAN_RECEIPT</button>
    </div>
</ng-form>
