﻿<!-- this template is used by SIMPLE1 and SIMPLE2 addReceiptScenarios -->


<div class="subheadings">
    <h3 data-translate>RECEIPTS.SUB_HEADING</h3>
    <h4 data-translate>RECEIPTS.SUB_HEADING_DESCRIPTION_NO_SCAN</h4>
</div>


<ng-form name="myForm" class="standardForm">

    <div class="row" ng-if="vm.addReceiptScenario !== vm.addReceiptScenarios.simple2">

        <label for="receiptNumber" class="col-sm-offset-2 col-sm-3" ng-class="{ required: requiredFields.Invoices.Number }" data-translate>RECEIPTS.RECEIPT_NUMBER</label>

        <div class="col-sm-5">
            <input type="text" name="receiptNumber" id="receiptNumber"
                   pattern="[a-zA-Z0-9]+"
                   data-ng-model="vm.receipt.Number"
                   ng-class="{ inputHasValue: vm.receipt.Number }"
                   ng-required="requiredFields.Invoices.Number"
                   placeholder="{{'RECEIPTS.RECEIPT_NUMBER_PLACEHOLDER' | translate}}">
            <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="myForm.receiptNumber.$valid || myForm.receiptNumber.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.receiptNumber.$error.required && myForm.receiptNumber.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-2" ng-if="vm.barcodeScanAvailable">
            <button data-ng-click="vm.scanReceipt()" class="button fullWidthButton" data-translate>COMMANDS.SCAN_RECEIPT</button>
        </div>
    </div>

    <div class="row" mu-validate-date="true" data-ng-model="vm.receipt.InvoiceDateTime">

        <label for="day" class="col-sm-offset-2 col-sm-3 required" data-translate>RECEIPTS.DATE</label>

        <div class="col-sm-2">
            <div class="select-wrapper">
                <select name="day" id="day" ng-options="day for day in dateDropdowns.days"
                                                ng-model="vm.receipt.InvoiceDateTime_.day"
                                                ng-class="{ inputHasValue: vm.receipt.InvoiceDateTime_.day }" required>
                </select>
            </div>
            <p class="help-block validationMessage" ng-show="myForm.day.$error.required && myForm.day.$touched" data-translate>VALIDATION.REQUIRED</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.incompleteDate" data-translate>VALIDATION.DATE_ERROR_INCOMPLETE</p> <!--&& myForm.day.$touched && myForm.month.$touched && myForm.year.$touched -->
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.invalidDate" data-translate>VALIDATION.DATE_ERROR_INVALID</p>
            <p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.futureDate" data-translate>VALIDATION.DATE_ERROR_FUTURE</p>
            <p class="help-block validationMessage validationFixedWidth"
               data-ng-show="vm.dateTooFarInPast && !myForm.$error.futureDate && !myForm.$error.invalidDate && !myForm.$error.incompleteDate"
               data-translate>VALIDATION.DATE_ERROR_OLD</p>
        </div>
        <div class="col-sm-2">
            <div class="select-wrapper"><select name="month" ng-options="month.id as month.name for month in dateDropdowns.months" ng-model="vm.receipt.InvoiceDateTime_.month"
                                                ng-class="{ inputHasValue: vm.receipt.InvoiceDateTime_.month }" required></select></div>
            <p class="help-block validationMessage" ng-show="myForm.month.$error.required && myForm.month.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-2">
            <div class="select-wrapper"><select name="year" ng-options="year for year in dateDropdowns.years" ng-model="vm.receipt.InvoiceDateTime_.year"
                                                ng-class="{ inputHasValue: vm.receipt.InvoiceDateTime_.year }" required></select></div>
            <p class="help-block validationMessage" ng-show="myForm.year.$error.required && myForm.year.$touched" data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div class="row" ng-if="hiddenFields.Invoices.PaymentDetails">

        <label class="col-sm-offset-2 col-sm-3"
            ng-class="{ required: requiredFields.Invoices.PaymentDetails }"
            for="description" data-translate>RECEIPTS.PAYMENT_METHOD</label>

        <div class="col-sm-2">
            <div class="select-wrapper">
                <select ng-model="vm.receipt.PaymentMethodDetails[0].Method"
                        ng-class="{ inputHasValue: vm.receipt.PaymentMethodDetails[0].Method }"
                        name="paymentMethod" id="paymentMethod"
                        ng-required="requiredFields.Invoices.PaymentDetails"
                        ng-options="pm.id as pm.name for pm in vm.paymentMethods">
                    <option value="" translate>DROPDOWNS.PLEASE_SELECT</option>
                </select>
            </div>

            <p class="help-block validationMessage" ng-show="myForm.paymentMethod.$error.required && myForm.paymentMethod.$touched"
               data-translate>VALIDATION.REQUIRED</p>
        </div>
        <div class="col-sm-3" ng-if="vm.receipt.PaymentMethodDetails[0].Method === vm.paymentMethodKeys.other">
            <input type="text" name="paymentMethodOther" id="paymentMethodOther" data-ng-model="vm.receipt.PaymentMethodDetails[0].PaymentMethodOtherName"
                   ng-class="{ inputHasValue: vm.receipt.PaymentMethodDetails[0].PaymentMethodOtherName }" required placeholder="{{'RECEIPTS.PAYMENT_OTHER' | translate}}">
            <span class="form-control-feedback validationIcon" aria-hidden="true"
                  ng-hide="myForm.paymentMethodOther.$valid || myForm.paymentMethodOther.$untouched" ng-include="'images/svg/validation.svg' "></span>
            <p class="help-block validationMessage" ng-show="myForm.paymentMethodOther.$error.required && myForm.paymentMethodOther.$touched"
               data-translate>VALIDATION.REQUIRED</p>
        </div>
    </div>

    <div ng-repeat="qv in vm.receipt.LineItems">
        <ng-form name="itemForm">

            <div class="row">

                <div class="col-sm-offset-2 col-sm-3 itemHeading" ng-if="!vm.isUkmerchant" ng-class="{ required: !vm.receiptHasSomeValues() }">
                    <span data-translate>RECEIPTS.VAT</span> <span class="smallSlantyBox">{{qv.VatRate}}%</span>
                    
                    
                </div>

                <div class="col-sm-offset-2 col-sm-3 itemHeading" ng-if="vm.isUkmerchant" ng-class="{ required: !vm.receiptHasSomeValues() }">
                    <span data-translate>RECEIPTS.AMOUNT</span> 
                                  
                </div>

                <div class="col-sm-2">
                    <input
                        type="number"
                        pattern="[0-9]*\.?[0-9]+"
                        min="0" name="totalValue"
                        id="totalValue"
                       	ng-change="Check(qv.UnitPrice,qv)"
                        data-ng-model="qv.UnitPrice"
                        ng-class="{ inputHasValue: qv.UnitPrice }"
                        ng-required="!vm.receiptHasSomeValues()"
                        placeholder="{{'RECEIPTS.VALUE' | translate}}"
                    >
                    <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="itemForm.totalValue.$valid || itemForm.totalValue.$untouched" ng-include="'images/svg/validation.svg' "></span>
                    <p class="help-block validationMessage" ng-show="itemForm.totalValue.$error.required && itemForm.totalValue.$touched" data-translate>VALIDATION.REQUIRED</p>
                </div>

            </div>

            <div class="row" ng-if="vm.addReceiptScenario !== vm.addReceiptScenarios.simple2">

                <label class="col-sm-offset-2 col-sm-3"
                ng-class="{ required: vm.descriptionRequired && qv.GrossAmount > 0 }"
                for="description" data-translate>RECEIPTS.DESCRIPTION</label>

                <div class="col-sm-5">

                    <input type="text" name="description" id="description" data-ng-model="qv.Description"
                           ng-class="{ inputHasValue: qv.Description }" ng-required="vm.descriptionRequired && qv.GrossAmount > 0"
                           placeholder="{{'RECEIPTS.DESCRIPTION_PLACEHOLDER' | translate}}">

                    <span class="form-control-feedback validationIcon" aria-hidden="true" ng-hide="itemForm.description.$valid || itemForm.description.$untouched" ng-include="'images/svg/validation.svg' "></span>

                    <p class="help-block validationMessage" ng-show="itemForm.description.$error.required && itemForm.description.$touched" data-translate>VALIDATION.REQUIRED</p>
                </div>
            </div>
        </ng-form>
    </div>

</ng-form>
