﻿<!--<div>{{vm.timers}}</div>-->

<div ng-if="vm.generating" class="row">
    <div class="col-xs-4 col-xs-offset-4 generating" translate>
        REFUND.GENERATING_PDF
    </div>
</div>

<div id="pdfHolder">
</div>