﻿<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate="{{ngDialogData.title}}"></h2>
        <div class="row button-row">
            
            <button data-ng-click="closeThisDialog(true)" class="col-xs-2 pull-right button" data-translate>COMMANDS.CLOSE</button>
        </div>
    </div>
</nav>

<div class="popupContent" data-translate="{{ngDialogData.message}}"></div>
