﻿<div class="inner-app">


    <nav class="navbar">

        <div class="status-bar container-fluid" ng-class="{offline: vm.offline()}">
            <span class="content" data-translate>MISC.OFFLINE</span>
        </div>

        <div class="container-fluid main-nav-container" ng-class="{'showing-section': vm.sectionNumber() }">

            <h1 class="pageTitle" data-translate="{{vm.title()}}"></h1>

            <div class="sectionNumberContainer">
                <span class="sectionNumbers" ng-if="vm.sectionNumber()" ng-class="{smallSlantyBox : vm.sectionNumber()===1}">1</span>
                <span class="sectionNumbers" ng-if="vm.sectionNumber()" ng-class="{smallSlantyBox : vm.sectionNumber()===2}">2</span>
                <span class="sectionNumbers" ng-if="vm.sectionNumber()" ng-class="{smallSlantyBox : vm.sectionNumber()===3}">3</span>
                <span class="sectionNumbers" ng-if="vm.sectionNumber()" ng-class="{smallSlantyBox : vm.sectionNumber()===4}">4</span>
            </div>

            <div class="row button-row">

                <div class="col-xs-1 home-button-container svgHeadingButton">
                    <button class="home-button" ng-click="vm.goHome()" href="">
                        <div class="svg-icon" ng-include="'images/svg/home.svg'"></div>
                    </button>
                </div>
                <div class="col-xs-1"  ng-show="vm.shopperEnable()" >
                    <button class="home-button" ng-click="vm.goToShopperDetails()" href="">
                        <img ng-src="images/usrProfile.png" />
                        
                    </button>
                </div>

                <div ng-repeat="button in vm.buttons() | filter: { isFooter: false }"
                     ng-class="{'col-xs-1 svgHeadingButton': button.svg,
                         'col-xs-2 button-col':!button.svg,
                          'button-right-side' : button.float === 'right',
                          'button-left-side' : button.float === 'left' }">

                    <button ng-click="button.clickCallback()" ng-disabled="button.isDisabledCallback()"
                            class="{{button.buttonType + ' ' + button.svgIconName}}"
                            ng-class="{'next-button': button.text === 'COMMANDS.NEXT'}">

                        <span class="svg-icon" ng-show="button.svg" ng-include="button.svgPath"></span>

                        <!-- automatically include next icon for next button-->
                        <span class="svg-icon"
                              ng-include="button.text === 'COMMANDS.NEXT' ? 'images/svg/next.svg' : null"></span>

                        <span translate="{{button.text}}" class="button-text"></span>

                    </button>

                </div>

                <div class="select-wrapper vip" ng-show="vm.vipRefundAllowed && vm.showVip()">
                    <select
                        class="vip-refund-select"
                        ng-options="'VIP '+code+'%' for code in vm.voucherFormulas"
                        ng-change="vm.calculateRefund()"
                        ng-model="vm.currentVoucher.VoucherFormula"
                    >
                        <option value="" translate>DROPDOWNS.NO_VIP</option>
                    </select>
                </div>
                <div class="select-wrapper vip" ng-show="vm.showLayoutType()">
                    <select
                        class="vip-refund-select"
                        ng-options="layouttype.translationKey | translate for layouttype in vm.layoutTypes"
                        ng-change="vm.suggestedLayoutType(vm.layouttypeSelected)"
                        ng-model="vm.layouttypeSelected"
                    >
                        <option value="" translate>DROPDOWNS.LAYOUT_DEFAULT</option>
                    </select>
                </div> 
                
                
                

            </div>

        </div>

    </nav>

    <main data-ui-view class="container-fluid"></main>

    <div class="container-fluid debug-content" style="padding-bottom:150px;">
        Debug controls:<br />
        <!-- TODO - this debug code can come out once we're sure it's all good -->

        Language: <select ng-model="language">
            <option value="en">English</option>
            <option value="zh">Chinese</option>
            <option value="ru">Russian</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="it">Italian</option>
        </select>
        &nbsp;<label for="connected">Online: </label><input type="checkbox" name="connected" id="connected" ng-model="connected"><label for="connected"></label>
        &nbsp;Voucher type:<select ng-model="addReceiptScenario">
            <option value="1">receiptNumber</option>
            <option value="2">salesReceipt</option>
            <option value="3">description</option>
            <option value="4">receiptNumberLookup</option>
            <option value="5">fullEdit</option>
        </select>
    </div>

    <footer class="container-fluid">
        <div class="row">

            <div class="col-sm-3 buttonPadding pull-left" ng-repeat="button in vm.buttons() | filter: { isFooter: true }">
                <button ng-click="button.clickCallback()" ng-disabled="button.isDisabledCallback()" class="{{button.buttonType}}">
                    <span translate="{{button.text}}"></span>
                </button>
            </div>
            <div ng-class="vm.changeTotalCssClass()?'col-xs-8 refundPadding':'col-xs-5 refundPadding'" ng-show="vm.showTotalAmount()">
                <total-amount refund-info="vm.footerInfo().refund" is-estimated="vm.currentVoucher.RefundOption.RefundOptionCode===undefined"></total-amount>
            </div>

            <div class="col-xs-4 pull-right refundPadding">
                <refund-amount refund-info="vm.footerInfo().refund" is-estimated="vm.currentVoucher.RefundOption.RefundOptionCode===undefined"></refund-amount>
            </div>
    </footer>

</div>
