<div ng-if="isEstimated===false" class="refundText">
    <span data-translate>MISC.DATE</span>
    <span ng-if="!refundInfo.voucherDate">{{ currentDate() | date: 'shortDate'}}</span>
    <span ng-if="refundInfo.voucherDate">{{ refundInfo.voucherDate | date: 'shortDate'}}</span>
</div>
<div class="refundText refundAmount">
    <span data-translate>REFUND.TOTAL_REFUND</span>
    <span>{{refundInfo.currencySymbol}}{{refundInfo.totalRefund.toFixed(2)}}</span>
</div>
<div class="estimated-note refundText" ng-if="isEstimated">
    <span data-translate>REFUND.ESTIMATED_REFUND</span>
</div>
