
<div class="refundText refundAmount">
    <span data-translate>REFUND.TOTAL_PURCHASE_PRICE</span>
    <span>:</span>
    <span>{{refundInfo.currencySymbol}}{{refundInfo.totalGrossAmount.toFixed(2)}}</span>
</div>

