<div ng-if="vm.categories.length > 0" class="faqs-container">

      <div class="faq-column">
          <ul class="listCategory">
              <li ng-repeat="category in vm.categories">
                  <a href="" ng-class="{ 'active': category == vm.chosenCategory }"
                     ng-click="vm.chosenCategory = category">
                      {{ category }}
                  </a>
              </li>
          </ul>
      </div>

      <div class="faq-column answers">

              <ul class="listFAQ">
                  <li ng-repeat="q in vm.faqs | filter: { node: { Category:vm.chosenCategory } }">
                      <h4>{{ q.node.question }}</h4><p ng-bind-html="q.node.answer"></p>
                  </li>
              </ul>

      </div>


</div>

<div ng-if="vm.noFaqs" class="no-faqs">
    <span translate>EDUCATION.FAQS_NOT_AVAILABLE</span>
</div>
