<div class="language-selection">
    <div class="education-options">
        <div class="languageWrapper">
            <div class="select-wrapper">
                <select ng-options="lan.title for lan in vm.languages track by lan.code" ng-model="vm.fromLan">
                </select>
            </div>
        </div>
        <div class="svg-icon swaplan-icon" ng-include="'images/svg/swaplanguage.svg'" ng-click="vm.switchLanguages()"></div>
        <div class="languageWrapper">
            <div class="select-wrapper">
                <select ng-options="lan.title for lan in vm.languages track by lan.code" ng-model="vm.toLan">
                    <option value="" translate>DROPDOWNS.PLEASE_SELECT</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="phrasebook-inner row">
        <div class="col-sm-6 phrase-container">
            <ul class="listPhrases">
                <li ng-repeat="p in vm.phrases">

                    <a href="" ng-class="{ 'active': p === vm.currentPhrase }"  ng-click="vm.currentPhrase = p">

                        <div class="svg-icon" ng-include="'images/svg/qoute.svg'"></div>
                        <div class="phraseText">{{ p.phrase[vm.fromLan.code] }}</div>
                        <div class="svg-icon close-quote" ng-include="'images/svg/qoute.svg'"></div>

                    </a>

                </li>
            </ul>
        </div>

        <div class="col-sm-6 right-container">
            <div class="translated">
                <h4 ng-show="vm.toLan.code">{{ vm.toLan.title }} <span translate>EDUCATION.TRANSLATION</span></h4>
                <h4 ng-show="!vm.toLan.code" translate>EDUCATION.SELECT_DESTINATION</h4>

                <p class="translated-text">{{ vm.currentPhrase.phrase[vm.toLan.code] }}</p>
            </div>
        </div>
</div>
