<div ng-class="{ backwards:vm.backwards }" class="walkthrough-inner">

    <div class="carousel">

        <div class="button-container">
            <button  ng-if="vm.index > 0" class="previous" ng-click="vm.previous()"><</button>
        </div>

        <div class="image-container">
            <img ng-src="{{ item.imageUrl }}"
                 ng-repeat="item in vm.walkthroughItems" ng-show="item.selected"
            />
        </div>
        <div class="button-container">
            <button ng-if="vm.index < vm.walkthroughItems.length -1" class="next" ng-click="vm.next()">></button>
        </div>

    </div>

    <div class="slanty-lower-section">

        <div class="slanty-inner">

            <div class="descriptive-content">
                <div ng-repeat="item in vm.walkthroughItems" ng-show="item.selected">
                    <h1 translate>{{item.titleTranslationKey}}</h1>
                    <h2 translate>{{item.bodyTranslationKey}}</h2>
                </div>
            </div>


            <ul class="dibbles clearfix">
                <li ng-repeat="item in vm.walkthroughItems" ng-class="{ selected: item.selected }">
                    &nbsp;
                </li>
            </ul>

        </div>


    </div>


</div>



