$dark-grey: #3c3c3b;
$mid-dark-grey: #828282;
$orange: #ec6607;
$dark-orange: #c05407;
$blue: #5581a6;
$dark-blue: #245375;
$light-grey-1: #ebebed;
$light-grey-2: #f5f5f6;
$off-grey: #363635;


$primaryColor: $orange;
$primarySelectedColor:$dark-orange;

$secondaryColor:$blue;
$secondarySelectedColor:$dark-blue;

$tertiaryColor: $off-grey;
$tertiarySelectedColor:#000000;

//general body text, header color
$generalTextColor: $dark-grey;
$hintTextColor: #90a0ae;
$validationTextColor:#ed1c24;

$fieldOutlinesColor: $light-grey-1;

$backgroundColor:$light-grey-2;
$darkerBackgroundColor:#f5f8f9;

$borderColor: #e9e9eb;


