//don't use this for any module-specific sass

html, body {
    height: 100%;
    background-color: $backgroundColor;
}

body {
    font: $bodyFont;
    color: $generalTextColor;
}

.noscroll {
    /* Prevent scrolling on windows devices (swallows touch events) */
    -ms-touch-action: none;
}



.inner-app { //grid-frame vertical
    height: auto;
    flex-flow: column;
    flex-grow: 1;
    display: flex; /*Container within a container */
    justify-content: center;
}

nav { // dark title-bar
    background-color: $generalTextColor;
    width: 100%;
    overflow: visible;
    min-height: 97px;
    color: white;


    h1 {
        text-align: center;
        padding-top: 20px;
        text-transform: uppercase;
    }

    .status-bar {
        background-color: $generalTextColor;
        text-align: center;
        height: 22px;
        padding: 0 20px 0 20px;

        .content {
            display: none;
            text-transform: uppercase;
        }

        &.offline {
            background-color: $validationTextColor;
            height: 22px;

            .content {
                display: inline;
            }
        }
    }

    .main-nav-container {
        padding: 0 10px 0 10px;
        text-align: center;

        &.showing-section {
          //shimmy the title up a bit

          h1 {
            padding-top: 15px;
          }

          .button-row {
            margin: -50px 0 0 0;
          }

        }

    }

    .button-row {
        margin: -55px 0 0 0;

        .container-fluid {
            padding: 0;
        }
    }

  .home-button-container{
    padding:0;
  }

    .home-button, .back-button{
        border: none;
        float: left;
        width: 100%;
        height: 100%;
        padding: 8px 10px 0 10px;
        text-align: left;


        .svg-icon {
            svg * {
                fill: white;
            }
        }

        &:hover, &:active {
        }
    }
    .select-wrapper.vip{
        font-size:1.25em;


        select{
            line-height:27px;
            height:auto;
            padding:8px 15px 0 0;
            background-color: $dark-grey;
        }

        float: left;

        &:after{
            right:0;
        }
    }

    .settings-button {
        display: none;
    }

    button .svg-icon svg * {
        fill: white;
    }

    button.svg-icon {
      width:100%;
      height: 100%;
      text-align: left;
    }

    .button-right-side {
        float: right;
        text-align: right;

        button.svg-icon {
          text-align: right;
        }
    }



    .button-left-side {
        float: left;
        text-align: left;


    }
}



.slanty-box {
    color: $generalTextColor;
    text-align: center;
    background-color: white;
    transform: perspective(420px) skewY(-4deg);
    display: block;

    .unskew {
        transform: perspective(420px) skewY(4deg);
    }

    h2 {
        padding-top: 25px;
        text-transform: uppercase;
    }

    .subtitle {
        color: $hintTextColor;
        font: $biggerFont;
        display: block;
    }

    .svg-icon {

      svg * {

        fill: $primaryColor;

      }

    }
}


.main-view {
    display: flex;
    height: 100%;
}


main.container-fluid { //grid-block
    // position: relative;
    background-color: $backgroundColor;
    /* Please do not increase vertical padding from 40px as you'll break the receipt list screen */
    padding: 40px 10px 0 10px;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex: 1 1;
}

.ngdialog {

    .inner-dialog {
        padding: 0 20px 20px 20px;

        .walkthrough.padded-button {
            font-size: 1.1em;
        }
    }

    .field {
        margin-bottom: 10px;
    }
}




footer {
    background-color: $generalTextColor;
    min-height: 75px;
    width: 100%;
    color: white;
    position: relative;
    display: none;


    .estimated-note {
        font: $smallerFont;
        color: $mid-dark-grey;
    }

    button {
        width: 100%;
    }

    .buttonPadding {
        padding-top: 15px;
    }

    .refundPadding {
        padding-top: 14px;
    }

    .refundText {
        text-align: right;
    }

    .refundAmount{
      text-transform: uppercase;
      @extend h1;
    }

    .estimated-note{
      font-size:$smallerFont;
    }
}

.debug-content {
    display: none;
}

.ngdialog {
    .ngdialog-content {
        padding: 0 !important;
        width: 650px !important;

        .popupContent {
            padding: 20px;

          &.alipay-popup{
            padding-bottom: 40px;
          }
        }
    }

    nav {
        /*position: initial;*/
        min-height: 65px;

        .button-row {
            margin-top: -35px;
        }

        .closeBtn {
            background: $dark-grey;
            border: 2px solid $dark-orange;
        }
    }

    h2 {
        text-align: center;
        padding-top: 20px;
        text-transform: uppercase;
        font: $bodyFont;
    }

  .on-launch-label {
    padding-right:40px;
  }
}

/* This is the little "Or" in the middle of a horizontal. It appears in
   several places over the app
*/
.or {
    position: relative;
    top: -33px;
    padding-left: 20px;
    padding-right: 20px;
    font:$italicFont;
    text-decoration: underline;
    color:$hintTextColor;
    text-transform: lowercase;
    background-color: $backgroundColor;

}


.defaultBackground {
    background-color: $backgroundColor;
}

.whiteBackground {
    background-color: white;
}

.centerText {
    text-align: center;
}

/* Tabs styling needs to live in a shared area as each tab potentially has different css */
.tabsView {
    text-align: center;
    background-color: white;
    height: 50px;
    margin-top: -28px;

    .tabHeader {
        color: $hintTextColor;
        padding-top: 15px;
        cursor: pointer;
        white-space: nowrap;
    }

    .tabActive {
        color: $dark-orange;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAALCAIAAAAfqVEqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAABuSURBVChTndLBDYAgEAVRmpIypI2lcShjHaNBxQXBCQkH8v4JJyLeL/9OjOJSSiGs1cPIQeWcnKpyzU4cGLv72YmC6fQ0OHHHdHn6nKgwPTx1Jt6Yak/mhInJ8FRNtDDZnspEB1PTE4zf2cGqugFABJY2QOiQswAAAABJRU5ErkJggg==') no-repeat 50% top;
    }
}

.tabContent {
    padding-top: 28px;
}


.vip-refund-select {
    width: auto;
    background: none;
    color: white;
    border: none;

    &:hover, &:active, &:focus {
        width: auto;
        background: none;
        color: white;
        border: none;
    }
}

.sectionNumbers {
    margin-left: 8px;
    margin-right: 8px;

    &:before, &:after {
        background-color: $generalTextColor !important;
    }
}

.smallSlantyBox {
    background-color: $primaryColor;
    color: white;
    text-align: center;
    position: relative;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;

    &:before, &:after {
        content: '';
        left: 0;
        position: absolute;
        overflow: visible;
        width: 105%; /* needs to be a little bigger to avoid 1px bug */
        height: 5px;
        background-color: $backgroundColor;
        transform: skewY(-5deg);
    }

    &:before {
        top: -3px;
    }

    &:after {
        bottom: -3px;
    }
}

.svgHeadingButton {
    button {
      padding: 8px 10px 0 10px;
    }
}


.sectionNumberContainer {
    height: 20px;
}

.subheadings {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 66px;

    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
        color: $hintTextColor;
    }
}

.fullWidth {
    width: 100%;
}


.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 120px;
    height: 120px;
    z-index: z(modal);
    animation:spin 1s linear infinite;

    &.ng-leave.ng-leave-active {
        animation: none 0s;
        display: none;
    }

}

@keyframes spin { 100% { transform:rotate(360deg); } }


.loadingMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    margin-left: -50px;
    width: 100px;
    height: 40px;
    color: white;
    text-align: center;
    z-index: z(modal);
}

.dimBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: black;
    z-index: z(modal);
}

// overides toast positioning for receipt list
body.receiptList {

    #toast-container {
        position: absolute;
        left:12px;
        bottom:78px;
    }

}

label.required, div.required {
    &:after {
        color: red;
        padding: 4px;
        content: '*';
        vertical-align: middle;
    }
}

.version-code {
    position: absolute;
    bottom: 5px;
    right:10px;
    font:$italicFont;
    font-size: 0.7em
}
