*:focus {
    outline: none;
}

//buttons

button {
    border: none;
    background: none;
    border-radius: 0;
    color: white;
    padding: 0;
    margin: 0;
}

.button {
    font: $biggerFont;
    border: none;
    color: white;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    background-color: $primaryColor;

    &.padded-button {
        padding:0 20px 0 20px;
    }

    &:active:enabled, &:hover:enabled {
        background-color: $primarySelectedColor;
    }

    &.disabled, &[disabled] {
        opacity: 0.6;
        cursor: default; 
    }

    &.secondary {
        background-color: $secondaryColor;

        &:active:enabled, &:hover:enabled {
            background-color: $secondarySelectedColor;
        }
    }

    &.tertiary {
        border: 2px solid $primaryColor;
        background-color: $tertiaryColor;

        &:active:enabled, &:hover:enabled {
            border: 2px solid $primaryColor;
            background-color: $tertiarySelectedColor;
        }
    }

    &.quaternary {
        border: 2px solid $secondaryColor;
        background-color: white;
        color: $generalTextColor;

        &:active:enabled, &:hover:enabled {
            border: 2px solid $secondaryColor;
            background-color: $fieldOutlinesColor;
        }
    }

    &.camera-button {
        width: 100%;
        height: 185px;
        background: none;
        border-radius: 3px;
        border: 2px solid $fieldOutlinesColor;
        background-color: $darkerBackgroundColor;

        &:active, &:hover {
            border: 2px solid $fieldOutlinesColor;
            background: none;
        }

        .svg-icon svg * {
            fill: $hintTextColor;
        }
    }

    .svg-icon svg * {
        fill: white;
    }

    &.next-button {
        /*position: relative; this upsets IE positioning */
        .svg-icon {
            /* In IE opacity doesn't inherit to absolute / relative positioned children
            position: absolute;
            right: 22px; */
            float: right;
            margin-right: 16px;

            svg {
                //icon is a bit smaller than supplied, this'll scale the whole thing
                width: 28px;
                margin-top: 4px;
            }
        }

        .button-text {
            margin-left: 16px;
            line-height: 35px;
        }
    }

  &.padded-button {
    padding:0 20px 0 20px;
  }
}

.button-col button {
    width: 100%;
}

.fullWidthButton {
    width: 100%;
}

input[type=checkbox] {
    display: none;
}

input[type="checkbox"] + label {
    padding: 0;
    margin: 8px 0 0 0;
    display: inline-block;
    width: 41px;
    height: 41px;
    background-size: 41px 41px;
    background-image: url('../images/check_off.png');
}

input[type="checkbox"]:checked + label {
    background-image: url('../images/check_on.png');
}

//IE select - hide arrows
select::-ms-expand {
    display: none;
}

//text boxes, selects
input[type=text], input[type=email], input[type=password], input[type='number'], textarea, select {
    border: 2px solid $fieldOutlinesColor;
    border-radius: 3px;
    background: none;
    background-color: $darkerBackgroundColor;
    height: 50px;
    padding: 10px;
    color: $hintTextColor;
    width: 100%;
    -webkit-appearance: none;

    &.inputHasValue {
        background-color: white;
        color: $generalTextColor;
    }

    &:focus {
        background-color: white;
        border-color: $primaryColor;
        color: $generalTextColor;
    }


    &.ng-invalid.ng-touched {
        border-color: $validationTextColor;
        color: $validationTextColor;
        padding-right: 40px;
    }
}

.fake-textbox {

  border: 2px solid $fieldOutlinesColor;
  border-radius: 3px;
  background: none;
  background-color: $darkerBackgroundColor;
  height: 50px;
  padding: 10px;
  color: $hintTextColor;
  width: 100%;
  display: inline-block;
  line-height: 30px;
}

.select-wrapper {
    display: inline;
    position: relative;
    /*height: 50px; this has no effect when used with display: inline */
    //this is the little down triangle symbol
    &:after {
        position: absolute;
        top: 50%;
        right: 15px;
        display: block;
        width: 0;
        height: 0;
        margin-top: -3px;
        border-color: $hintTextColor transparent transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        content: '';
    }
}

.ui-select-container.selectize-control {
    .ui-select-match {
        width: 100%;
    }

    .selectize-input {
        padding-top: 4px;
        padding-bottom: 4px;
        box-shadow: none;
        background: none;
        font-size: inherit;

        &.focus {
            background-color: white;
            border-color: $primaryColor;
            color: $generalTextColor;
        }

        input {
            font-size: inherit;
        }
    }

    &.open {
        .selectize-input {
            background-color: white;
            border-color: $primaryColor;
            color: $generalTextColor;
        }
    }

    .dropdownWithIcon {
        line-height: 36px;
    }

    .dropdownWithIconSelectedValue {
        line-height: 36px;
        margin-right: 30px;
    }

    .dropdownWithIcon img {
        float: right;
        vertical-align: central;
    }

    input {
        height: 36px;
    }

    div.selectize-input {
        border-width: 2px;
        border-color: $fieldOutlinesColor !important;
    }

    &.ng-invalid.ng-touched div.selectize-input {
        border-color: $validationTextColor !important;
    }

    .selectize-dropdown {
        border: 2px solid $fieldOutlinesColor;
        border-radius: 3px;
        border-top: none;
        margin-top: -7px;
    }
}


form.standardForm .row, ng-form.standardForm .row {
    margin-bottom: 50px;
}

form.shortForm .row, ng-form.shortForm .row {
    margin-bottom: 25px;
}

.noMargin {
    margin-bottom: 0 !important;
}

form.standardForm, ng-form.standardForm {
  //fix issue on windows
  flex:1;
}

form.standardForm label, ng-form.standardForm label {
    padding-top: 15px;
    text-transform: uppercase;
}

.validationIcon {
    top: 10px;
    right: 16px;

    svg * {
        fill: $validationTextColor;
    }
}

.validationMessage {
    color: $validationTextColor;
    font: $italicFont;
    position: absolute;
}

.validationFixedWidth {
    width: 300px;
}

.validationWarning {
    color: $primaryColor;
}

.actionIcon {
    text-align: right;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: $orange;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: -10px 0 0 0;
}

input[type="radio"] + label > span {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid $light-grey-1;
}

input[type="radio"]:checked + label > span {
    border-color: $orange;

    span {
        display: inline-block;
        border-radius: 50%;
        background-color: $orange;
        width: 20px;
        height: 20px;
    }
}

label {
    //fixed iOS issue where labels wouldn't select their associated radiobutton
    div, span, h3 {
        pointer-events: none;
    }
}
