

@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic.eot');
  src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-italic.woff2') format('woff2'),
  url('../fonts/opensans-italic.woff') format('woff'),
  url('../fonts/opensans-italic.ttf') format('truetype'),
  url('../fonts/opensans-italic.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff2') format('woff2'),
  url('../fonts/opensans-regular.woff') format('woff'),
  url('../fonts/opensans-regular.ttf') format('truetype'),
  url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold.eot');
  src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-semibold.woff2') format('woff2'),
  url('../fonts/opensans-semibold.woff') format('woff'),
  url('../fonts/opensans-semibold.ttf') format('truetype'),
  url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
  //16px
$bodyFont: 1em 'open_sansregular';

//20px - buttons, headers
$biggerFont: 1.25em 'open_sansregular';

//30px - biggest font
$biggestFont: 1.875em 'open_sanssemibold';

//14px - buttons, headers
$smallerFont: 0.875em 'open_sansregular';

$smallFont: 0.7em 'open_sansregular';
//14px
$italicFont: 1em 'open_sansitalic';

html body {
  font-size:16px;
}

.normal {
  font: $bodyFont;
  font-weight: normal;
}

h1 {
  font: $biggerFont;
  letter-spacing: 0.015em;
  margin:0;
}

h2 {
  font:$biggestFont;
  margin:0;
}

h4 {
  font:$biggerFont;
  margin:0;
}

a {
  &:hover, &:active {
    text-decoration: none;
  }
}

.break-word{
    word-break:break-all;
}
