$zIndexLayers: (
        bottomless-pit:				-9999,
        below:						-1,
        default:					1,
        internal-overlay: 			10,
        internal-overlay-content: 	20,
        footer:						800,
        header:						1000,
        tooltips: 					1250,
        dropdown: 					1500,
        overlay:					2000,
        modal: 						3000,
        the-godfather: 				9999,
);

@function z($layer) {

  @if not map-has-key($zIndexLayers, $layer) {
    @warn "WOOPS! we didnt find `#{$layer}` in the $zIndexLayers map, try again :)";
  }

  @return map-get($zIndexLayers, $layer);

}

/*========================================

	Usage
	--------------------------------------

	.className {
		z-index: z(modal);
	}

	Will Output:

	.className {
		z-index: 3000;
	}

========================================*/