﻿/*========================================

	Usage
	--------------------------------------

	.className {
		z-index: z(modal);
	}

	Will Output:

	.className {
		z-index: 3000;
	}

========================================*/
@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic.eot');
  src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic.woff2') format('woff2'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype'), url('../fonts/opensans-italic.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular.woff2') format('woff2'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype'), url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold.eot');
  src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold.woff2') format('woff2'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype'), url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal; }

html body {
  font-size: 16px; }

h1 {
  font: 1.25em 'open_sansregular';
  letter-spacing: 0.015em;
  margin: 0; }

h2 {
  font: 1.875em 'open_sanssemibold';
  margin: 0; }

a:hover, a:active {
  text-decoration: none; }

html, body {
  height: 100%;
  background-color: #f5f5f6; }

body {
  font: 1em 'open_sansregular';
  color: #3c3c3b; }

.noscroll {
  /* Prevent scrolling on windows devices (swallows touch events) */
  -ms-touch-action: none; }

.inner-app {
  height: auto;
  flex-flow: column;
  flex-grow: 1;
  display: flex;
  /*Container within a container */
  justify-content: center; }

nav {
  background-color: #3c3c3b;
  width: 100%;
  overflow: visible;
  min-height: 97px;
  color: white; }
  nav h1 {
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase; }
  nav .status-bar {
    background-color: #3c3c3b;
    text-align: center;
    height: 22px;
    padding: 0 20px 0 20px; }
    nav .status-bar .content {
      display: none;
      text-transform: uppercase; }
    nav .status-bar.offline {
      background-color: #ed1c24;
      height: 22px; }
      nav .status-bar.offline .content {
        display: inline; }
  nav .main-nav-container {
    padding: 0 20px 0 20px;
    text-align: center; }
  nav .button-row {
    margin: -45px 0 0 0; }
    nav .button-row .container-fluid {
      padding: 0; }
  nav .home-button, nav .back-button {
    border: none;
    float: left;
    width: 27px;
    height: 27px;
    padding: 0; }
    nav .home-button .svg-icon svg *, nav .back-button .svg-icon svg * {
      fill: white; }
  nav .settings-button {
    display: none; }
  nav button .svg-icon svg * {
    fill: white; }
  nav .button-right-side {
    float: right;
    text-align: right; }
  nav .button-left-side {
    float: left;
    text-align: left; }

/*
.left-slant-col {
    padding-left: 0;
}

.right-slant-col {
    padding-right: 0;
}*/
/*
.slanty-box {
    display: block;
    color: $generalTextColor;
    text-align: center;
    position: relative;

    &:hover, &:active {
        text-decoration: none;
        color: $generalTextColor;
    }

    h2 {
        padding-top: 140px;
        text-transform: uppercase;
    }

    .subtitle {
        color: $hintTextColor;
        font: $biggerFont;
        position: relative;
        top: 3px;
    }
    //CSS slanty bits at top & bottom of a box
    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        overflow: visible;
        width: 100%;
        height: 30px;
        background-color: white;
        transform: skewY(-2deg);
    }

    &:before {
        top: -7px;
    }

    &:after {
        bottom: -7px;
    }

    &.more-slanty {
        &:before, &:after {
            transform: skewY(-4deg);
        }

        &:before {
            top: -15px;
        }

        &:after {
            bottom: -15px;
        }

        h2 {
            padding-top: 160px;
        }
    }
}
*/
.slanty-box {
  color: #3c3c3b;
  text-align: center;
  background-color: white;
  transform: perspective(420px) skewY(-4deg);
  display: block; }
  .slanty-box .unskew {
    transform: perspective(420px) skewY(4deg); }
  .slanty-box h2 {
    padding-top: 25px;
    text-transform: uppercase; }
  .slanty-box .subtitle {
    color: #90a0ae;
    font: 1.25em 'open_sansregular';
    display: block; }
  .slanty-box .svg-icon svg * {
    fill: #ec6607; }

.main-view {
  display: flex;
  height: 100%; }

main.container-fluid {
  background-color: #f5f5f6;
  /* Please do not increase vertical padding from 40px as you'll break the receipt list screen */
  padding: 40px 0px 0px;
  width: 100%;
  overflow-y: auto;
  flex: 1 1; }

.ngdialog .inner-dialog {
  padding: 0 20px 20px 20px; }
.ngdialog .field {
  margin-bottom: 10px; }

footer {
  background-color: #3c3c3b;
  min-height: 75px;
  width: 100%;
  color: white;
  position: relative;
  display: none; }
  footer .estimated-note {
    font: 0.875em 'open_sansregular';
    color: #828282; }
  footer button {
    width: 100%; }
  footer .buttonPadding {
    padding-top: 12px; }
  footer .refundPadding {
    padding-top: 14px; }
  footer .refundText {
    text-align: right; }

.debug-content {
  display: none; }

.ngdialog .ngdialog-content {
  padding: 0 !important;
  width: 650px !important;
  /* No, we have other buttons on dialogs. This would override the bootstrap styling.
            button {
            margin: -35px 20px 0;
        }*/ }
  .ngdialog .ngdialog-content .popupContent {
    padding: 10px; }
    .ngdialog .ngdialog-content .popupContent input[type=checkbox] {
      width: 0;
      margin: 0;
      padding: 0;
      opacity: 0; }
      .ngdialog .ngdialog-content .popupContent input[type=checkbox]:checked + label:after {
        background-image: url('/images/check_on.png'); }
      .ngdialog .ngdialog-content .popupContent input[type=checkbox] + label {
        display: inline-block;
        cursor: pointer;
        line-height: 25px;
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        /*IE10*/
        -ms-user-select: none;
        user-select: none; }
        .ngdialog .ngdialog-content .popupContent input[type=checkbox] + label:after {
          content: '';
          display: inline-block;
          position: absolute;
          right: -50px;
          top: 10px;
          background-image: url('/images/check_off.png');
          background-repeat: no-repeat;
          background-size: 41px 41px;
          width: 41px;
          height: 41px; }
.ngdialog nav {
  /*position: initial;*/
  min-height: 65px; }
  .ngdialog nav .button-row {
    margin-top: -35px; }
  .ngdialog nav .closeBtn {
    background: #3c3c3b;
    border: 2px solid #c05407; }
.ngdialog h2 {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font: 1em 'open_sansregular'; }

/* This is the little "Or" in the middle of a horizontal. It appears in 
   several places over the app
*/
.or {
  position: relative;
  top: -33px;
  padding-left: 20px;
  padding-right: 20px; }

.defaultBackground {
  background-color: #f5f5f6; }

.whiteBackground {
  background-color: white; }

.centerText {
  text-align: center; }

/* Tabs styling needs to live in a shared area as each tab potentially has different css */
.tabsView {
  text-align: center;
  background-color: white;
  height: 50px;
  margin-top: -28px; }
  .tabsView .tabHeader {
    color: #90a0ae;
    padding-top: 15px;
    cursor: pointer; }
  .tabsView .tabActive {
    color: #c05407;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAALCAIAAAAfqVEqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAABuSURBVChTndLBDYAgEAVRmpIypI2lcShjHaNBxQXBCQkH8v4JJyLeL/9OjOJSSiGs1cPIQeWcnKpyzU4cGLv72YmC6fQ0OHHHdHn6nKgwPTx1Jt6Yak/mhInJ8FRNtDDZnspEB1PTE4zf2cGqugFABJY2QOiQswAAAABJRU5ErkJggg==') no-repeat 50% top; }

.tabContent {
  padding-top: 28px; }

.vip-refund-select {
  width: auto;
  background: none;
  color: white;
  border: none; }
  .vip-refund-select:hover, .vip-refund-select:active, .vip-refund-select:focus {
    width: auto;
    background: none;
    color: white;
    border: none; }

.sectionNumbers {
  margin-left: 8px;
  margin-right: 8px; }
  .sectionNumbers:before, .sectionNumbers:after {
    background-color: #3c3c3b !important; }

.smallSlantyBox {
  background-color: #ec6607;
  color: white;
  text-align: center;
  position: relative;
  width: 20px;
  padding-left: 5px;
  padding-right: 5px; }
  .smallSlantyBox:before, .smallSlantyBox:after {
    content: '';
    left: 0;
    position: absolute;
    overflow: visible;
    width: 105%;
    /* needs to be a little bigger to avoid 1px bug */
    height: 5px;
    background-color: #f5f5f6;
    transform: skewY(-5deg); }
  .smallSlantyBox:before {
    top: -3px; }
  .smallSlantyBox:after {
    bottom: -3px; }

.svgHeadingButton {
  margin-top: 8px; }

.sectionNumberContainer {
  height: 20px; }

.subheadings {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 66px; }
  .subheadings h3 {
    margin: 0; }
  .subheadings h4 {
    margin: 0;
    color: #90a0ae; }

.fullWidth {
  width: 100%; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background-color: #ec6607;
  -webkit-animation: rotateplane 2.5s infinite ease-in-out;
  animation: rotateplane 2.5s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(420px) rotateX(0deg) rotateY(0deg) skewY(-5deg); }

  25% {
    -webkit-transform: perspective(420px) rotateX(-180.1deg) rotateY(0deg) skewY(-5deg); }

  50% {
    -webkit-transform: perspective(420px) rotateX(-180deg) rotateY(-179.9deg) skewY(-5deg); }

  75% {
    -webkit-transform: perspective(420px) rotateX(0deg) rotateY(-179.9deg) skewY(-5deg); }

  100% {
    -webkit-transform: perspective(420px) rotateX(0deg) rotateY(0deg) skewY(-5deg); } }

@keyframes rotateplane {
  0% {
    transform: perspective(420px) rotateX(0deg) rotateY(0deg) skewY(-5deg);
    -webkit-transform: perspective(420px) rotateX(0deg) rotateY(0deg) skewY(-5deg); }

  25% {
    transform: perspective(420px) rotateX(-180.1deg) rotateY(0deg) skewY(-5deg);
    -webkit-transform: perspective(420px) rotateX(-180.1deg) rotateY(0deg) skewY(-5deg); }

  50% {
    transform: perspective(420px) rotateX(-180deg) rotateY(-179.9deg) skewY(-5deg);
    -webkit-transform: perspective(420px) rotateX(-180deg) rotateY(-179.9deg) skewY(-5deg); }

  75% {
    transform: perspective(420px) rotateX(0deg) rotateY(-179.9deg) skewY(-5deg);
    -webkit-transform: perspective(420px) rotateX(0deg) rotateY(-179.9deg) skewY(-5deg); }

  100% {
    transform: perspective(420px) rotateX(0deg) rotateY(0deg) skewY(-5deg);
    -webkit-transform: perspective(420px) rotateX(0deg) rotateY(0deg) skewY(-5deg); } }

.loadingMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 60px;
  margin-left: -50px;
  width: 100px;
  height: 40px;
  color: white;
  text-align: center; }

.dimBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: black; }

*:focus {
  outline: none; }

button {
  border: none;
  background: none;
  border-radius: 0;
  color: white;
  padding: 0;
  margin: 0; }

.button {
  font: 1.25em 'open_sansregular';
  border: none;
  color: white;
  height: 45px;
  text-align: center;
  border-radius: 100px;
  background-color: #ec6607; }
  .button:focus:enabled, .button:hover:enabled {
    background-color: #c05407; }
  .button.disabled, .button[disabled] {
    opacity: 0.6;
    cursor: default; }
  .button.secondary {
    background-color: #5581a6; }
    .button.secondary:focus:enabled, .button.secondary:hover:enabled {
      background-color: #245375; }
  .button.tertiary {
    border: 2px solid #ec6607;
    background-color: #363635; }
    .button.tertiary:focus:enabled, .button.tertiary:hover:enabled {
      border: 2px solid #ec6607;
      background-color: #000000; }
  .button.quaternary {
    border: 2px solid #5581a6;
    background-color: white;
    color: #3c3c3b; }
    .button.quaternary:focus:enabled, .button.quaternary:hover:enabled {
      border: 2px solid #5581a6;
      background-color: #ebebed; }
  .button.camera-button {
    width: 100%;
    height: 185px;
    background: none;
    border-radius: 3px;
    border: 2px solid #ebebed; }
    .button.camera-button:focus, .button.camera-button:hover {
      border: 2px solid #ebebed;
      background: none; }
    .button.camera-button .svg-icon svg * {
      fill: #90a0ae; }
  .button .svg-icon svg * {
    fill: white; }
  .button.next-button {
    position: relative; }
    .button.next-button .svg-icon {
      position: absolute;
      right: 10px; }

.button-col button {
  width: 100%; }

.fullWidthButton {
  width: 100%; }

.checkBox {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
  margin-top: 12px !important; }

input[type=text], input[type=email], input[type=password], input[type='number'], textarea, select {
  border: 2px solid #ebebed;
  border-radius: 3px;
  background: none;
  background-color: #f5f8f9;
  height: 50px;
  padding: 10px;
  color: #90a0ae;
  width: 100%; }
  input[type=text].inputHasValue, input[type=email].inputHasValue, input[type=password].inputHasValue, input[type='number'].inputHasValue, textarea.inputHasValue, select.inputHasValue {
    background-color: white;
    color: #3c3c3b; }
  input[type=text] .checkBox, input[type=email] .checkBox, input[type=password] .checkBox, input[type='number'] .checkBox, textarea .checkBox, select .checkBox {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5); }
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type='number']:focus, textarea:focus, select:focus {
    background-color: white;
    border-color: #ec6607;
    color: #3c3c3b; }
  input[type=text].ng-invalid.ng-touched, input[type=email].ng-invalid.ng-touched, input[type=password].ng-invalid.ng-touched, input[type='number'].ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border-color: #ed1c24;
    color: #ed1c24;
    padding-right: 40px; }

.ui-select-container .ui-select-match {
  width: 100%; }
.ui-select-container .selectize-input {
  padding-top: 4px;
  padding-bottom: 4px; }
.ui-select-container .dropdownWithIcon {
  line-height: 36px; }
.ui-select-container .dropdownWithIconSelectedValue {
  line-height: 36px;
  margin-right: 30px; }
.ui-select-container .dropdownWithIcon img {
  float: right;
  vertical-align: central; }
.ui-select-container input {
  height: 36px; }
.ui-select-container div.selectize-input {
  border-width: 2px;
  border-color: #ebebed !important; }
.ui-select-container.ng-invalid.ng-touched div.selectize-input {
  border-color: #ed1c24 !important; }

form.standardForm .row {
  margin-bottom: 50px; }

form.shortForm .row {
  margin-bottom: 25px; }

.noMargin {
  margin-bottom: 0 !important; }

form.standardForm label {
  padding-top: 15px; }

.validationIcon {
  top: 10px;
  right: 16px; }
  .validationIcon svg * {
    fill: #ed1c24; }

.validationMessage {
  color: #ed1c24;
  font: 1em 'open_sansitalic';
  position: absolute; }

.validationFixedWidth {
  width: 300px; }

.validationWarning {
  color: #ec6607; }

.radioButton {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5); }

.actionIcon {
  text-align: right;
  cursor: pointer; }

.home {
  /*
  .slanty-box {

    &.vouchers {

      .svg-icon {
        //top:-168px;
      }



    }

    &.reports {

    }

    &.education, &.calculator {
      h2 {
        padding-top:128px;
      }
    }


  }
      */ }
  .home .home-button-container {
    display: none; }
  .home main.container-fluid {
    padding: 70px 0 0 0; }
  .home .slanty-box {
    height: 255px;
    transform: perspective(420px) skewY(-2deg); }
    .home .slanty-box .unskew {
      transform: perspective(420px) skewY(2deg); }
    .home .slanty-box .svg-icon {
      padding-top: 50px; }
    .home .slanty-box.education .svg-icon, .home .slanty-box.calculator .svg-icon {
      padding-top: 37px; }
    .home .slanty-box h2 {
      padding-top: 7px; }
  .home .home-row {
    margin-top: 20px; }
  .home nav .settings-button {
    display: block;
    width: 29px;
    height: 31px;
    float: right; }
    .home nav .settings-button .svg-icon {
      position: relative; }
      .home nav .settings-button .svg-icon svg * {
        fill: white; }

.signature .canvasContainer {
  display: block;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0; }
.signature canvas {
  cursor: crosshair;
  border: 2px solid #ebebed;
  border-radius: 3px;
  background-color: white; }

.voucher-dashboard {
  /*
  .slanty-box {
    height:400px;
    background-color: white;
    padding-top: 46px;

    h2 {
        padding-top: 18px;
    }

    .svg-icon {

      svg * {
        fill:$primaryColor;
      }
    }

    .subtitle {
      top:12px;
    }
  }
  */ }
  .voucher-dashboard main.container-fluid {
    padding: 105px 20px 0 20px; }
  .voucher-dashboard .slanty-box {
    height: 428px; }
    .voucher-dashboard .slanty-box .svg-icon {
      padding-top: 72px; }
    .voucher-dashboard .slanty-box .subtitle {
      padding-top: 12px; }
  .voucher-dashboard .home-button-container {
    display: none; }

.education-dashboard main.container-fluid {
  padding: 105px 20px 0 20px; }
.education-dashboard .slanty-box {
  height: 428px; }
  .education-dashboard .slanty-box .svg-icon {
    padding-top: 62px; }
  .education-dashboard .slanty-box.faqs .svg-icon {
    padding-top: 94px; }
  .education-dashboard .slanty-box.faqs h2 {
    padding-top: 42px; }
  .education-dashboard .slanty-box h2 {
    padding-top: 18px; }
  .education-dashboard .slanty-box .subtitle {
    padding-top: 12px; }
.education-dashboard .home-button-container {
  display: none; }

.refund-calculator label.purchase-amount {
  text-transform: uppercase;
  line-height: 50px; }
.refund-calculator #purchaseAmount {
  padding-left: 20px; }
.refund-calculator .input-container {
  position: relative; }
.refund-calculator .sneaky-symbol {
  position: absolute;
  left: 20px;
  line-height: 50px; }
.refund-calculator .refundRow {
  background: #ffffff; }
  .refund-calculator .refundRow.refundTitle {
    padding: 32px 0 20px 0;
    margin-top: 15px;
    text-transform: uppercase;
    color: #828282; }
.refund-calculator .min-description {
  padding-top: 10px; }
.refund-calculator main.container-fluid {
  padding-top: 48px; }
.refund-calculator .listRefund {
  list-style-type: none;
  padding: 0;
  margin-top: 0; }
  .refund-calculator .listRefund li {
    border-top: 1px solid #f5f5f6;
    height: 78px;
    line-height: 78px;
    vertical-align: middle; }
    .refund-calculator .listRefund li .amount {
      color: #245375;
      font-size: 35px;
      float: right;
      display: inline-block; }
.refund-calculator .home-button-container {
  display: none; }
.refund-calculator .min-amount {
  font: 1em 'open_sansitalic'; }

.receiptList .headingRow {
  background-color: #363635;
  color: white;
  line-height: 50px;
  text-transform: uppercase; }
.receiptList .subHeadingRow {
  background-color: #f5f5f6;
  color: #363635;
  line-height: 50px;
  text-transform: uppercase; }
.receiptList .regularRow {
  line-height: 75px;
  vertical-align: middle; }
.receiptList .spacerRow {
  background-color: #f5f5f6;
  line-height: 25px; }
.receiptList .actionIcon {
  text-align: right;
  cursor: pointer; }
.receiptList .whiteBackground {
  background-color: white; }
.receiptList .resetLineHeight {
  line-height: 0;
  padding-top: 5px; }
.receiptList .itemName {
  font: 1.25em 'open_sansregular';
  line-height: 40px; }
.receiptList .itemDescription {
  font: 1em 'open_sansregular';
  line-height: 10px; }
.receiptList form .row {
  margin-bottom: 50px; }
.receiptList .actionIcon svg * {
  fill: #5581a6; }
.receiptList footer {
  display: block; }
.receiptList .expandCollapseButton {
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  -webkit-transform: translateY(6px);
  transform: translateY(6px); }
.receiptList main.container-fluid {
  padding-top: 28px; }

.refundReview footer {
  display: block; }
.refundReview .leftColumn .row {
  height: 50px;
  margin-bottom: 25px; }
.refundReview .rightColumn .row {
  margin-bottom: 50px; }
.refundReview .flag {
  height: 36px; }
.refundReview main.container-fluid {
  padding-top: 28px; }

.refundTypes .radioContainer {
  text-align: right;
  padding-top: 5px; }
.refundTypes .rowMargin {
  margin-bottom: 25px; }
.refundTypes .hideOffTopOfScreen {
  position: absolute;
  top: -99999px; }

.login .background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%; }
.login .background_left {
  background: url(../images/svg/loginbg_left.svg) top left no-repeat;
  background-size: contain; }
.login .background_right {
  right: 0;
  background: url(../images/svg/loginbg_right.svg) top right no-repeat;
  background-size: contain; }
.login .login-box {
  background-color: white;
  padding: 50px 17.66667% 50px 17.66667%;
  height: 455px;
  top: -20px; }
  .login .login-box .button {
    margin-top: 35px;
    padding: 0 50px 0 50px; }
  .login .login-box .logo {
    position: relative;
    top: -5px; }
  .login .login-box .css-form {
    margin-top: 42px; }
  .login .login-box .css-form input[type=email], .login .login-box input[type=text] {
    margin-bottom: 25px; }
.login .debug-content {
  display: none; }
.login .login-container {
  margin-top: 40px; }

.add-receipt .home-button-container {
  display: none; }
.add-receipt .itemHeading {
  font: 1.25em 'open_sansregular';
  color: #ec6607;
  text-transform: capitalize;
  padding-top: 15px; }
.add-receipt .narrowRow {
  margin-bottom: 15px !important; }

.reports .home-button-container {
  display: none; }
.reports main {
  background: #ffffff;
  padding-top: 0; }
.reports .filter-container {
  padding: 10px 30px 10px 30px; }
.reports table {
  width: 100%; }
  .reports table thead {
    background: #f5f5f6; }
    .reports table thead tr {
      border-top: 1px solid #e9e9eb;
      border-bottom: 1px solid #e9e9eb; }
      .reports table thead tr th {
        color: #363635;
        text-transform: uppercase; }
        .reports table thead tr th.sort:after {
          content: '^';
          display: inline-block;
          padding: 0 0 0 5px; }
        .reports table thead tr th.sort.ascend:after {
          transform: rotate(0.5turn);
          padding: 0 5px 0 0; }
  .reports table tbody tr {
    border-bottom: 1px solid #e9e9eb;
    cursor: pointer; }
    .reports table tbody tr:hover {
      background: #f5f5f6; }
    .reports table tbody tr td {
      color: #3c3c3b;
      text-align: center; }
  .reports table th, .reports table td {
    padding: 20px 0; }
.reports.search-on .svg-icon.search svg * {
  fill: #ec6607; }
.reports.filter-on .svg-icon.filter svg * {
  fill: #ec6607; }
.reports.search-on.filter-on .filter-row {
  padding-top: 10px; }

.print-voucher .home-button-container {
  display: none; }
.print-voucher #pdfHolder div {
  text-align: center; }

.education .formRow {
  text-align: center;
  margin: 20px 0px; }
  .education .formRow select {
    width: 20%; }
.education .listCategory, .education .listFAQ, .education .listPhrases {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  .education .listCategory li, .education .listFAQ li, .education .listPhrases li {
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #ebebed; }
.education .translated {
  color: #ffffff;
  padding: 20px;
  background: #5581a6;
  height: 560px;
  margin-top: 10px; }
.education .education-options {
  display: block;
  margin: 0 auto; }
  .education .education-options select, .education .education-options .swaplan-icon {
    display: inline;
    margin: 0px 10px;
    vertical-align: bottom; }
    .education .education-options select svg *, .education .education-options .swaplan-icon svg * {
      fill: #245375; }
  .education .education-options .swaplan-icon {
    height: 50px; }
.education .listPhrases li {
  background: #f5f5f6;
  border-bottom: 0px;
  padding: 10px 0px; }
  .education .listPhrases li a {
    color: #363635;
    display: inline-block;
    position: relative;
    width: 100%;
    border: 2px solid #ffffff;
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    text-decoration: none; }
    .education .listPhrases li a:hover, .education .listPhrases li a:focus {
      text-decoration: none; }
    .education .listPhrases li a .phraseText {
      display: inline-block;
      padding: 0px 30px; }
    .education .listPhrases li a .svg-icon {
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 20px; }
      .education .listPhrases li a .svg-icon.close-quote {
        left: auto;
        right: 20px; }
      .education .listPhrases li a .svg-icon svg * {
        fill: #f5f5f6; }
    .education .listPhrases li a.active {
      border: 2px solid #ec6607;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .education .listPhrases li a.active .svg-icon svg * {
        fill: #ec6607; }
.education .listCategory li {
  padding: 0px; }
.education .listCategory a {
  text-underline: none;
  display: block;
  background: #ffffff;
  padding: 20px; }
  .education .listCategory a.active {
    color: #ec6607;
    text-decoration: none; }
  .education .listCategory a:focus {
    text-decoration: none; }
.education .listFAQ h4 {
  color: #ec6607; }

/*# sourceMappingURL=main.css.map */