.icon-flags-ad{
background: url(../images/flags.png) no-repeat right -54px;
}.icon-flags-ae{
background: url(../images/flags.png) no-repeat right -5334px;
}.icon-flags-af{
background: url(../images/flags.png) no-repeat right -102px;
}.icon-flags-ag{
background: url(../images/flags.png) no-repeat right -150px;
}.icon-flags-ai{
background: url(../images/flags.png) no-repeat right -198px;
}.icon-flags-al{
background: url(../images/flags.png) no-repeat right -246px;
}.icon-flags-am{
background: url(../images/flags.png) no-repeat right -294px;
}.icon-flags-an{
background: url(../images/flags.png) no-repeat right -342px;
}.icon-flags-ao{
background: url(../images/flags.png) no-repeat right -390px;
}.icon-flags-aq{
background: url(../images/flags.png) no-repeat right -438px;
}.icon-flags-ar{
background: url(../images/flags.png) no-repeat right -486px;
}.icon-flags-as{
background: url(../images/flags.png) no-repeat right -534px;
}.icon-flags-at{
background: url(../images/flags.png) no-repeat right -582px;
}.icon-flags-au{
background: url(../images/flags.png) no-repeat right -630px;
}.icon-flags-aw{
background: url(../images/flags.png) no-repeat right -678px;
}.icon-flags-az{
background: url(../images/flags.png) no-repeat right -726px;
}.icon-flags-ba{
background: url(../images/flags.png) no-repeat right -774px;
}.icon-flags-bb{
background: url(../images/flags.png) no-repeat right -822px;
}.icon-flags-bd{
background: url(../images/flags.png) no-repeat right -870px;
}.icon-flags-be{
background: url(../images/flags.png) no-repeat right -918px;
}.icon-flags-bf{
background: url(../images/flags.png) no-repeat right -966px;
}.icon-flags-bg{
background: url(../images/flags.png) no-repeat right -1014px;
}.icon-flags-bh{
background: url(../images/flags.png) no-repeat right -1062px;
}.icon-flags-bi{
background: url(../images/flags.png) no-repeat right -1110px;
}.icon-flags-bj{
background: url(../images/flags.png) no-repeat right -1158px;
}.icon-flags-bm{
background: url(../images/flags.png) no-repeat right -1206px;
}.icon-flags-bn{
background: url(../images/flags.png) no-repeat right -1254px;
}.icon-flags-bo{
background: url(../images/flags.png) no-repeat right -1302px;
}.icon-flags-br{
background: url(../images/flags.png) no-repeat right -1350px;
}.icon-flags-bs{
background: url(../images/flags.png) no-repeat right -1398px;
}.icon-flags-bt{
background: url(../images/flags.png) no-repeat right -1446px;
}.icon-flags-bw{
background: url(../images/flags.png) no-repeat right -1494px;
}.icon-flags-by{
background: url(../images/flags.png) no-repeat right -1542px;
}.icon-flags-bz{
background: url(../images/flags.png) no-repeat right -1590px;
}.icon-flags-ca{
background: url(../images/flags.png) no-repeat right -1638px;
}.icon-flags-cd{
background: url(../images/flags.png) no-repeat right -1686px;
}.icon-flags-cf{
background: url(../images/flags.png) no-repeat right -1734px;
}.icon-flags-cg{
background: url(../images/flags.png) no-repeat right -1782px;
}.icon-flags-ch{
background: url(../images/flags.png) no-repeat right -1830px;
}.icon-flags-ci{
background: url(../images/flags.png) no-repeat right -1878px;
}.icon-flags-ck{
background: url(../images/flags.png) no-repeat right -1926px;
}.icon-flags-cl{
background: url(../images/flags.png) no-repeat right -1974px;
}.icon-flags-cm{
background: url(../images/flags.png) no-repeat right -2022px;
}.icon-flags-cn{
background: url(../images/flags.png) no-repeat right -2070px;
}.icon-flags-co{
background: url(../images/flags.png) no-repeat right -2118px;
}.icon-flags-cr{
background: url(../images/flags.png) no-repeat right -2166px;
}.icon-flags-cu{
background: url(../images/flags.png) no-repeat right -2214px;
}.icon-flags-cv{
background: url(../images/flags.png) no-repeat right -2262px;
}.icon-flags-cy{
background: url(../images/flags.png) no-repeat right -2310px;
}.icon-flags-cz{
background: url(../images/flags.png) no-repeat right -2358px;
}.icon-flags-de{
background: url(../images/flags.png) no-repeat right -2406px;
}.icon-flags-dj{
background: url(../images/flags.png) no-repeat right -2454px;
}.icon-flags-dk{
background: url(../images/flags.png) no-repeat right -2502px;
}.icon-flags-dm{
background: url(../images/flags.png) no-repeat right -2550px;
}.icon-flags-do{
background: url(../images/flags.png) no-repeat right -2598px;
}.icon-flags-dz{
background: url(../images/flags.png) no-repeat right -2646px;
}.icon-flags-ec{
background: url(../images/flags.png) no-repeat right -2694px;
}.icon-flags-ee{
background: url(../images/flags.png) no-repeat right -2742px;
}.icon-flags-eg{
background: url(../images/flags.png) no-repeat right -2790px;
}.icon-flags-eh{
background: url(../images/flags.png) no-repeat right -2838px;
}.icon-flags-er{
background: url(../images/flags.png) no-repeat right -2886px;
}.icon-flags-es{
background: url(../images/flags.png) no-repeat right -2934px;
}.icon-flags-et{
background: url(../images/flags.png) no-repeat right -2982px;
}.icon-flags-fi{
background: url(../images/flags.png) no-repeat right -3030px;
}.icon-flags-fj{
background: url(../images/flags.png) no-repeat right -3078px;
}.icon-flags-fm{
background: url(../images/flags.png) no-repeat right -3126px;
}.icon-flags-fo{
background: url(../images/flags.png) no-repeat right -3174px;
}.icon-flags-fr{
background: url(../images/flags.png) no-repeat right -3222px;
}.icon-flags-ga{
background: url(../images/flags.png) no-repeat right -3270px;
}.icon-flags-gb{
background: url(../images/flags.png) no-repeat right -3318px;
}.icon-flags-gd{
background: url(../images/flags.png) no-repeat right -3366px;
}.icon-flags-ge{
background: url(../images/flags.png) no-repeat right -3414px;
}.icon-flags-gg{
background: url(../images/flags.png) no-repeat right -3462px;
}.icon-flags-gh{
background: url(../images/flags.png) no-repeat right -3510px;
}.icon-flags-gi{
background: url(../images/flags.png) no-repeat right -3558px;
}.icon-flags-gl{
background: url(../images/flags.png) no-repeat right -3606px;
}.icon-flags-gm{
background: url(../images/flags.png) no-repeat right -3654px;
}.icon-flags-gn{
background: url(../images/flags.png) no-repeat right -3702px;
}.icon-flags-gp{
background: url(../images/flags.png) no-repeat right -3750px;
}.icon-flags-gq{
background: url(../images/flags.png) no-repeat right -3798px;
}.icon-flags-gr{
background: url(../images/flags.png) no-repeat right -3846px;
}.icon-flags-gt{
background: url(../images/flags.png) no-repeat right -3894px;
}.icon-flags-gu{
background: url(../images/flags.png) no-repeat right -3942px;
}.icon-flags-gw{
background: url(../images/flags.png) no-repeat right -3990px;
}.icon-flags-gy{
background: url(../images/flags.png) no-repeat right -4038px;
}.icon-flags-hk{
background: url(../images/flags.png) no-repeat right -4086px;
}.icon-flags-hn{
background: url(../images/flags.png) no-repeat right -4134px;
}.icon-flags-hr{
background: url(../images/flags.png) no-repeat right -4182px;
}.icon-flags-ht{
background: url(../images/flags.png) no-repeat right -4230px;
}.icon-flags-hu{
background: url(../images/flags.png) no-repeat right -4278px;
}.icon-flags-id{
background: url(../images/flags.png) no-repeat right -4326px;
}.icon-flags-ie{
background: url(../images/flags.png) no-repeat right -4374px;
}.icon-flags-il{
background: url(../images/flags.png) no-repeat right -4422px;
}.icon-flags-im{
background: url(../images/flags.png) no-repeat right -4470px;
}.icon-flags-in{
background: url(../images/flags.png) no-repeat right -4518px;
}.icon-flags-iq{
background: url(../images/flags.png) no-repeat right -4566px;
}.icon-flags-ir{
background: url(../images/flags.png) no-repeat right -4614px;
}.icon-flags-is{
background: url(../images/flags.png) no-repeat right -4662px;
}.icon-flags-it{
background: url(../images/flags.png) no-repeat right -4710px;
}.icon-flags-je{
background: url(../images/flags.png) no-repeat right -4758px;
}.icon-flags-jm{
background: url(../images/flags.png) no-repeat right -4806px;
}.icon-flags-jo{
background: url(../images/flags.png) no-repeat right -4854px;
}.icon-flags-jp{
background: url(../images/flags.png) no-repeat right -4902px;
}.icon-flags-ke{
background: url(../images/flags.png) no-repeat right -4950px;
}.icon-flags-kg{
background: url(../images/flags.png) no-repeat right -4998px;
}.icon-flags-kh{
background: url(../images/flags.png) no-repeat right -5046px;
}.icon-flags-ki{
background: url(../images/flags.png) no-repeat right -5094px;
}.icon-flags-km{
background: url(../images/flags.png) no-repeat right -5142px;
}.icon-flags-kn{
background: url(../images/flags.png) no-repeat right -5190px;
}.icon-flags-kp{
background: url(../images/flags.png) no-repeat right -5238px;
}.icon-flags-kr{
background: url(../images/flags.png) no-repeat right -5286px;
}.icon-flags-kw{
background: url(../images/flags.png) no-repeat right -6px;
}.icon-flags-ky{
background: url(../images/flags.png) no-repeat right -5382px;
}.icon-flags-kz{
background: url(../images/flags.png) no-repeat right -5430px;
}.icon-flags-la{
background: url(../images/flags.png) no-repeat right -5478px;
}.icon-flags-lb{
background: url(../images/flags.png) no-repeat right -5526px;
}.icon-flags-lc{
background: url(../images/flags.png) no-repeat right -5574px;
}.icon-flags-li{
background: url(../images/flags.png) no-repeat right -5622px;
}.icon-flags-lk{
background: url(../images/flags.png) no-repeat right -5670px;
}.icon-flags-lr{
background: url(../images/flags.png) no-repeat right -5718px;
}.icon-flags-ls{
background: url(../images/flags.png) no-repeat right -5766px;
}.icon-flags-lt{
background: url(../images/flags.png) no-repeat right -5814px;
}.icon-flags-lu{
background: url(../images/flags.png) no-repeat right -5862px;
}.icon-flags-lv{
background: url(../images/flags.png) no-repeat right -5910px;
}.icon-flags-ly{
background: url(../images/flags.png) no-repeat right -5958px;
}.icon-flags-ma{
background: url(../images/flags.png) no-repeat right -6006px;
}.icon-flags-mc{
background: url(../images/flags.png) no-repeat right -6054px;
}.icon-flags-md{
background: url(../images/flags.png) no-repeat right -6102px;
}.icon-flags-me{
background: url(../images/flags.png) no-repeat right -6150px;
}.icon-flags-mg{
background: url(../images/flags.png) no-repeat right -6198px;
}.icon-flags-mh{
background: url(../images/flags.png) no-repeat right -6246px;
}.icon-flags-mk{
background: url(../images/flags.png) no-repeat right -6294px;
}.icon-flags-ml{
background: url(../images/flags.png) no-repeat right -6342px;
}.icon-flags-mm{
background: url(../images/flags.png) no-repeat right -6390px;
}.icon-flags-mn{
background: url(../images/flags.png) no-repeat right -6438px;
}.icon-flags-mo{
background: url(../images/flags.png) no-repeat right -6486px;
}.icon-flags-mq{
background: url(../images/flags.png) no-repeat right -6534px;
}.icon-flags-mr{
background: url(../images/flags.png) no-repeat right -6582px;
}.icon-flags-ms{
background: url(../images/flags.png) no-repeat right -6630px;
}.icon-flags-mt{
background: url(../images/flags.png) no-repeat right -6678px;
}.icon-flags-mu{
background: url(../images/flags.png) no-repeat right -6726px;
}.icon-flags-mv{
background: url(../images/flags.png) no-repeat right -6774px;
}.icon-flags-mw{
background: url(../images/flags.png) no-repeat right -6822px;
}.icon-flags-mx{
background: url(../images/flags.png) no-repeat right -6870px;
}.icon-flags-my{
background: url(../images/flags.png) no-repeat right -6918px;
}.icon-flags-mz{
background: url(../images/flags.png) no-repeat right -6966px;
}.icon-flags-na{
background: url(../images/flags.png) no-repeat right -7014px;
}.icon-flags-nc{
background: url(../images/flags.png) no-repeat right -7062px;
}.icon-flags-ne{
background: url(../images/flags.png) no-repeat right -7110px;
}.icon-flags-ng{
background: url(../images/flags.png) no-repeat right -7158px;
}.icon-flags-ni{
background: url(../images/flags.png) no-repeat right -7206px;
}.icon-flags-nl{
background: url(../images/flags.png) no-repeat right -7254px;
}.icon-flags-no{
background: url(../images/flags.png) no-repeat right -7302px;
}.icon-flags-np{
background: url(../images/flags.png) no-repeat right -7350px;
}.icon-flags-nr{
background: url(../images/flags.png) no-repeat right -7398px;
}.icon-flags-nz{
background: url(../images/flags.png) no-repeat right -7446px;
}.icon-flags-om{
background: url(../images/flags.png) no-repeat right -7494px;
}.icon-flags-pa{
background: url(../images/flags.png) no-repeat right -7542px;
}.icon-flags-pe{
background: url(../images/flags.png) no-repeat right -7590px;
}.icon-flags-pf{
background: url(../images/flags.png) no-repeat right -7638px;
}.icon-flags-pg{
background: url(../images/flags.png) no-repeat right -7686px;
}.icon-flags-ph{
background: url(../images/flags.png) no-repeat right -7734px;
}.icon-flags-pk{
background: url(../images/flags.png) no-repeat right -7782px;
}.icon-flags-pl{
background: url(../images/flags.png) no-repeat right -7830px;
}.icon-flags-pr{
background: url(../images/flags.png) no-repeat right -7878px;
}.icon-flags-ps{
background: url(../images/flags.png) no-repeat right -7926px;
}.icon-flags-pt{
background: url(../images/flags.png) no-repeat right -7974px;
}.icon-flags-pw{
background: url(../images/flags.png) no-repeat right -8022px;
}.icon-flags-py{
background: url(../images/flags.png) no-repeat right -8070px;
}.icon-flags-qa{
background: url(../images/flags.png) no-repeat right -8118px;
}.icon-flags-re{
background: url(../images/flags.png) no-repeat right -8166px;
}.icon-flags-ro{
background: url(../images/flags.png) no-repeat right -8214px;
}.icon-flags-rs{
background: url(../images/flags.png) no-repeat right -8262px;
}.icon-flags-ru{
background: url(../images/flags.png) no-repeat right -8310px;
}.icon-flags-rw{
background: url(../images/flags.png) no-repeat right -8358px;
}.icon-flags-sa{
background: url(../images/flags.png) no-repeat right -8406px;
}.icon-flags-sb{
background: url(../images/flags.png) no-repeat right -8454px;
}.icon-flags-sc{
background: url(../images/flags.png) no-repeat right -8502px;
}.icon-flags-sd{
background: url(../images/flags.png) no-repeat right -8550px;
}.icon-flags-se{
background: url(../images/flags.png) no-repeat right -8598px;
}.icon-flags-sg{
background: url(../images/flags.png) no-repeat right -8646px;
}.icon-flags-si{
background: url(../images/flags.png) no-repeat right -8694px;
}.icon-flags-sk{
background: url(../images/flags.png) no-repeat right -8742px;
}.icon-flags-sl{
background: url(../images/flags.png) no-repeat right -8790px;
}.icon-flags-sm{
background: url(../images/flags.png) no-repeat right -8838px;
}.icon-flags-sn{
background: url(../images/flags.png) no-repeat right -8886px;
}.icon-flags-so{
background: url(../images/flags.png) no-repeat right -8934px;
}.icon-flags-sr{
background: url(../images/flags.png) no-repeat right -8982px;
}.icon-flags-st{
background: url(../images/flags.png) no-repeat right -9030px;
}.icon-flags-sv{
background: url(../images/flags.png) no-repeat right -9078px;
}.icon-flags-sy{
background: url(../images/flags.png) no-repeat right -9126px;
}.icon-flags-sz{
background: url(../images/flags.png) no-repeat right -9174px;
}.icon-flags-tc{
background: url(../images/flags.png) no-repeat right -9222px;
}.icon-flags-td{
background: url(../images/flags.png) no-repeat right -9270px;
}.icon-flags-tg{
background: url(../images/flags.png) no-repeat right -9318px;
}.icon-flags-th{
background: url(../images/flags.png) no-repeat right -9366px;
}.icon-flags-tj{
background: url(../images/flags.png) no-repeat right -9414px;
}.icon-flags-tl{
background: url(../images/flags.png) no-repeat right -9462px;
}.icon-flags-tm{
background: url(../images/flags.png) no-repeat right -9510px;
}.icon-flags-tn{
background: url(../images/flags.png) no-repeat right -9558px;
}.icon-flags-to{
background: url(../images/flags.png) no-repeat right -9606px;
}.icon-flags-tr{
background: url(../images/flags.png) no-repeat right -9654px;
}.icon-flags-tt{
background: url(../images/flags.png) no-repeat right -9702px;
}.icon-flags-tv{
background: url(../images/flags.png) no-repeat right -9750px;
}.icon-flags-tw{
background: url(../images/flags.png) no-repeat right -9798px;
}.icon-flags-tz{
background: url(../images/flags.png) no-repeat right -9846px;
}.icon-flags-ua{
background: url(../images/flags.png) no-repeat right -9894px;
}.icon-flags-ug{
background: url(../images/flags.png) no-repeat right -9942px;
}.icon-flags-us{
background: url(../images/flags.png) no-repeat right -9990px;
}.icon-flags-uy{
background: url(../images/flags.png) no-repeat right -10038px;
}.icon-flags-uz{
background: url(../images/flags.png) no-repeat right -10086px;
}.icon-flags-va{
background: url(../images/flags.png) no-repeat right -10134px;
}.icon-flags-vc{
background: url(../images/flags.png) no-repeat right -10182px;
}.icon-flags-ve{
background: url(../images/flags.png) no-repeat right -10230px;
}.icon-flags-vg{
background: url(../images/flags.png) no-repeat right -10278px;
}.icon-flags-vi{
background: url(../images/flags.png) no-repeat right -10326px;
}.icon-flags-vn{
background: url(../images/flags.png) no-repeat right -10374px;
}.icon-flags-vu{
background: url(../images/flags.png) no-repeat right -10422px;
}.icon-flags-ws{
background: url(../images/flags.png) no-repeat right -10470px;
}.icon-flags-ye{
background: url(../images/flags.png) no-repeat right -10518px;
}.icon-flags-za{
background: url(../images/flags.png) no-repeat right -10566px;
}.icon-flags-zm{
background: url(../images/flags.png) no-repeat right -10614px;
}.icon-flags-zw{
background: url(../images/flags.png) no-repeat right -10662px;
}