/*========================================

	Usage
	--------------------------------------

	.className {
		z-index: z(modal);
	}

	Will Output:

	.className {
		z-index: 3000;
	}

========================================*/
@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/opensans-italic.eot");
  src: url("../fonts/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic.woff2") format("woff2"), url("../fonts/opensans-italic.woff") format("woff"), url("../fonts/opensans-italic.ttf") format("truetype"), url("../fonts/opensans-italic.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold.eot");
  src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans-semibold.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

html body {
  font-size: 16px; }

.normal {
  font: 1em "open_sansregular";
  font-weight: normal; }

h1, footer .refundAmount {
  font: 1.25em "open_sansregular";
  letter-spacing: 0.015em;
  margin: 0; }

h2 {
  font: 1.875em "open_sanssemibold";
  margin: 0; }

h4 {
  font: 1.25em "open_sansregular";
  margin: 0; }

a:hover, a:active {
  text-decoration: none; }

.break-word {
  word-break: break-all; }

html, body {
  height: 100%;
  background-color: #f5f5f6; }

body {
  font: 1em "open_sansregular";
  color: #3c3c3b; }

.noscroll {
  /* Prevent scrolling on windows devices (swallows touch events) */
  -ms-touch-action: none; }

.inner-app {
  height: auto;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  /*Container within a container */
  -webkit-justify-content: center;
  justify-content: center; }

nav {
  background-color: #3c3c3b;
  width: 100%;
  overflow: visible;
  min-height: 97px;
  color: white; }
  nav h1, nav footer .refundAmount, footer nav .refundAmount {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase; }
  nav .status-bar {
    background-color: #3c3c3b;
    text-align: center;
    height: 22px;
    padding: 0 20px 0 20px; }
    nav .status-bar .content {
      display: none;
      text-transform: uppercase; }
    nav .status-bar.offline {
      background-color: #ed1c24;
      height: 22px; }
      nav .status-bar.offline .content {
        display: inline; }
  nav .main-nav-container {
    padding: 0 10px 0 10px;
    text-align: center; }
    nav .main-nav-container.showing-section h1, nav .main-nav-container.showing-section footer .refundAmount, footer nav .main-nav-container.showing-section .refundAmount {
      padding-top: 15px; }
    nav .main-nav-container.showing-section .button-row {
      margin: -50px 0 0 0; }
  nav .button-row {
    margin: -55px 0 0 0; }
    nav .button-row .container-fluid {
      padding: 0; }
  nav .home-button-container {
    padding: 0; }
  nav .home-button, nav .back-button {
    border: none;
    float: left;
    width: 100%;
    height: 100%;
    padding: 8px 10px 0 10px;
    text-align: left; }
    nav .home-button .svg-icon svg *, nav .back-button .svg-icon svg * {
      fill: white; }
  nav .select-wrapper.vip {
    font-size: 1.25em;
    float: left; }
    nav .select-wrapper.vip select {
      line-height: 27px;
      height: auto;
      padding: 8px 15px 0 0;
      background-color: #3c3c3b; }
    nav .select-wrapper.vip:after {
      right: 0; }
  nav .settings-button {
    display: none; }
  nav button .svg-icon svg * {
    fill: white; }
  nav button.svg-icon {
    width: 100%;
    height: 100%;
    text-align: left; }
  nav .button-right-side {
    float: right;
    text-align: right; }
    nav .button-right-side button.svg-icon {
      text-align: right; }
  nav .button-left-side {
    float: left;
    text-align: left; }

.slanty-box {
  color: #3c3c3b;
  text-align: center;
  background-color: white;
  -webkit-transform: perspective(420px) skewY(-4deg);
  transform: perspective(420px) skewY(-4deg);
  display: block; }
  .slanty-box .unskew {
    -webkit-transform: perspective(420px) skewY(4deg);
    transform: perspective(420px) skewY(4deg); }
  .slanty-box h2 {
    padding-top: 25px;
    text-transform: uppercase; }
  .slanty-box .subtitle {
    color: #90a0ae;
    font: 1.25em "open_sansregular";
    display: block; }
  .slanty-box .svg-icon svg * {
    fill: #ec6607; }

.main-view {
  display: -webkit-flex;
  display: flex;
  height: 100%; }

main.container-fluid {
  background-color: #f5f5f6;
  /* Please do not increase vertical padding from 40px as you'll break the receipt list screen */
  padding: 40px 10px 0 10px;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-flex: 1 1;
  flex: 1 1; }

.ngdialog .inner-dialog {
  padding: 0 20px 20px 20px; }
  .ngdialog .inner-dialog .walkthrough.padded-button {
    font-size: 1.1em; }

.ngdialog .field {
  margin-bottom: 10px; }

footer {
  background-color: #3c3c3b;
  min-height: 75px;
  width: 100%;
  color: white;
  position: relative;
  display: none; }
  footer .estimated-note {
    font: 0.875em "open_sansregular";
    color: #828282; }
  footer button {
    width: 100%; }
  footer .buttonPadding {
    padding-top: 15px; }
  footer .refundPadding {
    padding-top: 14px; }
  footer .refundText {
    text-align: right; }
  footer .refundAmount {
    text-transform: uppercase; }
  footer .estimated-note {
    font-size: 0.875em "open_sansregular"; }

.debug-content {
  display: none; }

.ngdialog .ngdialog-content {
  padding: 0 !important;
  width: 650px !important; }
  .ngdialog .ngdialog-content .popupContent {
    padding: 20px; }
    .ngdialog .ngdialog-content .popupContent.alipay-popup {
      padding-bottom: 40px; }

.ngdialog nav {
  /*position: initial;*/
  min-height: 65px; }
  .ngdialog nav .button-row {
    margin-top: -35px; }
  .ngdialog nav .closeBtn {
    background: #3c3c3b;
    border: 2px solid #c05407; }

.ngdialog h2 {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font: 1em "open_sansregular"; }

.ngdialog .on-launch-label {
  padding-right: 40px; }

/* This is the little "Or" in the middle of a horizontal. It appears in
   several places over the app
*/
.or {
  position: relative;
  top: -33px;
  padding-left: 20px;
  padding-right: 20px;
  font: 1em "open_sansitalic";
  text-decoration: underline;
  color: #90a0ae;
  text-transform: lowercase;
  background-color: #f5f5f6; }

.defaultBackground {
  background-color: #f5f5f6; }

.whiteBackground {
  background-color: white; }

.centerText {
  text-align: center; }

/* Tabs styling needs to live in a shared area as each tab potentially has different css */
.tabsView {
  text-align: center;
  background-color: white;
  height: 50px;
  margin-top: -28px; }
  .tabsView .tabHeader {
    color: #90a0ae;
    padding-top: 15px;
    cursor: pointer;
    white-space: nowrap; }
  .tabsView .tabActive {
    color: #c05407;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAALCAIAAAAfqVEqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAABuSURBVChTndLBDYAgEAVRmpIypI2lcShjHaNBxQXBCQkH8v4JJyLeL/9OjOJSSiGs1cPIQeWcnKpyzU4cGLv72YmC6fQ0OHHHdHn6nKgwPTx1Jt6Yak/mhInJ8FRNtDDZnspEB1PTE4zf2cGqugFABJY2QOiQswAAAABJRU5ErkJggg==") no-repeat 50% top; }

.tabContent {
  padding-top: 28px; }

.vip-refund-select {
  width: auto;
  background: none;
  color: white;
  border: none; }
  .vip-refund-select:hover, .vip-refund-select:active, .vip-refund-select:focus {
    width: auto;
    background: none;
    color: white;
    border: none; }

.sectionNumbers {
  margin-left: 8px;
  margin-right: 8px; }
  .sectionNumbers:before, .sectionNumbers:after {
    background-color: #3c3c3b !important; }

.smallSlantyBox {
  background-color: #ec6607;
  color: white;
  text-align: center;
  position: relative;
  width: 20px;
  padding-left: 5px;
  padding-right: 5px; }
  .smallSlantyBox:before, .smallSlantyBox:after {
    content: '';
    left: 0;
    position: absolute;
    overflow: visible;
    width: 105%;
    /* needs to be a little bigger to avoid 1px bug */
    height: 5px;
    background-color: #f5f5f6;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg); }
  .smallSlantyBox:before {
    top: -3px; }
  .smallSlantyBox:after {
    bottom: -3px; }

.svgHeadingButton button {
  padding: 8px 10px 0 10px; }

.sectionNumberContainer {
  height: 20px; }

.subheadings {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 66px; }
  .subheadings h3 {
    margin: 0; }
  .subheadings h4 {
    margin: 0;
    color: #90a0ae; }

.fullWidth {
  width: 100%; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 120px;
  height: 120px;
  z-index: 3000;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }
  .spinner.ng-leave.ng-leave-active {
    -webkit-animation: none 0s;
    animation: none 0s;
    display: none; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loadingMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 60px;
  margin-left: -50px;
  width: 100px;
  height: 40px;
  color: white;
  text-align: center;
  z-index: 3000; }

.dimBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: black;
  z-index: 3000; }

body.receiptList #toast-container {
  position: absolute;
  left: 12px;
  bottom: 78px; }

label.required:after, div.required:after {
  color: red;
  padding: 4px;
  content: '*';
  vertical-align: middle; }

.version-code {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font: 1em "open_sansitalic";
  font-size: 0.7em; }

*:focus {
  outline: none; }

button {
  border: none;
  background: none;
  border-radius: 0;
  color: white;
  padding: 0;
  margin: 0; }

.button, .walkthrough .carousel button {
  font: 1.25em "open_sansregular";
  border: none;
  color: white;
  height: 45px;
  text-align: center;
  border-radius: 10px;
  background-color: #ec6607; }
  .button.padded-button, .walkthrough .carousel button.padded-button {
    padding: 0 20px 0 20px; }
  .button:active:enabled, .walkthrough .carousel button:active:enabled, .button:hover:enabled, .walkthrough .carousel button:hover:enabled {
    background-color: #c05407; }
  .button.disabled, .walkthrough .carousel button.disabled, .button[disabled], .walkthrough .carousel button[disabled] {
    opacity: 0.6;
    cursor: default; }
  .button.secondary, .walkthrough .carousel button {
    background-color: #5581a6; }
    .button.secondary:active:enabled, .walkthrough .carousel button:active:enabled, .button.secondary:hover:enabled, .walkthrough .carousel button:hover:enabled {
      background-color: #245375; }
  .button.tertiary, .walkthrough .carousel button.tertiary {
    border: 2px solid #ec6607;
    background-color: #363635; }
    .button.tertiary:active:enabled, .walkthrough .carousel button.tertiary:active:enabled, .button.tertiary:hover:enabled, .walkthrough .carousel button.tertiary:hover:enabled {
      border: 2px solid #ec6607;
      background-color: #000000; }
  .button.quaternary, .walkthrough .carousel button.quaternary {
    border: 2px solid #5581a6;
    background-color: white;
    color: #3c3c3b; }
    .button.quaternary:active:enabled, .walkthrough .carousel button.quaternary:active:enabled, .button.quaternary:hover:enabled, .walkthrough .carousel button.quaternary:hover:enabled {
      border: 2px solid #5581a6;
      background-color: #ebebed; }
  .button.camera-button, .walkthrough .carousel button.camera-button {
    width: 100%;
    height: 185px;
    background: none;
    border-radius: 3px;
    border: 2px solid #ebebed;
    background-color: #f5f8f9; }
    .button.camera-button:active, .walkthrough .carousel button.camera-button:active, .button.camera-button:hover, .walkthrough .carousel button.camera-button:hover {
      border: 2px solid #ebebed;
      background: none; }
    .button.camera-button .svg-icon svg *, .walkthrough .carousel button.camera-button .svg-icon svg * {
      fill: #90a0ae; }
  .button .svg-icon svg *, .walkthrough .carousel button .svg-icon svg * {
    fill: white; }
  .button.next-button, .walkthrough .carousel button.next-button {
    /*position: relative; this upsets IE positioning */ }
    .button.next-button .svg-icon, .walkthrough .carousel button.next-button .svg-icon {
      /* In IE opacity doesn't inherit to absolute / relative positioned children
            position: absolute;
            right: 22px; */
      float: right;
      margin-right: 16px; }
      .button.next-button .svg-icon svg, .walkthrough .carousel button.next-button .svg-icon svg {
        width: 28px;
        margin-top: 4px; }
    .button.next-button .button-text, .walkthrough .carousel button.next-button .button-text {
      margin-left: 16px;
      line-height: 35px; }
  .button.padded-button, .walkthrough .carousel button.padded-button {
    padding: 0 20px 0 20px; }

.button-col button {
  width: 100%; }

.fullWidthButton {
  width: 100%; }

input[type=checkbox] {
  display: none; }

input[type="checkbox"] + label {
  padding: 0;
  margin: 8px 0 0 0;
  display: inline-block;
  width: 41px;
  height: 41px;
  background-size: 41px 41px;
  background-image: url("../images/check_off.png"); }

input[type="checkbox"]:checked + label {
  background-image: url("../images/check_on.png"); }

select::-ms-expand {
  display: none; }

input[type=text], input[type=email], input[type=password], input[type='number'], textarea, select {
  border: 2px solid #ebebed;
  border-radius: 3px;
  background: none;
  background-color: #f5f8f9;
  height: 50px;
  padding: 10px;
  color: #90a0ae;
  width: 100%;
  -webkit-appearance: none; }
  input[type=text].inputHasValue, input[type=email].inputHasValue, input[type=password].inputHasValue, input[type='number'].inputHasValue, textarea.inputHasValue, select.inputHasValue {
    background-color: white;
    color: #3c3c3b; }
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type='number']:focus, textarea:focus, select:focus {
    background-color: white;
    border-color: #ec6607;
    color: #3c3c3b; }
  input[type=text].ng-invalid.ng-touched, input[type=email].ng-invalid.ng-touched, input[type=password].ng-invalid.ng-touched, input[type='number'].ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border-color: #ed1c24;
    color: #ed1c24;
    padding-right: 40px; }

.fake-textbox {
  border: 2px solid #ebebed;
  border-radius: 3px;
  background: none;
  background-color: #f5f8f9;
  height: 50px;
  padding: 10px;
  color: #90a0ae;
  width: 100%;
  display: inline-block;
  line-height: 30px; }

.select-wrapper {
  display: inline;
  position: relative;
  /*height: 50px; this has no effect when used with display: inline */ }
  .select-wrapper:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: #90a0ae transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: ''; }

.ui-select-container.selectize-control .ui-select-match {
  width: 100%; }

.ui-select-container.selectize-control .selectize-input {
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: none;
  background: none;
  font-size: inherit; }
  .ui-select-container.selectize-control .selectize-input.focus {
    background-color: white;
    border-color: #ec6607;
    color: #3c3c3b; }
  .ui-select-container.selectize-control .selectize-input input {
    font-size: inherit; }

.ui-select-container.selectize-control.open .selectize-input {
  background-color: white;
  border-color: #ec6607;
  color: #3c3c3b; }

.ui-select-container.selectize-control .dropdownWithIcon {
  line-height: 36px; }

.ui-select-container.selectize-control .dropdownWithIconSelectedValue {
  line-height: 36px;
  margin-right: 30px; }

.ui-select-container.selectize-control .dropdownWithIcon img {
  float: right;
  vertical-align: central; }

.ui-select-container.selectize-control input {
  height: 36px; }

.ui-select-container.selectize-control div.selectize-input {
  border-width: 2px;
  border-color: #ebebed !important; }

.ui-select-container.selectize-control.ng-invalid.ng-touched div.selectize-input {
  border-color: #ed1c24 !important; }

.ui-select-container.selectize-control .selectize-dropdown {
  border: 2px solid #ebebed;
  border-radius: 3px;
  border-top: none;
  margin-top: -7px; }

form.standardForm .row, ng-form.standardForm .row {
  margin-bottom: 50px; }

form.shortForm .row, ng-form.shortForm .row {
  margin-bottom: 25px; }

.noMargin {
  margin-bottom: 0 !important; }

form.standardForm, ng-form.standardForm {
  -webkit-flex: 1;
  flex: 1; }

form.standardForm label, ng-form.standardForm label {
  padding-top: 15px;
  text-transform: uppercase; }

.validationIcon {
  top: 10px;
  right: 16px; }
  .validationIcon svg * {
    fill: #ed1c24; }

.validationMessage {
  color: #ed1c24;
  font: 1em "open_sansitalic";
  position: absolute; }

.validationFixedWidth {
  width: 300px; }

.validationWarning {
  color: #ec6607; }

.actionIcon {
  text-align: right;
  cursor: pointer; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  color: #ec6607;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: -10px 0 0 0; }

input[type="radio"] + label > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #ebebed; }

input[type="radio"]:checked + label > span {
  border-color: #ec6607; }
  input[type="radio"]:checked + label > span span {
    display: inline-block;
    border-radius: 50%;
    background-color: #ec6607;
    width: 20px;
    height: 20px; }

label div, label span, label h3 {
  pointer-events: none; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft; }

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight; }

ng-form {
  display: block; }

.home .home-button-container {
  display: none; }

.home main.container-fluid {
  padding: 70px 10px 0 10px; }

.home .slanty-box {
  height: 255px;
  -webkit-transform: perspective(420px) skewY(-2deg);
  transform: perspective(420px) skewY(-2deg); }
  .home .slanty-box .unskew {
    -webkit-transform: perspective(420px) skewY(2deg);
    transform: perspective(420px) skewY(2deg); }
  .home .slanty-box .svg-icon {
    padding-top: 50px; }
  .home .slanty-box.education .svg-icon, .home .slanty-box.calculator .svg-icon {
    padding-top: 37px; }
  .home .slanty-box h2 {
    padding-top: 7px; }

.home .home-row {
  margin-top: 20px; }

.home nav .settings-button {
  display: block;
  width: 29px;
  height: 31px;
  float: right; }
  .home nav .settings-button .svg-icon {
    position: relative; }
    .home nav .settings-button .svg-icon svg * {
      fill: white; }

.signature .canvasContainer {
  display: block;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0; }

.signature canvas {
  cursor: crosshair;
  border: 2px solid #ebebed;
  border-radius: 3px;
  background-color: white; }

.voucher-dashboard main.container-fluid {
  padding: 105px 20px 0 20px; }

.voucher-dashboard .slanty-box {
  height: 428px; }
  .voucher-dashboard .slanty-box .svg-icon {
    padding-top: 72px; }
  .voucher-dashboard .slanty-box .subtitle {
    padding-top: 12px; }

.voucher-dashboard .home-button-container {
  display: none; }

.education-dashboard main.container-fluid {
  padding: 105px 20px 0 20px; }

.education-dashboard .slanty-box {
  height: 428px; }
  .education-dashboard .slanty-box .svg-icon {
    padding-top: 62px; }
  .education-dashboard .slanty-box.faqs .svg-icon {
    padding-top: 94px; }
  .education-dashboard .slanty-box.faqs h2 {
    padding-top: 42px; }
  .education-dashboard .slanty-box h2 {
    padding-top: 18px; }
  .education-dashboard .slanty-box .subtitle {
    padding-top: 12px; }

.education-dashboard .home-button-container {
  display: none; }

.refund-calculator label.purchase-amount {
  text-transform: uppercase;
  line-height: 50px; }

.refund-calculator #purchaseAmount {
  padding-left: 20px; }

.refund-calculator .input-container {
  position: relative; }

.refund-calculator .sneaky-symbol {
  position: absolute;
  left: 20px;
  line-height: 50px; }

.refund-calculator .refundRow {
  background: #ffffff;
  line-height: 50px; }
  .refund-calculator .refundRow.refundTitle {
    padding: 10px 0 20px 0;
    margin-top: 15px;
    text-transform: uppercase;
    color: #828282; }

.refund-calculator .min-description {
  padding-top: 15px;
  display: inline-block; }

.refund-calculator main.container-fluid {
  padding-top: 48px; }

.refund-calculator .amount {
  color: #245375;
  font-size: 35px;
  display: inline-block; }

.refund-calculator .home-button-container {
  display: none; }

.refund-calculator .min-amount {
  font: 1em "open_sansitalic"; }

.receiptList .headingRow {
  font-size: 15px;
  background-color: #363635;
  color: white;
  line-height: 56px;
  text-transform: uppercase;
  font-family: 'open_sanssemibold'; }
  .receiptList .headingRow > div {
    text-align: center; }
    .receiptList .headingRow > div:first-child, .receiptList .headingRow > div.align-left {
      text-align: left; }
    .receiptList .headingRow > div:last-child, .receiptList .headingRow > div.align-right {
      text-align: right; }

.receiptList .subHeadingRow {
  background-color: #f5f5f6;
  color: #363635;
  line-height: 50px;
  text-transform: uppercase;
  border-top: solid 1px #ebebed;
  border-bottom: solid 2px #ebebed; }
  .receiptList .subHeadingRow > div {
    text-align: center; }
    .receiptList .subHeadingRow > div:first-child, .receiptList .subHeadingRow > div.align-left {
      text-align: left; }
    .receiptList .subHeadingRow > div:last-child, .receiptList .subHeadingRow > div.align-right {
      text-align: right; }

.receiptList .regularRow {
  border: solid 1px #f0f0f2;
  border-top: none;
  font-size: 20px;
  line-height: 85px;
  vertical-align: middle; }
  .receiptList .regularRow > div {
    text-align: center; }
    .receiptList .regularRow > div:first-child, .receiptList .regularRow > div.align-left {
      text-align: left; }
    .receiptList .regularRow > div:last-child, .receiptList .regularRow > div.align-right {
      text-align: right; }
  .receiptList .regularRow.receipt {
    font-family: 'open_sanssemibold'; }

.receiptList .receiptLine {
  border-bottom: solid 2px #ebebed;
  padding-bottom: 10px; }
  .receiptList .receiptLine:last-child {
    border: none; }

.receiptList .spacerRow {
  background-color: #f5f5f6;
  line-height: 19px;
  border-bottom: solid 1px #f0f0f2; }

.receiptList .actionIcon {
  text-align: right;
  cursor: pointer; }

.receiptList .whiteBackground {
  background-color: white; }

.receiptList .resetLineHeight {
  line-height: 0;
  padding-top: 11px; }

.receiptList .itemName {
  font: 1em "open_sansregular";
  line-height: 40px; }

.receiptList .itemDescription {
  font: 0.7em "open_sansregular";
  word-break: break-all; }

.receiptList form .row, .receiptList ng-form .row {
  margin-bottom: 50px; }

.receiptList .actionIcon svg * {
  fill: #5581a6; }

.receiptList footer {
  display: block; }

.receiptList .expandCollapseButton {
  -webkit-transform: translateY(6px);
  transform: translateY(6px); }

.receiptList main.container-fluid {
  padding: 38px 74px; }

.receiptList.refund-review main.container-fluid {
  padding: 28px 10px 28px 10px; }

.receiptList.refund-review .tabContent {
  padding: 28px 74px; }

.receiptList .receipt-number-container {
  height: 86px;
  padding: 5px 0 5px 10px; }
  .receiptList .receipt-number-container .receipt-number-inner {
    word-break: break-all;
    line-height: 22px;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center; }

.premier-pass h3 {
  margin: 0; }

.premier-pass .blurb {
  font: 0.875em "open_sansregular";
  color: #90a0ae; }

.premier-pass .camera-button {
  margin: 75px 0 20px 0; }

.premier-pass label {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase; }

.refundReview footer {
  display: block; }

.refundReview .leftColumn .row {
  min-height: 50px;
  margin-bottom: 25px; }

.refundReview .rightColumn .row {
  margin-bottom: 50px; }

.refundReview .flag {
  height: 36px; }

.refundReview main.container-fluid {
  padding-top: 28px; }

.refundTypes .radioContainer {
  text-align: right;
  padding-top: 5px; }

.refundTypes .rowMargin {
  margin-bottom: 25px; }

.refundTypes .hideOffTopOfScreen {
  position: absolute;
  top: -99999px; }

.refundTypes main.container-fluid {
  display: -webkit-flex;
  display: flex; }

.refundTypes .refund-type-form {
  -webkit-flex: 1;
  flex: 1; }

.login .background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%; }

.login .background_left {
  background: url(../images/svg/loginbg_left.svg) top left no-repeat;
  background-size: contain; }

.login .background_right {
  right: 0;
  background: url(../images/svg/loginbg_right.svg) top right no-repeat;
  background-size: contain; }

.login .slanty-box {
  -webkit-transform: perspective(420px) skewY(-2deg);
  transform: perspective(420px) skewY(-2deg); }
  .login .slanty-box .unskew {
    -webkit-transform: perspective(420px) skewY(2deg);
    transform: perspective(420px) skewY(2deg); }

.login .login-box {
  background-color: white;
  padding: 50px 17.6666666% 50px 17.666666%;
  height: 455px;
  top: -20px; }
  .login .login-box .button, .login .login-box .walkthrough .carousel button, .walkthrough .carousel .login .login-box button {
    margin-top: 35px;
    padding: 0 50px 0 50px; }
  .login .login-box .logo {
    position: relative;
    top: -5px; }
    .login .login-box .logo svg * {
      fill: #3c3c3b; }
  .login .login-box .css-form {
    margin-top: 42px; }
  .login .login-box .css-form input[type=email], .login .login-box input[type=text] {
    margin-bottom: 25px; }

.login .debug-content {
  display: none; }

.login .login-container {
  margin-top: 40px; }

.add-receipt .home-button-container {
  display: none; }

.add-receipt .itemHeading {
  font: 1.25em "open_sansregular";
  color: #ec6607;
  text-transform: capitalize;
  padding-top: 15px; }

.add-receipt .narrowRow {
  margin-bottom: 15px !important; }

.add-receipt .add-receipt-button-col {
  padding-bottom: 30px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.add-receipt main.container-fluid {
  padding: 40px 10px 0 10px; }

.add-receipt .line-item {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.reports .home-button-container {
  display: none; }

.reports main {
  background: #ffffff;
  padding-top: 0; }

.reports .filter-container {
  padding: 10px 30px 10px 30px; }

.reports table {
  width: 100%; }
  .reports table thead {
    background: #f5f5f6; }
    .reports table thead tr {
      border-top: 1px solid #e9e9eb;
      border-bottom: 1px solid #e9e9eb; }
      .reports table thead tr th {
        color: #363635;
        text-transform: uppercase; }
        .reports table thead tr th:first-child, .reports table thead tr th.left-justify {
          padding-left: 20px;
          text-align: left; }
        .reports table thead tr th.right-justify {
          text-align: right;
          padding-right: 20px; }
        .reports table thead tr th.sort:after {
          content: '^';
          display: inline-block;
          padding: 0 0 0 5px; }
        .reports table thead tr th.sort.ascend:after {
          -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
          padding: 0 5px 0 0; }
  .reports table tbody tr {
    border-bottom: 1px solid #e9e9eb;
    cursor: pointer; }
    .reports table tbody tr:hover {
      background: #f5f5f6; }
    .reports table tbody tr td {
      color: #3c3c3b;
      text-align: center; }
      .reports table tbody tr td:first-child, .reports table tbody tr td.left-justify {
        padding-left: 20px;
        text-align: left; }
      .reports table tbody tr td.right-justify {
        text-align: right;
        padding-right: 20px; }
  .reports table th, .reports table td {
    padding: 20px; }

.reports.search-on .svg-icon.search svg * {
  fill: #ec6607; }

.reports.filter-on .svg-icon.filter svg * {
  fill: #ec6607; }

.reports.search-on.filter-on .filter-row {
  padding-top: 10px; }

.reports .name-col {
  text-align: left; }

.reports .voucher-no-col {
  text-align: left; }

.reports .amount-col {
  text-align: right; }

.reports-voucher-details .home-button-container {
  display: none; }

.print-voucher .home-button-container {
  display: none; }

.print-voucher .generating {
  text-align: center;
  padding-top: 30px; }

.print-voucher #pdfHolder div {
  text-align: center; }

.education.faqs.inner-app {
  -webkit-flex: 1;
  flex: 1; }

.education.phrasebook main.container-fluid {
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }

.education .home-button-container {
  display: none; }

.education .language-selection {
  background-color: white;
  text-align: center;
  padding: 8px 0;
  -webkit-flex: 0 0 65px;
  flex: 0 0 65px; }

.education .phrasebook-inner {
  padding: 10px 20px 0 20px;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  display: -webkit-flex;
  display: flex; }

.education .form-row {
  text-align: center;
  margin: 20px 0; }
  .education .form-row select {
    width: 20%; }

.education .phrase-row {
  text-align: center;
  padding: 13px 0 0 0; }
  .education .phrase-row select {
    width: 22%; }

.education .phrase-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px; }

.education .right-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 10px 0 20px 0; }

.education .listCategory, .education .listFAQ, .education .listPhrases {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .education .listCategory li, .education .listFAQ li, .education .listPhrases li {
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #ebebed; }

.education .translated {
  color: #ffffff;
  padding: 20px;
  background: #5581a6;
  text-align: left;
  -webkit-flex: 1;
  flex: 1; }
  .education .translated h4 {
    margin: 0;
    font-size: 1em; }
  .education .translated .translated-text {
    font-size: 1.5em; }

.education .education-options .languageWrapper {
  width: 20%;
  display: inline-block; }

.education .education-options .swaplan-icon {
  height: 50px;
  padding: 10px;
  display: inline-block;
  vertical-align: bottom; }

.education .listPhrases {
  text-align: left; }
  .education .listPhrases li {
    background: #f5f5f6;
    border-bottom: 0;
    padding: 10px 0; }
    .education .listPhrases li a {
      color: #363635;
      display: inline-block;
      position: relative;
      width: 100%;
      border: 2px solid #ffffff;
      background: #ffffff;
      padding: 20px;
      box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      text-decoration: none; }
      .education .listPhrases li a:hover, .education .listPhrases li a:focus {
        text-decoration: none; }
      .education .listPhrases li a .phraseText {
        display: inline-block;
        padding: 0px 30px; }
      .education .listPhrases li a .svg-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 20px; }
        .education .listPhrases li a .svg-icon.close-quote {
          left: auto;
          right: 20px; }
        .education .listPhrases li a .svg-icon svg * {
          fill: #f5f5f6; }
      .education .listPhrases li a.active {
        border: 2px solid #ec6607;
        box-shadow: none; }
        .education .listPhrases li a.active .svg-icon svg * {
          fill: #ec6607; }

.education .listCategory li {
  padding: 0px; }

.education .listCategory a {
  text-underline: none;
  display: block;
  background: #ffffff;
  padding: 20px; }
  .education .listCategory a.active {
    color: #ec6607;
    text-decoration: none; }
  .education .listCategory a:focus {
    text-decoration: none; }

.education.faqs main.container-fluid {
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: visible; }

.education.faqs .faqs-container {
  display: -webkit-flex;
  display: flex; }

.education.faqs .faq-column {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 10px 0 10px; }
  .education.faqs .faq-column.answers {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }

.education.faqs .listFAQ {
  -webkit-flex: 1;
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 30px; }
  .education.faqs .listFAQ h4 {
    color: #ec6607; }

.education.faqs .no-faqs {
  text-align: center; }

.education.faqs .listCategory {
  padding-top: 30px; }

.walkthrough main {
  overflow: hidden;
  display: -webkit-flex;
  display: flex; }

.walkthrough .walkthrough-inner {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.walkthrough .carousel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1;
  z-index: 10; }

.walkthrough nav {
  background-color: transparent;
  z-index: 10; }
  .walkthrough nav .status-bar {
    background-color: transparent; }
    .walkthrough nav .status-bar .content {
      display: none; }
  .walkthrough nav .home-button-container {
    display: none; }
  .walkthrough nav .button-left-side {
    width: 25%; }
    .walkthrough nav .button-left-side button {
      background-color: transparent;
      color: #3c3c3b; }
      .walkthrough nav .button-left-side button:hover:enabled, .walkthrough nav .button-left-side button:active:enabled, .walkthrough nav .button-left-side button:focus {
        background-color: transparent; }
  .walkthrough nav .button-right-side {
    width: 25%; }
  .walkthrough nav h1, .walkthrough nav footer .refundAmount, footer .walkthrough nav .refundAmount {
    display: block;
    color: #3c3c3b !important; }
  .walkthrough nav .button-row {
    margin-top: -35px; }

.walkthrough .background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%; }

.walkthrough .carousel .image-container {
  -webkit-flex: 0 0 730px;
  flex: 0 0 730px;
  position: relative;
  /*
      //TODO make this look good, if we have time
      .ng-hide-add {
        @extend .animated;
        @extend .slideInLeft;
      }

      .ng-hide-remove {
        @extend .animated;
        @extend .slideOutRight;
      }
      */ }
  .walkthrough .carousel .image-container img {
    position: absolute;
    width: 730px;
    height: 525px; }

.walkthrough .carousel .button-container {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  padding-top: 230px; }

.walkthrough .carousel button {
  width: 35px;
  height: 35px; }

.walkthrough .dibbles {
  margin: 0;
  padding: 0;
  display: inline-block; }
  .walkthrough .dibbles li {
    color: #828282;
    float: left;
    list-style-position: inside;
    width: 18px;
    font-size: 19px; }
    .walkthrough .dibbles li.selected {
      color: #c05407;
      list-style-type: circle; }

.walkthrough h1, .walkthrough footer .refundAmount, footer .walkthrough .refundAmount {
  text-transform: uppercase;
  font: 1.875em "open_sanssemibold"; }

.walkthrough h2 {
  color: #828282;
  font: 1em "open_sansregular";
  width: 430px;
  margin: 0 auto;
  height: 70px; }

.walkthrough .slanty-lower-section {
  width: 101%;
  z-index: 10;
  bottom: -30px;
  position: relative;
  -webkit-flex: 0 0 220px;
  flex: 0 0 220px;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  background-color: white;
  box-shadow: 0px -1px 1px #f5f5f6; }
  .walkthrough .slanty-lower-section .slanty-inner {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    text-align: center;
    padding-top: 40px; }

.walkthrough .backwards .carousel .image-container {
  /*
        .ng-hide-add {
          @extend .slideInRight;
        }

        .ng-hide-remove {
          @extend .slideOutLeft;
        }
        */ }

.de-de h2, .de-at h2, .de h2, .de-li h2, .de-lu h2, .de-ch h2 {
  font-size: 1.5em; }

.de-de .nationality-label, .de-at .nationality-label, .de .nationality-label, .de-li .nationality-label, .de-lu .nationality-label, .de-ch .nationality-label {
  margin-right: 40px; }

.de-de.reports-voucher-details footer .buttonPadding, .de-at.reports-voucher-details footer .buttonPadding, .de.reports-voucher-details footer .buttonPadding, .de-li.reports-voucher-details footer .buttonPadding, .de-lu.reports-voucher-details footer .buttonPadding, .de-ch.reports-voucher-details footer .buttonPadding {
  width: 30%; }
  .de-de.reports-voucher-details footer .buttonPadding button span, .de-at.reports-voucher-details footer .buttonPadding button span, .de.reports-voucher-details footer .buttonPadding button span, .de-li.reports-voucher-details footer .buttonPadding button span, .de-lu.reports-voucher-details footer .buttonPadding button span, .de-ch.reports-voucher-details footer .buttonPadding button span {
    white-space: nowrap; }

.de-de .ngdialog h2.pageTitle, .de-at .ngdialog h2.pageTitle, .de .ngdialog h2.pageTitle, .de-li .ngdialog h2.pageTitle, .de-lu .ngdialog h2.pageTitle, .de-ch .ngdialog h2.pageTitle {
  font-size: 1.2em; }

.it-it .ngdialog .walkthrough .button-row button, .it .ngdialog .walkthrough .button-row button {
  font-size: 1em; }

.fonth1Mobile {
  padding-top: 0 !important;
  font: 0.875em open_sanssemibold !important;
  margin: 0; }

.rowmobile {
  margin-top: -85px !important; }

h2,
h4 {
  margin: 0; }

.slantymobile {
  height: 180px !important; }

.iconmobile {
  padding-top: 10px !important; }

.textmargin {
  margin-top: 10px !important; }
