﻿<div class="row">
    <div class="col-sm-offset-1 col-sm-7">
        <h2 ng-if="vm.isMerchant" translate>SIGNATURE.MERCHANT_SIGN_HERE</h2>
        <h2 ng-if="!vm.isMerchant" translate>SIGNATURE.SHOPPER_SIGN_HERE</h2>
    </div>
</div>
<mu-signature class="canvasContainer" is-valid="vm.isValid" to-data-url="vm.getDataUrlFromDirective" existing-signature="vm.existingSignature">Loading signature...</mu-signature>

<div class="centerText">
    <h3></h3>
</div>
