<div class="row">
    <div class="col-sm-offset-1 col-sm-5">
        <a class="home-sector slanty-box" ui-sref="navigation.phrasebook">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/phrasebook.svg'"></div>
                <h2 data-translate>EDUCATION.PHRASEBOOK_TITLE</h2>
                <span class="subtitle" data-translate>EDUCATION.PHRASEBOOK_SUBTITLE</span>
            </div>
        </a>
    </div>

    <div class="col-sm-5">
        <a class="home-sector slanty-box faqs" ui-sref="navigation.faqs">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/faqs.svg'"></div>
                <h2 data-translate>EDUCATION.FAQS_TITLE</h2>
                <span class="subtitle" data-translate>EDUCATION.FAQS_SUBTITLE</span>
            </div>
        </a>
    </div>
</div> 