<div class="row">
    <div class="col-sm-offset-1 col-sm-5">

        <a class="slanty-box vouchers" ui-sref="{{navigation}}">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/vouchers.svg'"></div>
                <h2 data-translate>HOME.CREATE_FORM_TITLE</h2>
                <span class="subtitle" data-translate>HOME.CREATE_FORM_SUBTITLE</span>
            </div>
        </a>
    </div>

    <div class="col-sm-5">
        <a class="slanty-box reports" ui-sref="navigation.reportcustom">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/reports.svg'"></div>
                <h2 data-translate>DASHBOARDS.REPORTS</h2>
                <span class="subtitle" data-translate>HOME.REPORTS_SUBTITLE</span>
            </div>
        </a>
    </div>
</div>

<div class="row home-row">
    <div class="col-sm-offset-1 col-sm-5">
        <a class="slanty-box education" ui-sref="navigation.education">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/education.svg'"></div>
                <h2 data-translate>HOME.EDUCATION_TITLE</h2>
                <span class="subtitle" data-translate>HOME.EDUCATION_SUBTITLE</span>
            </div>
        </a>
    </div>

    <div class="col-sm-5">
        <a class="slanty-box calculator" ui-sref="navigation.refundcalculator">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/calculator.svg'"></div>
                <h2 data-translate>HOME.CALCULATOR_TITLE</h2>
                <span class="subtitle" data-translate>HOME.CALCULATOR_SUBTITLE</span>
            </div>
        </a>
    </div>
</div>