<nav class="navbar">
    <div class="container-fluid">
        <h2 class="pageTitle" data-translate>SETTINGS.WARNING_TITLE</h2>
        <div class="row button-row">
            <button data-ng-click="closeThisDialog()" class="col-xs-2 pull-left button" data-translate>COMMANDS.CANCEL</button>
            <button data-ng-click="closeThisDialog(true)" class="col-xs-2 pull-right button" data-translate>COMMANDS.CONFIRM</button>
        </div>
    </div>
</nav>

<div class="popupContent">
    <div class="row">
        <div class="col-sm-12" translate-values="{ queueLength: ngDialogData.queueLength }" data-translate>
            SETTINGS.WARNING_MESSAGE
        </div>
    </div>
</div>