<nav class="navbar">
    <h2 class="pageTitle" translate>SETTINGS.SETTINGS_TITLE</h2>

    <div class="container-fluid">
        <div class="row button-row">
            <button ng-click="closeThisDialog()"
                    class="col-xs-3 pull-left button tertiary" translate>COMMANDS.CLOSE</button>

            <button ng-click="logout()" class="col-xs-4 pull-right button" translate>
                SETTINGS.LOG_OUT
            </button>
        </div>
    </div>

</nav>


<div class="container-fluid inner-dialog">
    <h3>{{merchantConfig.Store.StoreName}}</h3>

    <div class="row">
        <div class="col-xs-6">

            <div>
                <label translate>SETTINGS.MERCHANT_ID</label>
                <div class="field">{{merchantConfig.Store.PtfShopNumber}}</div>
            </div>

            <div>
                <label translate>SETTINGS.ADDRESS</label>

                <div class="field">
                    <div ng-repeat="line in address track by $index">{{line}}</div>
                </div>
            </div>

            <div class="walkthrough">
                <label translate>SETTINGS.WALKTHROUGH</label>

                <div class="field">
                    <label for="show-walkthrough" translate class="normal on-launch-label">SETTINGS.SHOW_ON_LAUNCH</label>
                    <input type="checkbox" id="show-walkthrough" ng-model="showWalkthrough" ng-change="walkthroughChanged()"/>
                    <label for="show-walkthrough"></label>
                </div>


                <div class="row button-row">
                    <button ng-click="showWalkthroughNow()"
                            class="padded-button pull-left button secondary" translate>COMMANDS.SHOW_WALKTHROUGH</button>
                </div>

            </div>

        </div>
        <div class="col-xs-6">

            <div>
                <label translate>SETTINGS.JOURNEY</label>

                <div class="field">{{settings.addReceiptScenario}}</div>
            </div>

            <div>
                <label translate>SETTINGS.VIP_ALLOWED</label>

                <div class="field">{{settings.vipRefundAllowed}}</div>
            </div>

            <div>
                <label translate>SETTINGS.TOURIST_SIG_ENABLED</label>

                <div class="field">{{settings.enableTouristSignature}}</div>
            </div>

            <div>
                <label translate>SETTINGS.MERCHANT_SIG_ENABLED</label>

                <div class="field">{{settings.enableMerchantSignature}}</div>
            </div>

            <div>
                <label translate>SETTINGS.REFUND_TABLE</label>

                <div class="field">{{settings.refundTableIds}}</div>
            </div>

            <div>
                <label translate>Locale</label>

                <div class="field">{{locale}}</div>
            </div>
        </div>

        <div class="version-code">
            {{version}} ({{build}})
        </div>
    </div>


</div>
