<div class="row">
    <div class="col-sm-offset-1 col-sm-5">
        <a class="slanty-box" ng-click="vm.goToPremierPassScan()">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/premierpass.svg'"></div>
                <h2 data-translate>CREATE.PREMIER_PASS</h2>
                <span class="subtitle" data-translate>CREATE.PREMIER_PASS_SUBTITLE</span>
            </div>
        </a>
    </div>

    <div class="col-sm-5">
        <a class="slanty-box" ng-click="vm.createVoucher()">
            <div class="unskew">
                <div class="svg-icon" ng-include="'images/svg/passport.svg'"></div>
                <h2 data-translate>CREATE.PASSPORT</h2>
                <span class="subtitle" data-translate>CREATE.PASSPORT_SUBTITLE</span>
            </div>
        </a>
    </div>
</div>