<ng-form name="myForm">
	<div class="row rowmobile" style="margin-left: -70px;">
		<div class="col-xs-offset-1 col-xs-5">
			<a class="slanty-box slantymobile" ng-click=vm.premierPassScan() style="box-shadow: 15px 15px 15px grey;">
				<div class=unskew>
					<div class="svg-icon iconmobile" ng-include="'images/svg/premierpassMobile.svg'"></div>
					<h2 data-translate class=fonth1Mobile>CREATE.PREMIER_PASS</h2>
					<span class=subtitle data-translate>CREATE.PREMIER_PASS_SUBTITLE</span>
				</div>
			</a>
		</div>
		<div class="col-xs-offset-1 col-xs-5" style="margin-bottom: 50px;">
			<a class="slanty-box slantymobile" ng-click=vm.scanPassport() style="box-shadow: 15px 15px 15px grey;">
				<div class=unskew>
					<div class="svg-icon iconmobile" ng-include="'images/svg/passportMobile.svg'"></div>
					<h2 data-translate class=fonth1Mobile>CREATE.PASSPORT</h2>
					<span class=subtitle data-translate>CREATE.PASSPORT_SUBTITLE</span>
				</div>
			</a>
		</div>
		
		<div class="row textmargin">
			<label for=passnumber class="col-xs-offset-1 col-xs-3 textmargin"  data-translate >PREMIER_PASS.PASS_NUMBER</label>
			<div class=col-xs-5>
				 <input type="text" pattern="\d*" id="passnumber" ng-model="vm.premierPassNumber"
               ng-class="{ inputHasValue: vm.premierPassNumber }" 
               placeholder="{{'PREMIER_PASS.ENTER_NUMBER' | translate}}"/>					
					
				</div>
				
				<div class="col-xs-3">
           <button data-ng-click="vm.searchForTouristUsingPremierPassId()" class="col-sm-12 pull-left button" data-translate>COMMANDS.SEARCH</button> 
        </div>
				
								
			</div>
		<div class="row textmargin">
			<label for=passportNumber class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Passport.Number }" data-translate >NEWCUSTOMER.PASSPORTNUMBER</label>
			<div class=col-xs-8>
				<input type=text data-ng-model=vm.customer.Passport.Number ng-class="{ inputHasValue: vm.customer.Passport.Number }" name=passportNumber id=passportNumber autocomplete=off autocorrect=off autocapitalize=off spellcheck=false placeholder="{{'NEWCUSTOMER.PASSPORTNUMBER_PLACEHOLDER' | translate}}" ng-required=vm.requiredFields.Tourist.Passport.Number ng-change="vm.checkpassportNumberCharacters()">
					<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Passport.Number" ng-include="'images/svg/validation.svg'"></span>
					<p class="help-block validationMessage" ng-show="myForm.passportNumber.$error.required && myForm.passportNumber.$touched" data-translate>VALIDATION.REQUIRED</p>
				</div>
			</div>
			<div class="row textmargin">
				<label for=country-of-issue class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Passport.IssuingCountry }" translate >NEWCUSTOMER.COUNTRY_OF_ISSUE</label>
				<div class=col-xs-8>
					<div class=select-wrapper>
						<select name=countryOfIssue ng-model=vm.customer.Passport.IssuingCountry ng-disabled=disabled ng-required=vm.requiredFields.Tourist.Passport.IssuingCountry ng-options="country as country.Name for country in vm.countries track by country.Iso3Digit" ng-class="{ inputHasValue: vm.customer.Passport.IssuingCountry }" ng-change="vm.countryChange()">
							<option value data-translate>NEWCUSTOMER.COUNTRY_OF_ISSUE</option>
						</select>
					</div>
					<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Passport.IssuingCountry" ng-include="'images/svg/validation.svg'"></span>
					<p class="help-block validationMessage" ng-show="myForm.countryOfIssue.$error.required && myForm.countryOfIssue.$touched" data-translate>VALIDATION.REQUIRED</p>
				</div>
			</div>
			<div class="row textmargin" data-ng-model=vm.customer.Passport.ExpirationDate mu-validate-date=vm.requiredFields.Passport.ExpirationDate future-date data-validator-name=ExpirationDate>
				<label for=year class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Passport.ExpirationDate }" data-translate >NEWCUSTOMER.PASSPORT_EXPIRY_DATE</label>
				<div class=col-xs-2>
					<div class=select-wrapper>
						<select name=dayExp id=dayExp ng-options="day for day in vm.dateDropdowns.days" ng-model=vm.customer.Passport.ExpirationDate_.day ng-class="{ inputHasValue: vm.customer.Passport.ExpirationDate_.day }" ng-required=vm.requiredFields.Tourist.Passport.ExpirationDate>
							<option translate value>NEWCUSTOMER.DAY_PLACEHOLDER</option>
						</select>
					</div>
					<p class="help-block validationMessage" ng-show="myForm.day.$error.required && myForm.day.$touched" data-translate>VALIDATION.REQUIRED</p>
					<p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.incompleteDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INCOMPLETE</p>
					<p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.invalidDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INVALID</p>
				</div>
				<div class=col-xs-3>
					<div class=select-wrapper>
						<select name=monthExp ng-options="month.id as month.name for month in vm.dateDropdowns.months" ng-model=vm.customer.Passport.ExpirationDate_.month ng-class="{ inputHasValue: vm.customer.Passport.ExpirationDate_.month || vm.customer.Passport.ExpirationDate_.month === 0}" ng-required=vm.requiredFields.Tourist.Passport.ExpirationDate>
							<option translate value>NEWCUSTOMER.MONTH_PLACEHOLDER</option>
						</select>
					</div>
					<p class="help-block validationMessage" ng-show="myForm.month.$error.required && myForm.month.$touched" data-translate>VALIDATION.REQUIRED</p>
				</div>
				<div class=col-xs-3>
					<div class=select-wrapper>
						<select name=yearExp ng-options="year for year in vm.dateDropdowns.futureYears" ng-model=vm.customer.Passport.ExpirationDate_.year ng-class="{ inputHasValue: vm.customer.Passport.ExpirationDate_.year }" ng-required=vm.requiredFields.Tourist.Passport.ExpirationDate>
							<option translate value>NEWCUSTOMER.YEAR_PLACEHOLDER</option>
						</select>
					</div>
					<span class="form-control-feedback validationIcon" aria-hidden=true ng-show="vm.requiredFields.Tourist.Passport.ExpirationDate || (myForm.$error.ExpirationDate_incompleteDate && myForm.dayExp.$touched && myForm.monthExp.$touched && myForm.yearExp.$touched) || (myForm.$error.ExpirationDate_invalidDate && myForm.dayExp.$touched && myForm.monthExp.$touched && myForm.yearExp.$touched)" ng-include="'images/svg/validation.svg'"></span>
					<p class="help-block validationMessage" ng-show="myForm.year.$error.required && myForm.year.$touched" data-translate>VALIDATION.REQUIRED</p>
				</div>
			</div>
			<div class="row textmargin" ng-if=!vm.hiddenFields.Tourist.LastName>
				<label for=title class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Title || vm.requiredFields.Tourist.LastName }" data-translate >NEWCUSTOMER.NAME_AND_TITLE</label>
				<div class=col-xs-2>
					<div class=select-wrapper>
						<select ng-model=vm.customer.Title ng-class="{ inputHasValue: vm.customer.Title }" name=title id=title ng-required=vm.requiredFields.Tourist.Title ng-options="t.id as t.name for t in titles">
							<option value data-translate>NEWCUSTOMER.TITLE_PLACEHOLDER</option>
						</select>
					</div>
				</div>
				<div class=col-xs-3>
					<input type=text name=firstName id=firstName data-ng-model=vm.customer.FirstName ng-class="{ inputHasValue: vm.customer.FirstName }" ng-required=vm.requiredFields.Tourist.FirstName placeholder="{{'NEWCUSTOMER.FIRSTNAME_PLACEHOLDER' | translate}}">
						<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.FirstName" ng-include="'images/svg/validation.svg'" placeholder="{{'NEWCUSTOMER.FIRSTNAME_PLACEHOLDER' | translate}}"></span>
						<p class="help-block validationMessage" ng-show="myForm.firstname.$error.required && myForm.firstname.$touched" data-translate>VALIDATION.REQUIRED</p>
					</div>
					<div class=col-xs-3>
						<input type=text name=lastName id=lastName data-ng-model=vm.customer.LastName ng-class="{ inputHasValue: vm.customer.LastName }" ng-required=vm.requiredFields.Tourist.LastName placeholder="{{'NEWCUSTOMER.SURNAME_PLACEHOLDER' | translate}}">
							<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.LastName" ng-include="'images/svg/validation.svg'"></span>
							<p class="help-block validationMessage" ng-show="myForm.lastName.$error.required && myForm.lastName.$touched" data-translate>VALIDATION.REQUIRED</p>
						</div>
					</div>
					<div class="row textmargin" ng-if=!vm.hiddenFields.Tourist.Nationality>
						<label for=nationality class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Nationality }" data-translate > NEWCUSTOMER.NATIONALITY</label>
						<div class=col-xs-8>
							<div class=select-wrapper>
								<select name=nationality ng-model=vm.customer.Nationality ng-disabled=disabled ng-required=vm.requiredFields.Tourist.Nationality ng-options="country as country.Name for country in vm.countries track by country.Iso3Digit" ng-class="{ inputHasValue: vm.customer.Nationality }">
									<option value data-translate>NEWCUSTOMER.NATIONALITY_PLACEHOLDER</option>
								</select>
							</div>
							<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Nationality" ng-include="'images/svg/validation.svg'"></span>
							<p class="help-block validationMessage" ng-show="myForm.nationality.$error.required && myForm.nationality.$touched" data-translate>VALIDATION.REQUIRED</p>
						</div>
					</div>
					<div class="row textmargin" mu-validate-date=vm.requiredFields.Tourist.DateOfBirth data-ng-model=vm.customer.DateOfBirth data-under-age=Tourist.underAge data-validator-name=DateOfBirth ng-if=!vm.hiddenFields.Tourist.DateOfBirth>
						<label for=year class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.DateOfBirth }" data-translate >NEWCUSTOMER.DOB</label>
						<div class=col-xs-2>
							<div class=select-wrapper>
								<select name=day id=day ng-options="day for day in dateDropdowns.days" ng-model=vm.customer.DateOfBirth_.day ng-class="{ inputHasValue: vm.customer.DateOfBirth_.day }" ng-required=vm.requiredFields.Tourist.DateOfBirth>
									<option translate value>NEWCUSTOMER.DAY_PLACEHOLDER</option>
								</select>
							</div>
							<p class="help-block validationMessage" ng-show="myForm.day.$error.required && myForm.day.$touched" data-translate>VALIDATION.REQUIRED</p>
							<p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.incompleteDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INCOMPLETE</p>
							<p class="help-block validationMessage validationFixedWidth" data-ng-show="myForm.$error.invalidDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched" data-translate>VALIDATION.DATE_ERROR_INVALID</p>
							<p class="help-block validationMessage validationFixedWidth validationWarning" data-ng-show="myForm.$error.underAgeDateOfBirth" data-translate>VALIDATION.DATE_ERROR_UNDER_AGE</p>
							<p class="help-block validationMessage validationFixedWidth" data-ng-show=myForm.$error.futureDate data-translate>VALIDATION.DATE_ERROR_FUTURE</p>
						</div>
						<div class=col-xs-3>
							<div class=select-wrapper>
								<select name=month ng-options="month.id as month.name for month in dateDropdowns.months" ng-model=vm.customer.DateOfBirth_.month ng-class="{ inputHasValue: vm.customer.DateOfBirth_.month || Tourist.DateOfBirth_.month === 0}" ng-required=vm.requiredFields.Tourist.DateOfBirth>
									<option translate value>NEWCUSTOMER.MONTH_PLACEHOLDER</option>
								</select>
							</div>
							<p class="help-block validationMessage" ng-show="myForm.month.$error.required && myForm.month.$touched" data-translate>VALIDATION.REQUIRED</p>
						</div>
						<div class=col-xs-3>
							<div class=select-wrapper>
								<select name=year ng-options="year for year in dateDropdowns.years" ng-model=vm.customer.DateOfBirth_.year ng-class="{ inputHasValue: vm.customer.DateOfBirth_.year }" ng-required=vm.requiredFields.Tourist.DateOfBirth>
									<option translate value>NEWCUSTOMER.YEAR_PLACEHOLDER</option>
								</select>
							</div>
							
							<span class="form-control-feedback validationIcon" aria-hidden=true ng-show="myForm.$error.underAgeDateOfBirth || vm.requiredFields.Tourist.DateOfBirth || (myForm.$error.DateOfBirth_incompleteDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched) || (myForm.$error.DateOfBirth_invalidDate && myForm.day.$touched && myForm.month.$touched && myForm.year.$touched)" ng-include="'images/svg/validation.svg'"></span>
							<p class="help-block validationMessage" ng-show="myForm.year.$error.required && myForm.year.$touched" data-translate>VALIDATION.REQUIRED</p>
						</div>
					</div>
					<div class="row textmargin" ng-if="showEmail && !vm.hiddenFields.Tourist.Email">
						<label for=email class="col-sm-offset-2 col-sm-5 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Email }" data-translate >NEWCUSTOMER.EMAIL</label>
						<div class=col-sm-2>
							<input type=email name=email id=email data-ng-model=Tourist.Email ng-class="{ inputHasValue: vm.customer.Email.length }" pattern=[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,63}$ ng-required=vm.requiredFields.Tourist.Email placeholder="{{'NEWCUSTOMER.EMAIL_PLACEHOLDER' | translate}}">
								<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Email" ng-include="'images/svg/validation.svg'"></span>
								<p class="help-block validationMessage" ng-show="myForm.email.$error.required && myForm.email.$touched" data-translate>VALIDATION.REQUIRED</p>
							</div>
						</div>
						<div class="row textmargin" ng-if=!vm.hiddenFields.Tourist.Address.Country.Name>
							<label for=countryOfResidence class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Address.Country }" data-translate >NEWCUSTOMER.COUNTRY_OF_RESIDENCE</label>
							<div class=col-xs-8>
								<div class=select-wrapper>
									<select name=countryOfResidence ng-model=vm.customer.Address.Country ng-disabled=disabled ng-required=vm.requiredFields.Tourist.Address.Country ng-options="country as country.Name for country in vm.countries track by country.Iso3Digit" ng-class="{ inputHasValue: vm.customer.Address.Country }" ng-change="vm.countryChange()">
										<option value data-translate>NEWCUSTOMER.COUNTRY_OF_RESIDENCE_PLACEHOLDER</option>
									</select>
								</div>
								<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Address.Country" ng-include="'images/svg/validation.svg'"></span>
								<p class="help-block validationMessage" ng-show="myForm.countryOfResidence.$error.required && myForm.countryOfResidence.$touched" data-translate>VALIDATION.REQUIRED</p>
							</div>
						</div>
						<div class="row textmargin" ng-if=!vm.hiddenFields.Tourist.Address.AddressLine1>
							<label for=street class="col-xs-offset-1 col-xs-3 textmargin" ng-class="{ required: vm.requiredFields.Tourist.Address.AddressLine1 }" data-translate >NEWCUSTOMER.STREET_AND_HOUSE_NUMBER_PLACEHOLDER</label>
							<div class=col-xs-8>
								<input name=street id=street type=text data-ng-model=vm.customer.Address.AddressLine1 ng-class="{ inputHasValue: vm.customer.Address.AddressLine1 }" ng-required=vm.requiredFields.Tourist.Address.AddressLine1 placeholder="{{'NEWCUSTOMER.STREET_AND_HOUSE_NUMBER_PLACEHOLDER' | translate}}" >
									<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Address.AddressLine1" ng-include="'images/svg/validation.svg'"></span>
									<p class="help-block validationMessage" ng-show="myForm.street.$error.required && myForm.street.$touched" data-translate>VALIDATION.REQUIRED</p>
								</div>
							</div>
							<div class="row textmargin" ng-if=!vm.hiddenFields.Tourist.Address.AddressLine2>
								<label for=address2 class="col-xs-offset-1 col-xs-3 textmargin" data-translate></label>
								<div class=col-xs-8>
									<input name=address2 id=address2 type=text data-ng-model=vm.customer.Address.AddressLine2 ng-required=vm.requiredFields.Tourist.Address.AddressLine2 ng-class="{ inputHasValue: vm.customer.Address.AddressLine2 }" >
									</div>
								</div>
								<div class="row textmargin" ng-if=!vm.hiddenFields.Tourist.Address.City>
									<div class="col-xs-offset-4 col-xs-8">
										<input name=city id=city type=text data-ng-model=vm.customer.Address.City ng-class="{ inputHasValue: vm.customer.Address.City }" ng-required=vm.requiredFields.Tourist.Address.City placeholder="{{'NEWCUSTOMER.CITY_PLACEHOLDER' | translate}}" >
											<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Address.City" ng-include="'images/svg/validation.svg'"></span>
											<p class="help-block validationMessage" ng-show="myForm.city.$error.required && myForm.city.$touched" data-translate>VALIDATION.REQUIRED</p>
										</div>
									</div>
									<div class="row textmargin" ng-if=!vm.hiddenFields.Tourist.Address.PostalCode>
										<div class="col-xs-offset-4 col-xs-8">
											<input type=text name=zip id=zip data-ng-model=vm.customer.Address.PostalCode ng-maxlength=10 ng-class="{ inputHasValue: vm.customer.Address.PostalCode }" ng-required=vm.requiredFields.Tourist.Address.PostalCode placeholder="{{'NEWCUSTOMER.ZIP_PLACEHOLDER' | translate}}" >
												<span class="form-control-feedback validationIcon" aria-hidden=true ng-hide="!vm.requiredFields.Tourist.Address.PostalCode" ng-include="'images/svg/validation.svg'"></span>
												<p class="help-block validationMessage" ng-show="myForm.zip.$error.required && myForm.zip.$touched" data-translate>VALIDATION.REQUIRED</p>
											</div>
										</div>
									</div>
								</ng-form>